//AWS
@import "../../abstracts/vars";
@import "../../abstracts/mixins";
.library-wrapper {
    
    img {
        width:100%;
        height:auto;
    }
    .row.column-splitter {
        margin-top: 20px;
        @include respond-to(all-phone) {
            .col-sm-4 {
                [class*="col-"] {
                    padding-left:0;
                    padding-right:0;
                }
            }
            .col-sm-4:nth-of-type(1) {
                margin-bottom:15px;    
            }
        }
    }

    .search-box-clear {
        margin:7px 0;
    }
    .facet-component {
        background:transparent;
        padding:0;
        margin:10px 0;

        
        &.facet-dropdown {
            select {
                border-radius:0;
            }
        }

        .facet-heading {
            border-bottom:0;
            padding: 0;
            margin: 0;
            .facet-title {
                text-transform:none;
                margin-bottom:10px;
            }
            .clear-filter {
                background:transparent !important;
                &::before {
                    top:-1px;
                }
                &:hover {
                    background: $text-red !important;
                }
                &.has-active-facet {
                    background:$text-red !important;
                    &:hover {
                        background: $bg-red !important;
                    }
                }
            }
        }
    }
    .search-results-count {
        font-size:$font-small;
    }
    .divider {
        hr {
            @include border-basic(top);
        }
    }
    @include respond-to(all-phone) {
        .facet-title {
            font-size:$font-small !important;
        }
    }
}
 

