.search-wrapper {
    @include respond-to(desktop) {
        padding:0;
        &.col-xs-12 {
            padding:0;
        }
    }
    @include respond-to(all-phone) {
          &.col-lg-3 {
            //margin-top:$extra-large-margin;
            margin-top:60px;
        }
    }
    a {color:$text-red}
    .highlighted {background-color:yellow} //to show keywords for testing

    //override the 1px offset thats coming from somewhere?
    .facet-component {
        .facet-heading {
            .clear-filter {
                &.has-active-facet {
                    &::before {
                        top:-1px;
                    }
                }
            }
        }
    }

    .divider, 
    .search-results-count, 
    .sort-results, 
    .page-size, 
    .search-results {
        padding:0;
    }
    .page-size select {border-radius:0}

    .search-results-count {line-height:34px}
    @include respond-to(all-phone) {
        .search-results-count {
            margin-bottom:15px;
        }
    }
    .sort-results {
        label {
            position:relative;
            top:2px;
        }
    }
    .search-results {
        li {
            margin-bottom:15px;
        }
        .page, .field-title, .field-linkexternal {
            a {
                color:$text-red;
                font-weight:700;
                font-size:$font-medium;
                &:hover, &:active, &:focus {
                    color:$text-black;
                }
            }
        }
        .url, .field-publisheddate {
            font-size:14px;
            color:$text-black;
            a {
                color:$text-black;
            }
        }
    }
}