.trending-wrapper {
    background:rgba(60,68,88,0.6);
    position:relative;
    //top:95px;
    top: 69px;
    z-index:9;
    
    .list-inline.trending {
        margin:15px 0;
        text-align:right;
        > .component-content {
            float:right;
            h3 {
                float:left;
                color:$text-white; 
                font-size:$font-normal;
                font-weight:600;
                margin:0;
                padding:5px 10px;
            }
            ul {
                float:right;
                position: relative;
                z-index: 10;
                li {
                    padding-left:10px;

                    @include respond-to(large) {
                        padding-left:20px;
                    }
                    &:before {
                        content:none;
                    }
                    a {
                        font-size:$font-normal;
                        color:$text-white;
                        text-decoration:none;
                        padding-left: 10px;
                        &:before {
                            content:none;
                        }
                        &:hover{text-decoration:underline;}
                    }
                }
            }
        }
    }
    @include respond-to(tablet) {
        margin-bottom: 12px;
    }
    /* Mobile */
    @include respond-to(all-phone) {
        top:0;
        background: #4a464e;

        .list-inline.trending {
        	text-align: left;
        	margin: 10px 0;

	        > .component-content {
	        	float: none;
	        	h3{
	        		float: none;
	        		cursor: pointer;
	        		position: relative;
                    padding-left: 15px;
                    visibility: hidden;

                    &:before{
                        content: 'Trending Topics';
                        visibility: visible;
                        position: absolute;
                        display: block;
                        width: 100%;
	        		}
	        		&:after{
	        			content: '\f078';
	        			font-family: 'Font Awesome 5 Pro';
	        			font-size: 16px;
	        			position: absolute;
	        			right: 15px;
	        			top:50%;
	        			margin-top: -8px; 
                        color: #fff;
                        visibility: visible;
	        		}
	        	}
	        	ul{
	        		float: none;
	        		height: 0;
	        		overflow: hidden;
	        		margin: 0;
	        		transition: height ease-out 250ms;

	        		li{
	        			&.first{margin-left:10px}
	        			display: block;
	        			padding: 5px 10px;
	        			& + li{margin:0;}
	        			opacity: 0;
	        			transform: translateX(-20px);
	        			transition: opacity ease-out 250ms, transform ease-out 250ms;
	        		}
        			li[data-animating="show"]{
        				opacity: 1;
        				transform: translateX(0);
        			}
	        	}

	        	// Opened
	        	&.isMobileOpened{
	        		h3:after{content: '\f077';}
	        		ul{height: 146px;}
	        	}
	        }
        }
    }
}