//AwS
&.list-inline {
    margin-bottom: 10px;
    &.col-xs-12 {
        padding:0;
    }
    h1, h2 {
        color: $text-white;
        margin-top: $middle-margin;
        margin-bottom: $small-margin;
        text-transform:uppercase;
    }
    > .component-content {
        ul {
            li {
                display: inline;
                margin-left: 10px;
                a {
                    @include raleway-font-stack();
                    font-weight: 400;
                    border: none;
                    color: #c5cedc;
                    font-size: $font-normal;
                    text-decoration:underline;
                    
                    &:before {
                        content:"•";
                        font-size:1.2em;
                        vertical-align:middle;
                        left:-5px;
                    }
                    &:hover {
                        color: $text-white;
                        text-decoration: underline;
                    }

                    @include respond-to(desktop) {
                        font-size: $font-big;
                    }
                }
            }
            li:first-child {
                //padding-left: 0;
                a {
                    //padding-left: 0;
                    &:before {
                        content:none;
                    }
                }
            }
            @include respond-to(all-phone) {
                margin-bottom: $large-margin;
            }
        }
    }
}