//AWS
@import "../../abstracts/mixins";

&.library {
    padding:0 !important; 

    //temp for the blog
    .field-blogimage { 
        line-height:1; 
        img {
            width:100%;
            height:auto;
        }
    }

    .search-result-list {
        width: 100%;
        >li {
            box-sizing: border-box;
            position: relative;
            width: 50%;
            height: auto;
            padding: 15px;
            float: left;
            
            &:nth-child(odd) {
                clear: left;
            }

            > div {
                width: 100%;
                @include border-basic();
                border-bottom: none;
                float: left;
            }
            .result-image * {
                @include transition(all .3s ease-in-out);
            }
            .result-image {
                position:relative;
                overflow: hidden;
                
                img {
                    line-height:1;
                    position:relative;
                    overflow: hidden;
                    width:100%;
                    height:auto;
                }
                .field-type {
                    background:rgba(11,30,41,0.7);
                    width:100%;
                    height:100%;
                    position:absolute;
                    top:0;
                    left:0;
                    z-index:1;
                }
                .field-type-icon {
                    height:128px;
                    width:100%;
                    position:absolute;
                    top:0;
                    left:0;
                    text-align:center;
                    margin:20% auto 0 !important;
                    opacity: 1;
                    z-index:1;

                    @include respond-to(all-phone) {
                        margin:20% auto !important;
                    }

                    &.Case.Study, &.Program, &.White.Paper, &.eBook, &.Video {
                        &:before, &:after {
                            display:block;
                            color:$text-white;
                            text-transform:uppercase;
                            font-weight:bold;
                            font-size:14px;
                            @include opensans-font-stack();
                            line-height:1;
                        }
                        &:before {
                            @include fa-icon();
                            font-size:3.75em;
                        }
                        &:after {
                            margin-top:5px;
                        }
                    }
                    &.Case.Study {
                        &:before {
                            content: fa-content($fa-var-file-alt);
                            //content:url('/-/media/Project/AWS/Images/resources/icons/icon-case-study.png');
                        }
                        &:after {
                            content:"Case Study";
                        }
                    }
                    &.Program { 
                        &:before {
                            content: fa-content($fa-var-file-contract);
                            //content:url('/-/media/Project/AWS/Images/resources/icons/icon-program.png');
                        }
                        &:after {
                            content:"Program";
                        }
                    }

                    &.White.Paper {
                        &:before {
                            content: fa-content($fa-var-file);
                            //content:url('/-/media/Project/AWS/Images/resources/icons/icon-whitepaper.png');
                        }
                        &:after {
                            content:"White Paper";
                        }
                    }
                    &.eBook {
                        &:before {
                            content: fa-content($fa-var-book);
                            //content:url('/-/media/Project/AWS/Images/resources/icons/icon-ebook.png');
                        }
                        &:after {
                            content:"eBook";
                        }
                    }
                    &.Video {
                        &:before {
                            content: fa-content($fa-var-play-circle);
                            //content:url('/-/media/Project/AWS/Images/resources/icons/icon-video.png');
                        }
                        &:after {
                            content:"Video";
                        }
                    }
                }
                &:hover {
                    overflow: hidden;
                    img {
                        transform: scale(1.2);
                    }
                    .field-type {
                        background:rgba(255,255,255,0.0);
                    }
                    .field-type-icon {
                        transform: scale(.8);
                        opacity: 0;
                    }
                    .field-type, .field-type-icon {
                        z-index:-1; /*so the link will show for files*/
                    }
                }
            }

            .result-body {
                background:$bg-white;
                width: 100%;
                padding:20px 15px;
                position:relative;
                z-index:2;
                @include border-basic(bottom);
                border-top: none;
                min-height: 245px;
                
                .field-publisheddate {
                    font-size:14px;
                    margin-bottom:10px;
                }
                .field-resourcetype {
                    font-size:14px;
                    color:$text-black;
                    text-transform:uppercase;
                    margin-bottom:-5px;
                }

                .link {
                    margin:0 0 10px 0;
                    display:table-cell;
                    vertical-align:text-top;
                    line-height:1.3;
                    a {
                        font-size: 16px;
                        text-decoration: none;
                        font-weight:700;
                        color:$text-red;

                        &:hover, &:active, &:focus {
                            text-decoration:underline;
                        }
                    }
                }

                .field-description, .field-excerpt {
                    margin-top:10px;
                    overflow:hidden;
                }
            }
            @include respond-to(phone) {
                width: 100%;
                .result-body {
                    min-height: 160px;
                }
            } 
            @include respond-to(tablet) {
                width: 50%;
                .result-body {
                    height: 245px;
                    overflow: hidden;
                }
            }
            @include respond-to(desktop) {
                width: 33.3333%;
                &:nth-child(odd) {
                    clear: none;
                }
                .result-body {
                    height: 285px;
                }
            }
            @include respond-to(large) {
                width: 25%;
                &:nth-child(4n+1){
                    clear: left;
                }
                .result-image {
                    max-height: 170px;
                }
            }
        }
        :nth-child(4n) {
            margin-right:0;
        }
    }
}