.search-box.icon-only {
    padding:0;
    width: auto;
    height: 69px;
    margin-left: -40px;
    float: right;
    z-index:99;
    @include respond-to(all-phone) {
        /*padding:0;
        width:auto;*/
        height:auto;
        margin-left:0;
        right:40px;
    }

    button, button[type="submit"] {
        border: none;
        color: transparent;
        padding: 5px;
        margin: 0;
        box-shadow: none;
    }
    input[type="submit"], input[type="reset"], input[type="button"], button {
        border: 0;
        padding: 5px;

        &:hover {
            background:transparent !important;
        }
    }
    .component-content {
        > button {
            color: transparent;
            border: 0;
            background: transparent !important;
        }

        > button::after {
            font-size: 16px;
            @include fa-icon();
            content: fa-content($fa-var-search);
            font-weight:400;
            color: #000;
            //AwS
            display:block;
            position: relative;
            margin-top:0;
            top:0;
            left: 0;
            right: 0;

            @include respond-to(all-phone) {
                font-size: 28px;
                margin-top:0;
                display:block;
                position:relative;
                top:-8px;
            }
            @include respond-to(tablet) {
                top:-3px;
            }
            @include respond-to(xlarge) {
                font-size: 18px;
            }
        }

        > button:hover::after {
            color: #cc0000;
        }
    }
}
