/*AWS*/
.search-box-clear {
    padding:0;
    margin:7px 0;
    //overwrite the styles added to the base search-box
    @include respond-to(all-phone) {
        width:100%;
        height:auto;
        position:relative;
        right:auto;
    }
    
    .facet-heading {
        position: relative;
        .facet-title {
            color: $search-title-color;
            @include raleway-font-stack();
            font-size:$font-big;
            font-weight:600;
        }
    }

    .clear-filter {
        padding:0;
        a {
            font-size:14px;
            //color:$text-black; //for testing
            color:$text-white;
            //visibility:hidden;
            &::before {
                //visibility:visible;
                vertical-align:bottom;
                color: $text-black;
                @include fa-icon();
                //content:$fa-var-times;
                content: fa-content($fa-var-times);
            }
        }
    }
    .twitter-typeahead {
        //margin:0 5px 0 0 !important;
        margin: 0;
    }
    input, button {
        height:34px;
        padding:0 2%;
    }
    .search-box-button,
    .search-box-button-with-redirect { 
        line-height:1;
        width:34px;
        background-color:$text-red !important;
        color:transparent;
        padding:0;
        border:1px solid $text-red;
        border-radius:0;
        margin-top:5px;
        margin-left: 0; //AWS
        &:before { 
            @include fa-icon();
            content: fa-content($fa-var-search);
            color:$text-white;
            padding:7px; 
        }
        &:hover, &:focus, &:active {
            background-color:$text-black !important;
            //border:1px solid $text-black;
        }
    }
}