@import "../../abstracts/vars";
@import "../../abstracts/mixins";

&.subnavigation {
    nav {
        text-align: center;
        margin: 15px;

        .level1 {
            .icon-red {
                color: #ffffff;
                @include transition(all .2s ease-in-out);
                a {
                    color: #ffffff;
                }
            }
            > .navigation-title > a {
                padding: 5px 15px;
                @include transition(all .2s ease-in-out);
                &:hover {
                    color: $text-basic-active;
                }
            }
            
            &.active {
                > .navigation-title > a {
                    color: $text-basic-active;
                    font-weight: 700;
                }
            }
        }
        @include respond-to(all-phone) {
            .level1 {
                @include border-basic(bottom, #cccccc, 1px);
                text-align: left;
                padding: 10px;
                .icon-red {
                    width: 30px;
                    height: 30px;
                    padding: 0;
                    margin-right: 10px;
                    float: left;
                }
                > .navigation > a {
                    font-size: 18px;
                }
            }
        }
        @include respond-to(tablet) {
            nav, ul {
                text-align: center;
            }
            nav {
                @include border-basic(bottom, #ccc, 1px);
            }
            ul {
                width: auto;
                margin: 0 auto;
                display: inline-block;
            }
            .level1 {
                float: left;
                > .navigation > a {
                    padding: 0 15px 10px;
                }
                .icon-red {
                    padding: 13px;
                    margin: 0 auto 10px auto;
                    a {
                        color: #ffffff;
                        line-height: 26px;
                        display: inline-block;
                    }
                    &:hover{
                        @include box-shadow(0, 6px, 10px, rgba(0, 0, 0, 0.3), $inset: false);
                    }
                    .fa:before, .fal:before {
                        font-size: 24px;
                        line-height: 24px;
                    }
                }
                &.active {
                    .icon-red {
                        @include box-shadow(0, 6px, 10px, rgba(0, 0, 0, 0.3), $inset: false);
                    }
                    > .navigation-title > a {
                        @include border-basic(bottom, #333, 3px);
                        margin-bottom: -2px;
                    }
                }
            }
        }
        @include respond-to(desktop) {
            .level1 {
                > .navigation-title > a {
                    padding: 5px 28px;
                }
            }
        }
    }
}

&.subnavigation-landing {
    @extend .subnavigation;
    .nav {
        border: none;

        ul {
            text-align: center;
            width:auto;
            margin:0 auto;
        }

        .level1 {
            display: table;

            .icon-red {
                width: 60px;
                display: table-cell;
            }

            .navigation-title {
                display: table-cell;
                vertical-align: middle;
            }
        }
    }
    @include respond-to(tablet) {
        .nav {
            border-bottom: none;

            .level1 {
                width: 25%;
            }
        }
    }
}