@import "../../abstracts/vars";
@import "../../abstracts/mixins";

&.subnavigation {
	position: relative;
	z-index: 10;

    nav {
        text-align: center;
        margin: 0;
        padding:0;

        .level1 {
            .icon-red {
                color: #ffffff;
                @include transition(box-shadow .2s ease-in-out);
                a {
                    color: #ffffff;
                }
            }
            > .navigation-title > a {
                padding: 5px 15px;
                position: relative;
                @include transition(color .2s ease-in-out);
                &:hover {
                    color: $text-basic-active;
                }
                &:after{
                	content: '';
                	display: block;
                	position: absolute;
                	left: 50%;
                	bottom:-22px;
                	width:0;
                	height: 3px;
                	background: #000;
                	transform: translateX(-50%);
                }
            }
            
            &.active {
                > .navigation-title > a {
                    color: $text-basic-active;

                    &:after{
                    	animation: subnav-active-indicator ease-out 450ms 200ms forwards;
                    }
                }
            }

            &:hover > .navigation-title > a:after{
                animation: subnav-active-indicator ease-out 250ms forwards;
            }
        }
        @include respond-to(all-phone) {
        	ul{
	        	display: flex;
	        	flex-wrap: wrap;

	            .level1 {
	                width: 50%;
	                padding: 25px 20px;

	                &:nth-child(odd){border-right: 1px solid #ccc;}
	                &:nth-child(1), &:nth-child(2){border-bottom: 1px solid #ccc;}

	                .icon-red {
	                    width: 40px;
	                    height: 40px;
	                    margin: 0 auto;

	                    a{font-size: 23px;}
	                }
	                > .navigation-title > a {

	                    &:after{
	                    	bottom: -5px;
	                    }
	                }
	            }
	        }
        }
        @include respond-to(tablet) {
            nav, ul {
                text-align: center;
            }
            ul {
                width: auto;
                margin: 0 auto;
                display: inline-block;
            }
            .level1 {
                float: left;
                > .navigation > a {
                    padding: 0 15px 10px;
                }
                .icon-red {
                    padding: 0;
                    margin: 0 auto 10px auto;
                    a {
                        color: #ffffff;
                        line-height: 26px;
                        display: inline-block;
                        padding: 16px;
                    }
                    &:hover{
                        @include box-shadow(0, 6px, 10px, rgba(0, 0, 0, 0.3), $inset: false);
                    }
                    .fa:before, .fal:before {
                        font-size: 24px;
                        line-height: 24px;
                    }
                }
                &.active {
                    .icon-red {
                        @include box-shadow(0, 6px, 10px, rgba(0, 0, 0, 0.3), $inset: false);
                    }
                }

                // Apply hover styles to li.level1
                &:hover {
                    .icon-red {
                        @include box-shadow(0, 6px, 10px, rgba(0, 0, 0, 0.3), $inset: false);
                    }
                    > .navigation-title > a {
                        color: $text-basic-active;
                    }
                }
            }
            @include respond-to(desktop) {
                .level1 {
                    > .navigation-title > a {
                        padding: 5px 28px;
                    }
                }
            }
        }
        /*@include respond-to(desktop) {
            .level1 {
                > .navigation-title > a {
                    padding: 5px 28px;
                }
            }
        }*/
    }
}

&.subnavigation-landing {
    @extend .subnavigation;
    .nav {
        border: none;

        ul {
            text-align: center;
            width:auto;
            margin:0 auto;
        }

        .level1 {
            display: table;

            .icon-red {
                width: 60px;
                display: table-cell;
            }

            .navigation-title {
                display: table-cell;
                vertical-align: middle;
            }
        }
    }
    @include respond-to(tablet) {
        .nav {
            .level1 {
                width: 25%;
            }
        }
    }
}

// Animation Keyframes
@keyframes subnav-active-indicator{
	100%{ width: 75%; }
}

@include respond-to(all-phone){
	@keyframes subnav-active-indicator{
		100%{ width: 50%; }
	}
}
