.image-default-size {
    img {
        max-width: none;
        width: auto;
    }
}
.image-full-size {
    img {
        width: 100% !important;
        height: auto !important;
        //AWS
        display: block;
    }
}
.image-left .component-content > div > img {
    float: left;
}
.image-right .component-content > div > img {
    float: right;
}

.img-thumbnail {
    padding: 0;
    width: auto;
    @include border-radius(0);
    @include box-shadow (0, 5px, 20px, rgba(0, 0, 0, 0.15), $inset: false);

    &.position-center{
        margin-left: auto;
        margin-right:  auto;
        
        img {
            margin-right: auto !important;
            margin-right: auto !important;
        }
    }
}