/*
details {
    .navigation.navigation-mobile {
        nav {
            opacity: 0;
            @include transition(all .6s ease);
        }
    }
}
details[open] {
    .navigation.navigation-mobile {
        nav {
            opacity: 1;
            @include transition(all .6s ease);
        }
    }
}
*/
.navigation.navigation-mobile {
    nav{
        //@include box-shadow(0, 4px, 10px, rgba(0, 0, 0, 0.3), $inset: false);
    	> ul {
            border: none;
        }
    }
    .rel-level1 {
        cursor: pointer;
        margin: 0;
        background: $bg-basic-color;
        >ul {
            li {
                position: relative;
                a:before {
                    @include fa-icon();
                    content: fa-content($fa-var-chevron-right);
                    display: block;
                    position: absolute;
                    left: 0;
                    font-size: 10px;
                    top: 20px;
                    transform: translateY(-50%);
                    margin-top: 1px;
                }
            }
            padding-left: 25px;
            display: none;
            background: $nav-bg-submenu;
        }
        &.submenu {
            &.active {
                >.navigation-title:before {
                    transform: rotate(180deg);
                    transition: 0.6s;
                    transform-style: preserve-3d;
                }
                >ul {
                    display: block;
                }
            }
            >.navigation-title {
                position: relative;
                &:before {
                    @include fa-icon();
                    content: fa-content($fa-var-chevron-down);
                    display: block;
                    position: absolute;
                    right: 10px;
                    font-size: 10px;
                    top: 20px;
                    transform: translateY(-50%);
                    transform: rotate(0);
                    transition: 0.6s;
                    transform-style: preserve-3d;
            		margin-top: -2px;
                }
            }
        }
        >.navigation-title {
            margin: 0;
            &:last-child {
                border-bottom: none;
            }
        }
        .navigation-title {
            padding: 10px;
            >a {
                text-decoration: none;
                color: $text-basic;
                display: inline;
            }
        }
    }
    .rel-level2 {
        display: list-item;
        .navigation-title>a {
            font-weight: 500;
        }
        ul {
            display: none;
        }
    }
}
