&.aws-slide-home {
    padding:0;
    .component-content {
        .slide-image {
            img {
                width: 100%;
                height: auto;

                @include respond-to(phone) {
                    width: 140%;
                    max-width: 140%;
                    margin-left: -20% !important;
                }
            }
        }
        .container.slide-caption {
            text-align: left;
            padding: 0 15px;
            margin: 0 auto;
            position: absolute;
            top: 15%;
            left: 0;
            right: 0;
            
            @include respond-to(all-phone) {
                .field-slidetext {
                    text-align:center;
                }
            }
            @include respond-to(tablet) {
                top: 30%;
                .field-slidetext {
                    width:60%;
                }
            }
            @include respond-to(large) {
                top: 35%;
                .field-slidetext {
                    width:50%;
                }
            }
            @include respond-to(xlarge) {
                .field-slidetext {
                    width:40%;
                }
            }
            h1 { 
                color:$text-red;
                font-weight:500;
                margin-bottom:10px;
                @include respond-to(tablet) {
                    font-size:34px;
                }
                @include respond-to(large) {
                    font-size:48px;
                }
                @include respond-to(all-phone) {
                    font-size:32px;
                }
                @include respond-to(phone) {
                    font-size:24px;
                }
            }

            p {
                @include raleway-font-stack();
                font-size:20px;
                font-weight:500;
                @include respond-to(tablet) {
                    font-size:24px;
                }
                @include respond-to(large) {
                    font-size:36px;
                }
                @include respond-to(phone-horizontal) {
                    display:none;
                }
            }
            @include respond-to(all-phone) {
                .btn {
                    padding:7px;
                    font-size:16px;
                }
            }
        }
    }
    &.position-right {
        @include respond-to(all-phone) {
            .container.slide-caption {
                margin: 0 auto;
            }
            .container.slide-caption, .container.slide-caption * {
                text-align: center !important;
            }
        }
        @include respond-to(tablet) {
            .container.slide-caption * {
                text-align: left !important;
                .position-right{
                    text-align: right !important;
                }
            }
            .container.slide-caption {
                .field-slidetext, .field-slidelink {
                    margin-left: 40%;
                }
            }
        }
        @include respond-to(large) {
            .container.slide-caption {
                .field-slidetext, .field-slidelink {
                    margin-left: 50%;
                }
            }
        }
        @include respond-to(xlarge) {
            .container.slide-caption {
                .field-slidetext, .field-slidelink {
                    margin-left: 60%;
                }
            }
        }
    }
    &.position-center {
        .container.slide-caption {
            .field-slidetext, .field-slidelink {
                margin: 0 auto;
            }
        }
    }
    &.text-reverse {
        .component-content {
            .container.slide-caption *{
                color: #ffffff;
                h1 { 
                    color: #ffffff;
                }
                .btn-info {
                    border-color: #ffffff;
                }
                .btn-default {
                    color:$text-red;
                }
            }
        }
    }
}