@import "abstracts/mixins";
@import "abstracts/vars";

.link {
    background: $link-bg;

    a {
        font-size: $font-normal;
        color: $link-text-color;
        //border-bottom: 1px solid $link-border;
        text-decoration: underline;

        &:hover {
            color: $link-text-color-active;
        }
    }

    //AWS
    .button, .button-inverse {
        a {    
            @include button();
            @include btn-fill($text-white, $bg-red);
            &:hover, &:active, &:focus {
                padding-right: 25px;
                padding-left: 11px;
            }
        }
    }
    .button-inverse {
        a {
            @include button(#ff0000, #700000, #700000);
            text-transform: uppercase;
            @include btn-fill($text-white, $bg-red);
            &:hover, &:active, &:focus {
                padding-right: 25px;
                padding-left: 11px;
            }
            span.hidden-xs {
                @include opensans-font-stack();
                vertical-align:baseline;
            }
        }
    }
    &.btn-lg {
        .button {
            a {
                font-size: $font-medium;
                text-transform:uppercase;
                padding: 15px 30px;
                @include btn-fill(#ffffff, $bg-red);
                &:hover, &:active, &:focus {
                    padding-right: 40px;
                }
            }
        }
    }
    &.link-inline {
        width: auto;
        display: inline-block;
        margin-right: 5px;
        margin-bottom: 15px;
    }
    &.button-block {
        a {
            display: block;
            width: 100%;
            text-align: center;
        }
        + .button-block {
            margin-top: 20px;
        }
    }
    &.btn-back, &.btn-next {
        a {
            @include button();
            @include transition(box-shadow ease-out 350ms, padding ease-out 250ms, color ease-out 250ms);
            &:hover, &:active, &:focus {
                color: $text-white;
                border-color: $text-red;
                @include box-shadow(0, 80px, 0, $text-red, true)
            }
            &:before, &:after {
                @include fa-icon();
                margin-top: 3px;
                display: block;
                position: relative;
                opacity: 1;
            }
        }
    }
    &.btn-back {
        float: left;
        a {
            &:before {
            content: fa-content($fa-var-long-arrow-left);
            float: left;
            margin-right: 8px;
            }
            &:after {
                content: none;
            }
        }
        &.button-block {
            display: block;
            float: none;
            a {
                width:100%;
                text-align:center;
                display: block;
                &:before {
                    float:none;
                    display:inline-block;
                }
            }
        }
    }
    &.btn-next {
        float: right;
        a {
            &:after {
            content: fa-content($fa-var-long-arrow-right);
            float: right;
            margin-left: 8px;
            }
        }
    }
    &.indent-top {
        margin-top:30px;
    }
    
}
.link-arrow {
    padding-right: 20px;
}
.link-arrow:after {
    font-weight: 600;
    @include fa-icon();
    content: "\f061";
    padding-left: 5px;
}
.searchOverlay, #search-launch {
    padding:0;
    width: 50px;
    height: 68px;
    margin-left: -40px;
    float: right;
    z-index:99;
    @include transition(height .4s ease-in, padding .4s ease-in);

    @include respond-to(all-phone) {
        margin-left:0;
        right:56px;
        position: absolute;
    }
    
    a {
        text-align: center;
        text-decoration: none;
        width: 50px;
        height: 68px;
        padding: 18px 10px;
        display:block;
        @include transition(height .4s ease-in, padding .4s ease-in);

        &:after {
            font-size: 16px;
            @include fa-icon();
            content: fa-content($fa-var-search);
            line-height: 30px;
            font-weight:400;
            color: #000;
            display:block;
            position: relative;
    
            @include respond-to(all-phone) {
                font-size: 28px;
            }
            @include respond-to(xlarge) {
                font-size: 18px;
            }
        }
    
        &:hover:after {
            color: #cc0000;
        }
    }
}
