@import "abstracts/vars";
@import "abstracts/mixins";

.row.column-splitter {
    @include clearfix();
    margin-left: 0;
    margin-right: 0;
    max-width: none;
}

.sitemap {
    .row.column-splitter {
        @include respond-to(all-phone){
            margin-left:15px;
        }
        .col-xs-6 {
            //@include respond-to(phone){
                @media only screen and (max-width: 479px) {
                width:100%;
            }
        }
    }
}
