@import "abstracts/mixins";
@import "abstracts/vars";
//@import "base/fontawesome/fontawesome";
@import "base/fontawesome/mixins";
@import "base/fontawesome/variables";

 .link-list {
    background: $link-list-bg;
    >.component-content {
        ul {
            background: $link-list-items-bg;
        }
        li {
            background: $link-list-item-bg;
            display: block;
            a {
                display: inline;
                color: $link-list-item-color;
                position: relative;
                padding-left: 10px;
                font-size: $font-normal;
                text-decoration: none;
                &:before {
                    @include fa-icon();
                    content: fa-content($fa-var-chevron-right);
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    font-size: 10px;
                }
                &:hover {
                    color: $link-list-item-color-active;
                    text-decoration: none;
                    border-bottom: 1px solid $link-list-item-border-active;
                }
            }
        }
    }
    @import "base/links/*";
    @import "variants/link-list/*";
    @import "styles/link-list/*";
}



