@import "abstracts/vars";
@import "abstracts/mixins";
@import "base/fontawesome/fontawesome";
//@import "base/fontawesome/mixins";
//@import "base/fontawesome/variables";

.search-results {
    @import "base/reset/inputs";
    .search-result-list {
        //padding-top: 5px;
    }
    &.vertical {
        .search-result-list {
            >li {
                @include border-basic();
                display: inline-block;
                vertical-align: top;
                box-sizing: border-box;
                border-width: 1px 1px 2px 1px;
                position: relative;
                width: 100%;
                padding: 5px;
                margin: 0 7px 10px 0;
                .field-title {
                    display: block;
                    margin-top: 10px;
                    a {
                        font-size: $font-medium;
                        line-height: 20px;
                        text-decoration: none;
                        font-weight: normal;
                        display: block;
                    }
                }
                &:hover {
                    @include border-basic(bottom, $search-item-border-active);
                    border-width: 1px 1px 2px 1px;
                }
            }
        }
    }
    &.horizontal {
        .search-result-list {
            width: 100%;
            >li {
                display: inline-block;
                float: left;
                box-sizing: border-box;
                @include border-basic();
                border-width: 1px 1px 2px 1px;
                position: relative;
                min-height: 120px;
                height: 100%;
                margin: 0 2% 10px 0;
                padding: 5px;
                width: 23%;
                .field-title {
                    display: block;
                    padding: 0 5px;
                    text-align: center;
                    a {
                        font-size: 18px;
                        line-height: 20px;
                        text-decoration: none;
                        font-weight: normal;
                    }
                }
                &:hover {
                    @include border-basic(bottom, $search-item-border-active);
                    border-width: 1px 1px 2px 1px;
                }
            }
        }
    }
    .search-results-overlay {
        display: none;
    }
    &.loading-in-progress {
        min-height: 200px;
        .search-result-overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(255, 255, 255, 0.9);
            &:after {
                content: "";
                background-image: url(data:image/svg+xml;charset=utf-8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMiAzMiIgd2lkdGg9IjMyIiBoZWlnaHQ9IjMyIiBmaWxsPSJibGFjayI+CiAgPHBhdGggIG9wYWNpdHk9Ii4yNSIgZD0iTTE2IDAgQTE2IDE2IDAgMCAwIDE2IDMyIEExNiAxNiAwIDAgMCAxNiAwIE0xNiA0IEExMiAxMiAwIDAgMSAxNiAyOCBBMTIgMTIgMCAwIDEgMTYgNCIvPgogIDxwYXRoIGZpbGw9JyNkZGRkZGQnIGQ9Ik0xNiAwIEExNiAxNiAwIDAgMSAzMiAxNiBMMjggMTYgQTEyIDEyIDAgMCAwIDE2IDR6Ij4KICAgIDxhbmltYXRlVHJhbnNmb3JtIGF0dHJpYnV0ZU5hbWU9InRyYW5zZm9ybSIgdHlwZT0icm90YXRlIiBmcm9tPSIwIDE2IDE2IiB0bz0iMzYwIDE2IDE2IiBkdXI9IjAuOHMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAvPgogIDwvcGF0aD4KPC9zdmc+);
                background-size: 100% 100%;
                background-repeat: no-repeat;
                position: absolute;
                width: 50px;
                height: 50px;
                top: 50%;
                left: 0;
                right: 0;
                margin: -30px auto 0;
            }
        }
    }
    &.loading-more-in-progress {
        &:after {
            content: "";
            display: block;
            @include loading-gif();
            background-size: 50% 50%;
            height: 100px;
        }
    }
    .no-results {
        padding: 5px;
    }

    //AWS
    &.blog {
        border: none;
        @include clearfix();

        .search-result-list {
            width: 100%;
            border: none;
            @include clearfix();

            >li {
                display: block;
                float: left;
                box-sizing: border-box;
                border: none;
                position: relative;
                height: 100%;
                padding: 0 15px;
                width: 50%;

                .blog-item {
                    min-height: 120px;
                    padding: 0 15px 15px;
                    margin-bottom: 30px;
                    border-top: solid 1px #eaeaea;
                    @include box-shadow(0, 2px, 4px, rgba(0, 0, 0, 0.3), $inset: false);

                    /*&:hover {
                        @include border-basic(all, $search-item-border-active);
                    }*/
                    .blog-date {
                        font-size: $font-small;
                        display: inline;
                        padding-right: 10px;
                        border-right:solid 1px $text-gray-light;

                        &:before {
                            @include fa-icon();
                            content: fa-content($fa-var-calendar);
                            color: $text-gray-light;
                            font-size: $font-medium;
                            margin-right: 5px;
                        }
                    }
                    .blog-author {
                        font-size: $font-small;
                        display: inline;
                        padding-left: 10px;
                    }
                    .field-excerpt {
                        font-size: $font-small;
                    }
                }

                .field-title {
                    display: block;
                    padding: 5px 0 15px 0;
                    text-align: left;
                    
                    a {
                        @include raleway-font-stack();
                        font-size: $font-medium;
                        color:$text-red;
                        line-height: 24px;
                        text-decoration: none;
                        font-weight: normal;

                        &:hover {
                            color: $text-basic-active;
                        }
                    }
                }
                &:hover {
                    border: none;
                }
                .blog-image {
                    margin: 0 -15px 15px -15px;

                    img {
                        width: 100%;
                        max-width: 100%;
                        height: auto;
                    }
                }
            }
            @include respond-to(large) {
                >li {
                    column-count: 3;
                }
            }
        }
    }
    @import "variants/search-results/*";
}

//If browser supports flexbox
.flexbox {
    .search-results {
        //AWS
        &.blog {
            .search-result-list {
                @include respond-to(tablet) {
                    -webkit-column-count: 2;
                    -moz-column-count: 2;
                    column-count: 2;
                    -webkit-column-gap: 0;
                    -moz-column-gap: 0;
                    column-gap: 0;

                    >li {
                        width: 100%;
                        display: inline-block;
                        -webkit-box-orient: vertical;
                        -webkit-box-direction: normal;
                        -ms-flex-direction: column;
                        flex-direction: column;
                        word-wrap: break-word;
                        background-color: #fff;
                        background-clip: border-box;
                        float: none;
                        column-count: 1;
                    }
                }
                @include respond-to(large) {
                    -webkit-column-count: 3;
                    -moz-column-count: 3;
                    column-count: 3;
                }
            }
        }
    }
}

.col-xs-12 > .blog {
    margin-right: -15px;
    margin-left: -15px;
}