@import "abstracts/vars"; 
@import "abstracts/mixins";
//@import "base/fontawesome/fontawesome";
@import "base/fontawesome/mixins";
@import "base/fontawesome/variables";

.content, .rich-text {
    background: $rich-content-bg;
    color: $text-basic;
    border: $rich-content-border;
    line-height: 1.5;
    
    * {
        max-width: 100%;
    }
    //AWS
    &.rich-text-contact {
        color: $text-white;
        font-size: $font-medium;
        margin-left: -15px; //is this the best way
        padding-right: 60px;

        p {
            margin-top: 0;
            margin-bottom: $large-margin;
        }

        .btn:last-of-type {
            margin-top:15px;
        }
        @include respond-to(all-phone) {
            .btn {margin-top:15px;}
            .btn:last-of-type {
                margin-bottom:60px;
            }
        }
        //AWS
        @include respond-to(all-mobile) {
            margin-left: auto;
            padding-right: 15px;
        }
        span.hidden-xs {
            @include opensans-font-stack();
            vertical-align:baseline;
        }
    }
    &.content-page-header {
        z-index: 1;

        &[class*="col-"] {
            padding-left: 0;
            padding-right: 0;
        }
        img {
            width: 100%;
            height: auto;
        }
        &:after {
            content: "";
            display:block;
            width: 100%;
            height: 150px;
            position: absolute;
            top: 0;
            background: -moz-linear-gradient(top, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0) 100%);
            background: -webkit-linear-gradient(top, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0) 100%);
            background: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0) 100%);
        }
        @include respond-to(tablet) {
            img {
                min-height: 230px;
            }
            &:after {height: 210px;}
        }
        @include respond-to(desktop) {
            min-height: 290px;
            &:after {height: 240px;}
        }
        @include respond-to(large) {
            &:after {height: 260px;}
        }
        @include respond-to(all-phone) {
            img {
                width: 120%;
                max-width: 120%;
                height: auto;
                margin-left: -10% !important;
            }
        }
        @include respond-to(phone) {
            height: 200px;
            img {
                width: auto;
                max-width: initial;
                height: 200px;
                margin:0 -50% !important;
            }
        }
        
    }
    
    @import "base/richtext/*";

    //AWS
    @import "base/links/*";
    @import "variants/richtext/*";
    @import "styles/richtext/*";
    @import "variants/page-content/*";
}

