@import "abstracts/vars";
@import "abstracts/mixins";

.title {
    background: $title-bg;

    &.indent-top {
        margin-top:30px;
        h1, h2, h3, h4, h5, h6 {
            margin-top:0;
        }
    }
    &.indent-bottom {
        margin-bottom:30px;
        h1, h2, h3, h4, h5, h6 {
            margin-bottom:0;
        }
    }

    h1, .field-title a {
        //@include border-basic(bottom, $border-basic-color);
        //font-size: $font-extrabig;
        margin-bottom: $small-margin;
        color: $title-color;
        //line-height: 20px;
        line-height: 48px;
        padding-bottom: 10px;
        display: block;
        //AWS
        &.title-contact {
            color: $text-white;
            margin-top: 55px;
            margin-bottom: 45px;
            padding-bottom: 0;
            border-bottom: 0;
            font-weight: 400;
        }
    }
     
    &.title-page-header {
        text-align: center;
        position: absolute;
        top: 40px;
        z-index: 9;
        @include respond-to(tablet) {
            //top: 140px;
            top:165px; //offset the content -25px for the page header / billboard
        }
        h1, h2, h3, h4, h5, h6 {
            position:relative;
            color: $text-white;
            text-shadow:0 0 10px rgba(0,0,0,.6);

        }
    }

    .field-title a {
        text-decoration: none;
        cursor: pointer;

        &:hover {
            color: $title-color-active;
        }
    }
    @import "variants/title/*";

}
