@import "abstracts/mixins";
@import "abstracts/vars";
//@import "base/fontawesome/fontawesome";
@import "base/fontawesome/mixins";
@import "base/fontawesome/variables";

.flip {
    background: $flip-bg;
    -moz-perspective: 1000;
    -webkit-perspective: 1000;
    -ms-perspective: 1000;
    perspective: 1000;
    -ms-transform: perspective(1000px);
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;

    h2 {
        margin-bottom: 5px;
    }
    .Side1, .Side0, .Side0_EDIT, .Side1_EDIT {
        background: $flip-slides-bg;
        width: 96%;
        padding: 2%;
        @include clearfix();
    }
    //.Side0_EDIT, .Side1_EDIT {}
    .Side1_EDIT {
        margin-top: 5px;
    }
    .flipsides {
        word-wrap: break-word;
        position: relative;
        transition: .5s;
        transform-style: preserve-3d;
    }
    .Side1, .Side0 {
        @include border-basic();
        box-sizing: border-box;
        -moz-backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        backface-visibility: hidden;
        -moz-transition-property: transform;
        -webkit-transition-property: transform;
        -ms-transition-property: transform;
        transition-property: transform;
        -moz-transition-duration: .5s;
        -webkit-transition-duration: .5s;
        -ms-transition-duration: .5s;
        transition-duration: .5s;
        transition-timing-function: ease-in-out;
        -moz-transform-style: preserve-3d;
        -ms-transform-style: preserve-3d;
        transform-style: preserve-3d;
        position: absolute;
        top: 0;
        left: 0;
        overflow: hidden;
        cursor: pointer;
        width: 100%;
    }
    &.initialized {
        .Side1, .Side0 {
            position: absolute;
        }
    }
    .Side0 {
        -moz-transform:translateY(0deg);
        -webkit-transform:translateY(0deg);
        -ms-transform: translateY(0deg);
        transform: rotateY(0deg);
    }
    .Side1 {
        -moz-transform:translateY(180deg);
        -webkit-transform:translateY(180deg);
        -ms-transform: translateY(-180deg);
        transform: rotateY(180deg);
    }
    &.active {
        .Side0 {
            -moz-transform:translateY(180deg);
            -webkit-transform:translateY(180deg);
            -ms-transform: translateY(-180deg);
            transform: rotateY(180deg);
        }
        .Side1 {
            -moz-transform:translateY(360deg);
            -ms-transform: translateY(-360deg);
            -webkit-transform:translateY(360deg);
            transform: rotateY(360deg);
        }
    }
    
    @import "styles/flip/*";
}
/*
.no-csstransforms3d {
    .flip {
        .Side1 {
            display: none;
        }
        &.active {
            .Side0 {
                display: none;
            }
            .Side1 {
                display: block;
            }
        }
    }
}
*/
.on-page-editor {
    .flipsides {
        height: auto;
        .Side0, .Side1 {
            margin-bottom: 10px;
        }
    }
}
