@import "abstracts/vars"; 
@import "abstracts/mixins";
//@import "base/fontawesome/fontawesome";
@import "base/fontawesome/mixins";
@import "base/fontawesome/variables";

.content, .rich-text {
    background: $rich-content-bg;
    color: $text-basic;
    border: $rich-content-border;
    line-height: 1.5;
    
    * {
        max-width: 100%;
    }
    //AwS
    a {
        color:$text-red;
        text-decoration:underline;
        &:hover, &:active, &:focus {
            color:$text-red;
            text-decoration:none;
        }
    }
    &.rich-text-contact {
        color: $text-white;
        font-size: $font-medium;
        margin-left: -15px; //is this the best way
        padding-right: 60px;

        p {
            margin-top: 0;
            margin-bottom: $large-margin;
        }

        .btn:last-of-type {
            margin-top:15px;
        }
        @include respond-to(all-phone) {
            .btn {margin-top:15px;}
            .btn:last-of-type {
                margin-bottom:60px;
            }
        }
        //AWS
        @include respond-to(all-mobile) {
            margin-left: auto;
            padding-right: 15px;
        }
        span.hidden-xs {
            @include opensans-font-stack();
            vertical-align:baseline;
        }
    }
    &.content-page-header {
        z-index: 1;

        &[class*="col-"] {
            padding-left: 0;
            padding-right: 0;
        }
        img {
            width: 100%;
            height: 100%;
            min-height:300px;
            object-fit:cover;
            @include respond-to(all-phone) {
                min-height:240px;
            }
        }
        &:after {
            content: "";
            display:block;
            width: 100%;
            min-height:300px;
            position: absolute;
            top: 0;
            background: -moz-linear-gradient(top, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0) 100%);
            background: -webkit-linear-gradient(top, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0) 100%);
            background: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0) 100%);
            @include respond-to(all-phone) {
                min-height:180px;
            }
        }        
    }
    
    @import "base/richtext/*";

    //AWS
    @import "base/links/*";
    @import "variants/richtext/*";
    @import "styles/richtext/*";
    @import "variants/page-content/*";
}

