@import "abstracts/vars";
@import "abstracts/mixins";
@import "base/fonts/fonts";
@import "base/fontawesome/brands";
@import "base/fontawesome/light";
@import "base/fontawesome/fontawesome";
@import "base/links/*";

.cookie-notification, .privacy-warning { //class changed from cookie-notification to privacy-warning in v1.6
    position: fixed;
    left: 0;
    bottom: 0;
    height: auto;
    margin: 0;
    z-index: 1000;
    opacity:1;
    padding: 0 15px 30px 15px;
    font-size:$font-small;
    color: $text-white;
    line-height:$font-normal;
    text-align:left;
    background: rgba(60, 68, 88, 0.6);
    width: 100%;
    @include respond-to (desktop) {
        width: 50%;
    }
    @include respond-to (xlarge) {
        width: 40%;
    }
    @include respond-to (all-mobile) {
        bottom:45px;
    }

    > div {
        position: relative;
        height: auto;
        margin: 0 auto;
    
        a {
            color: $text-white;
            font-size:1em;
            text-decoration:underline;

            &:hover, &:focus {
                color: $text-white;
                text-decoration:none;
            }
        }
        &.info, &.submit {
            float:left;
            position:relative;
            top:30px;
        }
        &.close {
            opacity:1;
            text-shadow:none;
            float:right;
            text-align:right;
            width:100%;
            position:absolute;
            top:10px;
            right:10px;

            a {
                color:transparent;
                &:after {
                    display:inline;
                    @include fa-icon();
                    font-size:24px;
                    line-height:1;
                    content: fa-content($fa-var-times);
                    color:$text-basic;
                }
            }
        }
        &.info {
            width:72%;
            margin-right:2%;
            margin-bottom:15px;
            &:before {
                @include fa-icon();
                content: fa-content($fa-var-cookie-bite);
                font-size:42px;
                float:left;
                margin-right:5%;
            }
        }
        &.submit {
            a {
                border:1px solid $text-white;
                text-transform:uppercase;
                text-decoration: none;
                font-weight:700;
                background: transparent;
                padding: 5px 10px;
                cursor: pointer;
                color: $text-white;
                float:left;
                &:hover, &:focus {
                    background:$text-white;
                    color:#0e142a;
                }
            }
        }

        @include respond-to (phone-horizontal) {
            &.info, &.submit {
                float:none;
                text-align:center;
                width:auto;
                margin-right:auto;
                a {
                    width:100%;
                    float:none;
                    text-align:center;
                    margin-left:auto;
                    margin-right:auto;
                }
            }
            &.info {
                padding-bottom:10px;
                &:before {
                    float:none;
                    width:100%;
                    margin-bottom:10px;
                }
            }
            &.submit {
                margin-bottom:30px;
            }
        }
    }
}
