@import "abstracts/vars";
@import "abstracts/mixins";
@import "base/fontawesome/mixins";
@import "base/fontawesome/variables";

.overlay, .search-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    display: none;
    text-align: center;
    width: 100%;
    //AWS
    background: rgba(255, 255, 255, 0.8);

    &.component {
        margin: 0;
    }
    >.component-content {
        border-radius: 5px;
        display: inline-block;
        vertical-align: middle;
        position: absolute;
        background: $overlay-bg;
        //padding: 10px 10px 25px;
        padding: 0 0 25px;
        margin: 100px auto auto auto;
        max-width: 90%;
        left: 0;
        right: 0;
        overflow: hidden;

        .component {
            margin: 0;
            margin-top:-10px;
            &.image {
                img {
                    width: 100%;
                    height:auto;
                    margin-bottom:20px;
                }
            }
        }
    }
    .overlay-inner {
        min-width: 25px;
        max-height: inherit;
        height: inherit;
        overflow: auto;
        &.overlay-percent {
            max-height: 100%;
            height: auto;
        }
        #InnerCenter {
            width: auto;
            height: auto;
        }
        //AWS
        .rich-text {
            color: #fff;

            h6 {
                color: #fff;
                margin-bottom: 2px;
            }
            ul {
                padding: 0;
                margin: 0 0 20px 0.9em;
                &.list-inline {
                    margin-left: 0;
                    li {
                        margin: 0;
                    }
                }
            }
            
            li {
                padding: 0;
                margin: 0 0 0 2px;
            }
            @include respond-to(all-mobile) {
                margin-top: 30px;
                padding: 0 15px 15px;
            }
        }
    }
    .overlay-inner:focus {
        border: 1px solid #cccccc;
    }
    .overlay-close {
        color: #fff;
        cursor: pointer;
        font-size: 30px;
        position: absolute;
        top: -10px;
        right: 25px;
        z-index: 1;
    }
    .overlay-close-link:focus {
        color: #cccccc;
        outline: none;
    }
    .overlay-close-link:hover {
        color: #cccccc;
    }
    .overlay-close-link {
        text-decoration: none;
        color: #fff;
        font-size: 50px;
        font-weight: 700;
        position: relative;
        top: 0;
        left: 0;
    }

    > .component-content .modal-title {
        color: #fff;
        text-align: left;
        background: rgba(14, 20, 42, 0.7);
        padding: 15px 30px;
        margin: 0 0 40px 0;
        position: relative;
    
        h2, h3, h4 {
            color: #fff;
            font-weight: 600;
            text-align: left;
            padding: 0;
            margin-bottom: 0;
        }
    }
    .button {
        margin-bottom: 30px;
    }
}


/* this css class is used on overlay page */
.overlay-page {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(../Images/overlay-bg.png);
    z-index: 9999;
    text-align: center;
    width: 100%;
    margin: 0;
    >.component-content {
        display: inline-block;
        vertical-align: middle;
        zoom: 1;
        *display: inline;
        background-color: #E6E6E6;
        border-radius: 5px;
        position: relative;
        padding: 10px 10px 25px;
        margin: 100px 60px 60px;
        max-width: 90%;
        background: $overlay-bg;
        .component {
            margin: 0;
            &.image {
                img {
                    width: 100%;
                }
            }
        }
    }
    .overlay-inner {
        min-width: 25px;
        height: inherit;
        max-height: inherit;
        min-height: 135px;
        overflow: auto;
        &.overlay-percent {
            max-height: 100%;
            height: auto;
            &.edit {
                max-height: inherit;
            }
        }
    }
    .overlay-inner:focus {
        border: 1px solid #cccccc;
    }
    .overlay-close {
        bottom: 8px;
        color: #000;
        cursor: pointer;
        font-size: 30px;
        position: absolute;
        right: -5px;
        bottom: -15px;
    }
    .overlay-close-link:focus {
        //color: #cccccc;
        color: #fff;
    }
    .overlay-close-link:hover {
        color: #cccccc;
    }
    .overlay-close-link {
        text-decoration: none;
    }
}
#wrapper.overlay-page {
    margin-bottom: -80px;
}
body.preview {
    .overlay-page {
        position: fixed;
    }
}
.overlay-page .main {
    width: 100%;
}

.on-page-editor {
    .overlay {
        .overlay-inner {
            margin: auto;

            //AWS
            .rich-text {
                color: #fff;
            }
            .btn-default {
                color: #fff;
                border-color: #fff;
            }
        }
    }
    .overlay-page {
        z-index: 9000;
    }
}
//AWS
#wrapper {
    opacity: 1;
    @include transition(all .4s ease-out);
    &.wrap-hide {
        opacity: 0;
        -ms-transform: scale(0.8,0.8);
        -webkit-transform: scale(0.8,0.8);
        transform: scale(0.8,0.8);
    }
}
//Show In Editor
//.on-page-editor #searchWrap{display: block;}
#searchWrap{
    display: none;
}

.search-overlay {
    position: fixed;
    top: auto;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    text-align: center;
    width: 100%;
    opacity: 0;
    background: transparent;
    display: -ms-flexbox;
    display: flex;
    @include transition(all .2s ease-in);
    >.component-content {
        border-radius: 0;
        background: transparent;
        width: 100%;
        height: 100%;
        height: 100vh;
        padding: 0;
        margin: auto;
        max-width: 100%;
        .overlay-close {
            padding: 0 5px;
            opacity: 0;
            -ms-transform: scale(0,0) translate(0,-50px);
            -webkit-transform: scale(0,0) translate(0,-50px);
            transform: scale(0,0) translate(0,-50px);
            @include transition(all .6s ease-in);
            transition-timing-function: cubic-bezier(0.6,1,0.4,1);
            &.show{
                opacity: 1;
                -ms-transform: scale(1,1) translate(0,0);
                -webkit-transform: scale(1,1) translate(0,0);
                transform: scale(1,1) translate(0,0);
                @include transition(all .6s ease-in);
                transition-timing-function: cubic-bezier(0.6,1,0.4,1);
            }
        }
        .component {
            margin: 0;
        }
        .overlay-inner{
            .search-box{
                color: #dce6e6;
                background-color: #0e142a; /* For browsers that do not support gradients */
                background: -webkit-linear-gradient(left top, #067385, #0e142a); /* For Safari 5.1 to 6.0 */
                background: -o-linear-gradient(bottom right, #067385, #0e142a); /* For Opera 11.1 to 12.0 */
                background: -moz-linear-gradient(bottom right, #067385, #0e142a); /* For Firefox 3.6 to 15 */
                background: linear-gradient(to bottom right, #067385, #0e142a); /* Standard syntax */
                width: 100%;
                height: 50%;
                height: 50vh;
                justify-content: center;
                align-items: center;
                display: -ms-flexbox;
                display: flex;
                position: absolute;
                opacity: 0;
                -ms-transform: translate(0, -100%);
                -webkit-transform: translate(0, -100%);
                transform: translate(0, -100%);
                @include transition(all .6s ease-in);
                transition-timing-function: cubic-bezier(0.4,1,0.2,1);
                .facet-heading, > label {
                    display: none;
                    label, .clear-filter{
                        display: none;
                    }
                }
                .component-content{
                    width: 75%;
                    max-width: 900px;
                    //margin: 0 auto;
                    border-bottom: solid 4px $bg-light-blue;
                }
                
                input[type="text"], .search-box-input {
                    color: #fff;
                    font-size: 18px;
                    background-color: transparent !important;
                    width: auto;
                    height: auto;
                    padding: 10px 0;
                    border: none;
                    box-shadow: none;
                }
                .search-box-button-with-redirect {
                    color: $bg-light-blue;
                    font-size: 0;
                    text-align: right;
                    background: transparent !important;
                    border: none;
                    width: auto;
                    height: auto;
                    padding: 0;
                    margin: 0 1px 0 5px;
                    box-shadow: none;
                    &:before{
                        @include fa-icon();
                        content: fa-content($fa-var-search);
                        color:$text-white;
                        font-size: 24px;
                    }
                    &:hover {
                        color: #fff;
                    }
                }
            }
            .rich-text{
                color: $bg-light-blue;
                background-color: #0e142a;
                width: 100%;
                height: 50%;
                height: 50vh;
                justify-content: center;
                align-items: center;
                display: -ms-flexbox;
                display: flex;
                position: absolute;
                top: 50%;
                opacity: 0;
                -ms-transform: translate(0, 100%);
                -webkit-transform: translate(0, 100%);
                transform: translate(0, 100%);
                @include transition(all .6s ease-in);
                transition-timing-function: cubic-bezier(0.4,1,0.2,1);
                
                .component-content{
                    width: 75%;
                    max-width: 900px;
                    //margin: 0 auto;
                    
                    ul.list-inline{
                        li {
                            a {
                                color: $bg-light-blue;
                                text-decoration: none;
                                padding-left: 10px;
                                &:hover{
                                    color: #fff;
                                }
                                &:before {
                                    content:"•";
                                    font-size:1.2em;
                                    vertical-align:middle;
                                    left:-7px;
                                    position: relative;
                                }
                            }
                        }
                        li:first-child {
                            padding-left:0;
                            a {
                                padding-left: 0;
                                &:before {
                                    content: none;
                                }
                            }
                        }
                    }
                    h3{
                        color: #fff;
                        color: $bg-light-blue;
                    }
                }
            }
            &.content-open{
                .search-box, .rich-text{
                    opacity: 1;
                    -ms-transform: translate(0, 0);
                    -webkit-transform: translate(0, 0);
                    transform: translate(0, 0);
                }
            }
        }
    }
    &.search-open {
        top: 0;
        opacity: 1;
        height: 100%;
        height: 100vh;
        display: -ms-flexbox;
        display: flex;
        visibility: visible;
        @include transition(all .4s ease-in);
        >.component-content {
            .overlay-inner{
                .search-box{
                    opacity: 1;
                }
                .rich-text{
                    opacity: 1;
                }
            }
        }
    }
    @include respond-to(all-phone) {
        >.component-content {
            .overlay-close {
                right: 10px;
            }
            .overlay-inner{
                .search-box{
                    height: 30%;
                    height: 30vh;
                    .component-content {
                        width: 85%;
                        margin-top: 15px;
                    }
                }       
                .rich-text{
                    height: 70%;
                    height: 70vh;
                    top: 30%;
                    .component-content {
                        width: 100%;
                    }
                }
            }
        }
    }
    @include respond-to(tablet) {
        >.component-content {
            .overlay-inner{
                .search-box{
                    input[type="text"], .search-box-input {
                        font-size: 24px;
                    }
                    .search-box-button-with-redirect{
                        &:before{
                            font-size: 36px;
                        }
                    }
                }       
                .rich-text{
                    li, li a{
                        font-size: 18px;
                    }
                }
            }
        }
    }
    @include respond-to(desktop) {
        >.component-content {
            .overlay-inner{
                .search-box{
                    input[type="text"], .search-box-input {
                        font-size: 32px;
                    }              
                }
            }
        }
    }
}
