@import "abstracts/mixins";
@import "abstracts/vars";
@import "base/fontawesome/mixins";
@import "base/fontawesome/variables";

.promo-service {
    background-color: transparent;
    padding: 0 15px 60px 15px;
    border: 0;
    @include respond-to(all-mobile) {
        padding: 0 0 60px 0;
    }

    @include respond-to(all-mobile) {
        &:before, &:after {
            content: "";
            display: block;
            border-bottom: solid 30px #fff;
            width: 50%;
            height: 30px;
            position: absolute;
            top: 0;
        }
        &:before {
            border-right: solid 30px transparent;
        }
        &:after {
            border-left: solid 30px transparent;
            right: 0;
        }
    }
    .promo-head, .promo-body {
        clear: both;
        width: 100%;
        @include respond-to(all-mobile) {
            padding:0 60px;
        }
        @include respond-to(phone) {
            padding:0 15px;
        }
    }
    .promo-head {
        display: table;
        position: relative;
        padding-top: 60px;
        margin-bottom: 15px;
        .promo-title, .promo-icon {
            width: auto;
            display: table-cell;
            vertical-align: middle;
            float: none;
        }
        .promo-title {
            font-weight: 700;
            padding: 0 0 20px 15px;
            vertical-align: middle;
            position: relative;

            &:after {
                content: "";
                width: 100px;
                height: 4px;
                background-color: #333;
                display: block;
                position: absolute;
                margin-top: 16px;
            }

            a, p > a {
                display: inline-block;
                &:hover {
                    color: $text-red;
                    text-decoration: none;
                }
                &:focus {
                    text-decoration: none;
                }
                &:after {
                    @include fa-icon();
                    font-weight: 600;
                    font-size: 80%;
                    content: fa-content($fa-var-arrow-right);
                    padding-left: 10px;
                    width: 34px;
                    height: 28px;
                    top: -5px;
                    position: relative;
                }
            }
        }
        .promo-icon {
            width: 80px;
            img {
                width: 80px;
                height: 80px;
            }
        }
    }
    .promo-body {
        a.link-arrow {
            margin-top: 10px;
            display: inline-block;
        }
    }
    @include respond-to(tablet) {
        padding-bottom: 60px;
        .promo-head {
            .promo-icon {
                text-align: right;
                width: 33%;

                img {
                    width: 100px;
                    height: 100px;
                }
            }
            .promo-title {
                width: 67%;
            }
        }
    }
    @include respond-to(large) {
        padding-bottom: 80px;

        .promo-head {
            padding-top: 80px;
        }
    }
    .promo-body {
        a {
            color:$text-red;
            text-decoration:underline;
            &:hover, &:active, &:focus {
                color:$text-red;
                text-decoration:none;
            }
        }
        table, .table-stacked {
            background: transparent;
            border: none;
            //tr {padding: 10px 0;}
            th, td {
                width:100%;
                float:left;
            }
            th {
                font-weight: 700;
                @include respond-to(all-phone) {
                    div {
                        margin-top:10px;
                    }
                }
            }
            td {
                border: none;
                @include respond-to(all-phone) {
                    div {
                        margin-bottom:15px;
                    }
                }
            }
            tr {
                &:nth-child(1) {
                    th {
                        text-align:left;
                        &::after {
                            content:none;
                        }
                        h5 {margin-left:10px}
                        @include respond-to(all-phone) {
                            h5 {display:none}
                        }
                    }
                }
            }
            @include respond-to(tablet) {
                tr {padding: 0;}
                th, td {padding: 5px 0;float:none}
                th {
                    text-align: right;
                    font-weight: 700;
                    width: 33%;
                    padding-right: 15px;
                    position: relative;
                }
                th:after {
                    content: "";
                    background-color: #999;
                    width: 1px;
                    position: absolute;
                    top: 5px;
                    bottom: 5px;
                    right: 0;
                }
                th.link:after {
                    content: none;
                    background-color: transparent;
                    width: 0;
                }
                td {
                    width: 67%;
                    padding-left: 15px;
                }
            }
        }
    }
}

.background-gray {
    .promo-service {
        @include respond-to(all-mobile) {
            &:before, &:after {
                border-bottom: solid 30px $bg-light-gray;
            }
        }
    }
}

.snippet {
    padding:0;
    &.implementation {
        .promo-service {
            .promo-head {
                @include respond-to(desktop) {
                    padding-top:20px;
                }
                @include respond-to(large) {
                    padding-top:60px;
                }
            
                .promo-title {          
                    @include respond-to(desktop) {
                        font-size:28px;
                    }
                    @include respond-to(large) {
                        font-size:36px;
                    }
                }
            }
        }
    }
}