//AwS
.promo-work {
    background: none; 
    padding:15px;
    @include respond-to(tablet) {
    padding: 15px 15px 0 0;
    }
    text-align: center;
    position: relative;
    border: none;
    border-top: solid 1px #fff;

    .component-content, .field-promoworkbackground {
        position: relative;
    }
    .promo-body, .promo-hover {
        width: 100%;
        position: absolute;
    }
    .promo-body {
        background: rgba(0,0,0,0.7);
        top: 0;
        bottom: 0;
    }

    .promo-body { 
        text-align: center;
        padding: 20px;
        top: 0;

        .promo-icon, .field-promoicon {
            width: auto;
            max-width: 510px;
            margin: 0 auto 10px;
            float: none;
            @include transition(all .3s ease-in-out);

            img {
                width: 100%;
                height: auto;
                max-width: 100%;
                @include transition(all .3s ease-in-out);
            }
        }

        .field-promotext {
            padding: 0 30px;
            @include raleway-font-stack();
            color: $text-green;
            font-size: $font-big;
            opacity: 1;
            @include transition(all .3s ease-in-out);
        }
    }
    
    .promo-hover {
        padding: 15px;
        background-color: $bg-green;
        //min-height: 165px;
        bottom: -100%;
        color: $text-white;
        @include transition(all .3s ease-in-out);
        
        .hover-left, .hover-right {
            display: table-cell;
            vertical-align: middle;
        }
        .hover-left {text-align: right;}
        .hover-right {text-align: left; padding-left: 20px;}
        .hover-text {
            padding-bottom: 10px;
            line-height: 1;
        }

        .text-large {
            @include raleway-font-stack();
            font-size: 44px;
            line-height: 44px;
            margin-bottom: 5px;
            white-space: nowrap;

            &:before {
                font-size: 20px;
                @include fa-icon();
                content: fa-content($fa-var-arrow-up);
                position: relative;
                top: -5px;
                margin-right: 5px;
                margin-left: -5px;
            }
        }

        .hover-link { 
            > a {
                @include raleway-font-stack();
                color: $text-white;
                text-transform: uppercase;
                text-decoration: none;
                padding: 15px;
                border: 2px solid $text-white;
                display: block;
                clear: both;

                &:after {
                    //font-family: Font Awesome 5 Pro;
                    @include fa-icon();
                    content: fa-content($fa-var-arrow-right);
                    margin-left: 5px;
                }
                &:hover{
                    color: $bg-green;
                    background-color: #fff;
                }
            }
        }
    }

    &:hover, &:focus {
        .promo-body {
            .field-promoicon {
                padding: 0 15px 30px 15px;
                margin-top: -5px;

                img {
                    width: 50%;
                    // max-height: 50px;
                }
            }

            .field-promotext {
                opacity: 0;
                //display: none;
            }
        }

        .promo-hover {
            bottom: 0;
        }
    }
    @include respond-to(all-mobile) {
        //margin-bottom: 30px;
        .field-promotext {
            font-size: 18px;
        }
        .hover-text {
            > a {
                font-size: 14px;
            }
        }
        .hover-link {
            > a {
                padding: 15px 10px;
            }
        }
    }
    @include respond-to(tablet) {
        border-right: solid 1px #fff;

        &.col-sm-6.col-md-4:nth-child(odd){
            border-left: solid 1px #fff;
        }
        // Add bottom border to last 2 children
        &.col-sm-6:nth-last-child(-n+2){
            border-bottom: solid 1px #fff;
        }

        .col-xs-6 & {
            margin-bottom: 30px;
        }

        .col-sm-6 & {
            margin-bottom: 30px;
        }
    }
    @include respond-to(desktop) {
        &.col-sm-6.col-md-4:nth-child(odd){
            border-left: none;
        }
        &.col-sm-6:nth-child(odd){
            border-left: none;
        }
        // Add left border to 1st and every 4th child
        &.col-md-4:nth-child(3n+1){
            border-left: solid 1px #fff;
        }
        // Add bottom border to last 3 children
        &.col-md-4:nth-last-child(-n+3){
            border-bottom: solid 1px #fff;
        }

        .promo-body { 
            text-align: center;
            padding: 30px;
        }
        .promo-hover {
            padding:20px;

            .text-large {
                font-size: 48px;
                line-height: 48px;

                &:before {
                    font-size: 32px;
                }
            }
            .hover-text {
                font-size: $font-normal;
            }

            .hover-link {
                > a {
                    font-size: $font-medium;
                    padding: 20px;
                }
            }
        }
    }
    @include respond-to(large) {
        .promo-hover {
            .text-large {
                font-size: 64px;
                line-height: 64px;

                &:before {
                    font-size: 36px;
                }
            }
            .hover-text {
                font-size: $font-medium;
            }
            .hover-link {
                > a {
                    font-size: $font-medium;
                    padding: 20px;
                }
            }
        }
        .col-sm-6 & {
            .promo-hover {
                .hover-text {
                    font-size: $font-normal;
                }
                .text-large {
                    font-size: 56px;
                    line-height: 56px;

                    &:before {
                        font-size: 32px;
                    }
                }
            }
        }
    }
}
