/* breakpoints */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.search-results {
  /* breakpoints */
  /* breakpoints */
  /* breakpoints */
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.search-results label {
  background: transparent;
}

.search-results input, .search-results button {
  display: inline-block;
  box-sizing: border-box;
  background: #FFFFFF !important;
  border: 1px solid #d2d2d2;
  border-radius: 0 !important;
  color: #333;
  font-weight: normal;
  padding: 8px 2%;
  clear: both;
}

.search-results input[type="submit"], .search-results input[type="reset"], .search-results input[type="button"], .search-results button {
  border: 1px solid #333;
  padding: 5px 20px;
}

.search-results input[type="submit"]:hover, .search-results input[type="reset"]:hover, .search-results input[type="button"]:hover, .search-results button:hover {
  background: #f5f5f5 !important;
}

.search-results input::-moz-focus-inner, .search-results button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.search-results input[type="text"] {
  font-size: 13px;
}

.search-results input[type="text"], .search-results input[type="email"], .search-results input[type="password"], .search-results textarea, .search-results select {
  box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.1);
  color: #333;
  width: 100%;
}

.search-results select {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  box-sizing: border-box;
  outline: none;
  cursor: pointer;
}

.search-results.vertical .search-result-list > li {
  border: 1px solid #d2d2d2;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  border-width: 1px 1px 2px 1px;
  position: relative;
  width: 100%;
  padding: 5px;
  margin: 0 7px 10px 0;
}

.search-results.vertical .search-result-list > li .field-title {
  display: block;
  margin-top: 10px;
}

.search-results.vertical .search-result-list > li .field-title a {
  font-size: 18px;
  line-height: 20px;
  text-decoration: none;
  font-weight: normal;
  display: block;
}

.search-results.vertical .search-result-list > li:hover {
  border-bottom: 1px solid #840000;
  border-width: 1px 1px 2px 1px;
}

.search-results.horizontal .search-result-list {
  width: 100%;
}

.search-results.horizontal .search-result-list > li {
  float: left;
  box-sizing: border-box;
  border: 1px solid #d2d2d2;
  border-width: 1px 1px 2px 1px;
  position: relative;
  min-height: 120px;
  height: 100%;
  margin: 0 2% 10px 0;
  padding: 5px;
  width: 23%;
}

.search-results.horizontal .search-result-list > li .field-title {
  display: block;
  padding: 0 5px;
  text-align: center;
}

.search-results.horizontal .search-result-list > li .field-title a {
  font-size: 18px;
  line-height: 20px;
  text-decoration: none;
  font-weight: normal;
}

.search-results.horizontal .search-result-list > li:hover {
  border-bottom: 1px solid #840000;
  border-width: 1px 1px 2px 1px;
}

.search-results .search-results-overlay {
  display: none;
}

.search-results.loading-in-progress {
  min-height: 200px;
}

.search-results.loading-in-progress .search-result-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
}

.search-results.loading-in-progress .search-result-overlay:after {
  content: "";
  background-image: url(data:image/svg+xml;charset=utf-8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMiAzMiIgd2lkdGg9IjMyIiBoZWlnaHQ9IjMyIiBmaWxsPSJibGFjayI+CiAgPHBhdGggIG9wYWNpdHk9Ii4yNSIgZD0iTTE2IDAgQTE2IDE2IDAgMCAwIDE2IDMyIEExNiAxNiAwIDAgMCAxNiAwIE0xNiA0IEExMiAxMiAwIDAgMSAxNiAyOCBBMTIgMTIgMCAwIDEgMTYgNCIvPgogIDxwYXRoIGZpbGw9JyNkZGRkZGQnIGQ9Ik0xNiAwIEExNiAxNiAwIDAgMSAzMiAxNiBMMjggMTYgQTEyIDEyIDAgMCAwIDE2IDR6Ij4KICAgIDxhbmltYXRlVHJhbnNmb3JtIGF0dHJpYnV0ZU5hbWU9InRyYW5zZm9ybSIgdHlwZT0icm90YXRlIiBmcm9tPSIwIDE2IDE2IiB0bz0iMzYwIDE2IDE2IiBkdXI9IjAuOHMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAvPgogIDwvcGF0aD4KPC9zdmc+);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: absolute;
  width: 50px;
  height: 50px;
  top: 50%;
  left: 0;
  right: 0;
  margin: -30px auto 0;
}

.search-results.loading-more-in-progress:after {
  content: "";
  display: block;
  background-image: url(data:image/svg+xml;charset=utf-8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMiAzMiIgd2lkdGg9IjMyIiBoZWlnaHQ9IjMyIiBmaWxsPSJibGFjayI+DQogIDxwYXRoICBvcGFjaXR5PSIuMjUiIGQ9Ik0xNiAwIEExNiAxNiAwIDAgMCAxNiAzMiBBMTYgMTYgMCAwIDAgMTYgMCBNMTYgNCBBMTIgMTIgMCAwIDEgMTYgMjggQTEyIDEyIDAgMCAxIDE2IDQiLz4NCiAgPHBhdGggZmlsbD0nIzFhODBiNicgZD0iTTE2IDAgQTE2IDE2IDAgMCAxIDMyIDE2IEwyOCAxNiBBMTIgMTIgMCAwIDAgMTYgNHoiPg0KICAgIDxhbmltYXRlVHJhbnNmb3JtIGF0dHJpYnV0ZU5hbWU9InRyYW5zZm9ybSIgdHlwZT0icm90YXRlIiBmcm9tPSIwIDE2IDE2IiB0bz0iMzYwIDE2IDE2IiBkdXI9IjAuOHMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAvPg0KICA8L3BhdGg+DQo8L3N2Zz4NCg==);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 50% 50%;
  height: 100px;
}

.search-results .no-results {
  padding: 5px;
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.search-results.blog {
  margin-right: -15px;
  margin-left: -15px;
  border: none;
}

.search-results.blog:before, .search-results.blog:after {
  content: "";
  display: table;
  clear: both;
}

.search-results.blog .search-result-list {
  width: 100%;
  border: none;
}

.search-results.blog .search-result-list:before, .search-results.blog .search-result-list:after {
  content: "";
  display: table;
  clear: both;
}

.search-results.blog .search-result-list > li {
  display: block;
  float: left;
  box-sizing: border-box;
  border: none;
  position: relative;
  height: 100%;
  padding: 0 15px;
}

.search-results.blog .search-result-list > li .blog-item {
  min-height: 120px;
  padding: 0 15px 15px;
  margin-bottom: 30px;
  border-top: solid 1px #eaeaea;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  /*&:hover {
                    @include border-basic(all, $search-item-border-active);
                }*/
}

.search-results.blog .search-result-list > li .blog-item .blog-date {
  font-size: 14px;
  display: inline;
  padding-right: 10px;
  border-right: solid 1px #777;
}

.search-results.blog .search-result-list > li .blog-item .blog-date:before {
  font-family: 'Font Awesome 5 Pro';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: -.125em;
  content: "\f133";
  color: #777;
  font-size: 18px;
  margin-right: 5px;
}

.search-results.blog .search-result-list > li .blog-item .blog-author {
  font-size: 14px;
  display: inline;
  padding-left: 10px;
}

.search-results.blog .search-result-list > li .blog-item .field-excerpt {
  font-size: 14px;
}

.search-results.blog .search-result-list > li .field-title {
  display: block;
  padding: 5px 0 15px 0;
  text-align: left;
}

.search-results.blog .search-result-list > li .field-title a {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  color: #cc0000;
  line-height: 24px;
  text-decoration: none;
  font-weight: normal;
}

.search-results.blog .search-result-list > li .field-title a:hover {
  color: #cc0000;
}

.search-results.blog .search-result-list > li:hover {
  border: none;
}

.search-results.blog .search-result-list > li .blog-image {
  margin: 0 -15px 15px -15px;
}

.search-results.blog .search-result-list > li .blog-image img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

@media only screen and (min-width: 768px) {
  .no-flexbox .search-results.blog .search-result-list > li {
    width: 50%;
  }
  .no-flexbox .search-results.blog .search-result-list > li .blog-item {
    height: 336px;
    overflow: hidden;
  }
}

@media only screen and (min-width: 992px) {
  .no-flexbox .search-results.blog .search-result-list > li .blog-item {
    height: 337px;
  }
}

@media only screen and (min-width: 1200px) {
  .no-flexbox .search-results.blog .search-result-list > li {
    width: 33.333333%;
  }
  .no-flexbox .search-results.blog .search-result-list > li .blog-item {
    height: 316px;
  }
}

@media only screen and (min-width: 768px) {
  .flexbox .search-results.blog .search-result-list {
    -webkit-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 0;
    column-gap: 0;
  }
  .flexbox .search-results.blog .search-result-list > li {
    width: 100%;
    display: inline-block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    word-wrap: break-word;
    background-clip: border-box;
    float: none;
    -webkit-column-count: 1;
    column-count: 1;
  }
}

@media only screen and (min-width: 1200px) {
  .flexbox .search-results.blog .search-result-list {
    -webkit-column-count: 3;
    column-count: 3;
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.search-results.library {
  padding: 0 !important;
}

.search-results.library .field-blogimage {
  line-height: 1;
}

.search-results.library .field-blogimage img {
  width: 100%;
  height: auto;
}

.search-results.library .search-result-list {
  width: 100%;
}

.search-results.library .search-result-list > li {
  float: left;
  box-sizing: border-box;
  border: 1px solid #d2d2d2;
  border-width: 1px;
  position: relative;
  height: 100%;
  margin: 0 2% 30px 0;
  width: 23.2%;
  /*@include respond-to(large) {
                min-height: 280px;
            }*/
}

@media only screen and (max-width: 767px) {
  .search-results.library .search-result-list > li {
    min-height: 100%;
    margin-right: 0;
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .search-results.library .search-result-list > li {
    min-height: 420px;
  }
}

.search-results.library .search-result-list > li .result-image {
  position: relative;
  z-index: 1;
}

.search-results.library .search-result-list > li .result-image .field-customimage {
  line-height: 1;
}

.search-results.library .search-result-list > li .result-image .field-customimage img {
  width: 100%;
  height: auto;
}

.search-results.library .search-result-list > li .result-image .field-type {
  background: rgba(11, 30, 41, 0.7);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.search-results.library .search-result-list > li .result-image .field-type-icon {
  height: 128px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  margin: 17% auto !important;
  /*img {
                        margin:13% auto !important;
                        @include respond-to(all-phone) {
                            margin:20% auto !important;
                        }
                    }*/
}

@media only screen and (max-width: 767px) {
  .search-results.library .search-result-list > li .result-image .field-type-icon {
    margin: 20% auto !important;
  }
}

.search-results.library .search-result-list > li .result-image .field-type-icon.Case.Study:after {
  content: url("/-/media/Project/AWS/Images/resources/icons/icon-case-study.png");
}

.search-results.library .search-result-list > li .result-image .field-type-icon.White.Paper:after {
  content: url("/-/media/Project/AWS/Images/resources/icons/icon-whitepaper.png");
}

.search-results.library .search-result-list > li .result-image .field-type-icon.eBook:after {
  content: url("/-/media/Project/AWS/Images/resources/icons/icon-ebook.png");
}

.search-results.library .search-result-list > li .result-image .field-type-icon.Video:after {
  content: url("/-/media/Project/AWS/Images/resources/icons/icon-video.png");
}

.search-results.library .search-result-list > li .result-body {
  padding: 20px 15px;
  position: relative;
  z-index: 2;
  max-height: 200px;
}

.search-results.library .search-result-list > li .result-body .field-publisheddate {
  font-size: 14px;
  margin-bottom: 10px;
}

.search-results.library .search-result-list > li .result-body .field-resourcetype {
  font-size: 14px;
  color: #000;
  text-transform: uppercase;
  margin-bottom: -5px;
}

.search-results.library .search-result-list > li .result-body .link {
  margin: 0 0 10px 0;
  display: table-cell;
  vertical-align: text-top;
  line-height: 1.3;
}

.search-results.library .search-result-list > li .result-body .link a {
  font-size: 16px;
  text-decoration: none;
  font-weight: 700;
  color: #cc0000;
}

.search-results.library .search-result-list > li .result-body .link a:hover, .search-results.library .search-result-list > li .result-body .link a:active, .search-results.library .search-result-list > li .result-body .link a:focus {
  text-decoration: underline;
}

.search-results.library .search-result-list > li .result-body .field-description, .search-results.library .search-result-list > li .result-body .field-excerpt {
  margin-top: 10px;
  overflow: hidden;
  /*@include respond-to(tablet) {
                        min-height:120px;
                         max-height:120px;
                    }

                    @include respond-to(large) {
                        min-height:70px;
                        max-height:70px;
                    }*/
}

.search-results.library .search-result-list :nth-child(4n) {
  margin-right: 0;
}
