/* breakpoints */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.sxa-archive {
  background-color: #f5f5f5;
  padding: 10px;
  margin-bottom: 30px;
}

.sxa-archive .level-1 {
  display: block !important;
  padding: 0 15px 0 20px;
}

.sxa-archive .level-1 > li > .group-header {
  font-weight: bold;
}

.sxa-archive .group-header {
  display: block;
}

.sxa-archive .group-header:before {
  font-size: 10px;
  font-size: 1rem;
  height: 10px;
  line-height: 10px;
  position: absolute;
  content: "+";
  top: 8px;
  left: -15px;
  padding: 0;
}

.sxa-archive ul {
  display: none;
  cursor: pointer;
}

.sxa-archive ul li {
  position: relative;
}

.sxa-archive .archive-items {
  display: none;
}

.sxa-archive .archive-items .archive-item {
  cursor: default;
}
