/* breakpoints */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.row.column-splitter {
  clear: both;
  margin-left: 0;
  margin-right: 0;
  max-width: none;
}

.row.column-splitter:before, .row.column-splitter:after {
  content: "";
  display: table;
  clear: both;
}

@media only screen and (max-width: 767px) {
  .sitemap .row.column-splitter {
    margin-left: 15px;
  }
}

@media only screen and (max-width: 479px) {
  .sitemap .row.column-splitter .col-xs-6 {
    width: 100%;
  }
}
