/* breakpoints */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.related-resources {
  padding: 0;
}

@media only screen and (max-width: 767px) {
  .related-resources {
    padding: 0 15px !important;
  }
}

.related-resources .title h1, .related-resources .title h2, .related-resources .title h3, .related-resources .title h4, .related-resources .title h5, .related-resources .title h6 {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}

.related-resources .search-result-list {
  width: 100%;
  border: none;
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.related-resources .search-result-list:before, .related-resources .search-result-list:after {
  content: "";
  display: table;
  clear: both;
}

.related-resources .search-result-list > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
  position: relative;
  padding: 0 15px;
  /*
            @include respond-to(tablet) {
                padding: 0 15px;
            }
            @include respond-to(all-phone) {
                width:100%;
            }
            */
}

.related-resources .search-result-list > li .blog-item {
  padding: 0 15px 15px;
  margin-bottom: 30px;
  border-top: solid 1px #eaeaea;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  display: block;
}

.related-resources .search-result-list > li .blog-item .blog-date {
  font-size: 14px;
  display: inline;
  padding-right: 10px;
  border-right: solid 1px #777;
}

.related-resources .search-result-list > li .blog-item .blog-date:before {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: -.125em;
  font-family: 'Font Awesome 5 Pro';
  content: "\f133";
  color: #777;
  font-size: 18px;
  margin-right: 5px;
}

.related-resources .search-result-list > li .blog-item .blog-author {
  font-size: 14px;
  display: inline;
  padding-left: 10px;
}

.related-resources .search-result-list > li .blog-item .field-excerpt {
  font-size: 14px;
}

.related-resources .search-result-list > li .field-title {
  display: block;
  padding: 5px 0 15px 0;
  text-align: left;
}

.related-resources .search-result-list > li .field-title a {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  color: #cc0000;
  line-height: 24px;
  text-decoration: none;
  font-weight: normal;
}

.related-resources .search-result-list > li .field-title a:hover {
  color: #cc0000;
}

.related-resources .search-result-list > li:hover {
  border: none;
}

.related-resources .search-result-list > li .blog-image {
  margin: 0 -15px 15px -15px;
}

.related-resources .search-result-list > li .blog-image img {
  width: 100%;
  height: auto;
}

@media only screen and (min-width: 768px) {
  .related-resources .search-result-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
  }
  .related-resources .search-result-list > li {
    width: 50%;
  }
}

@media only screen and (min-width: 992px) {
  .related-resources .search-result-list > li {
    width: 25%;
  }
}

@media only screen and (min-width: 768px) {
  .no-flexbox .related-resources .search-result-list > li .blog-item {
    min-height: 336px;
  }
}

@media only screen and (min-width: 992px) {
  .no-flexbox .related-resources .search-result-list > li .blog-item {
    min-height: 337px;
  }
}

@media only screen and (min-width: 1200px) {
  .no-flexbox .related-resources .search-result-list > li .blog-item {
    min-height: 316px;
  }
}

/*
.flexbox {
    .related-resources {
        .search-result-list {
            @media only screen and (max-width: 575px) {
                >li {
                    max-width: 345px;
                    margin-left: auto;
                    margin-right: auto;
                    float: none;
                }
            }
            //@include respond-to(tablet) {
            
            @media only screen and (min-width: 576px) {
                -webkit-column-count: 2;
                -moz-column-count: 2;
                column-count: 2;
                -webkit-column-gap: 0;
                -moz-column-gap: 0;
                column-gap: 30px;

                >li {
                    width: 100%;
                    -webkit-box-orient: vertical;
                    -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                    flex-direction: column;
                    word-wrap: break-word;
                    background-clip: border-box;
                    float: none;
                    column-count: 1;
                    padding: 0; 
                    min-height:370px;
                }
            }
            @include respond-to(desktop) {
                -webkit-column-count: 4;
                -moz-column-count: 4;
                column-count: 4;
            }
            
        }
    }
}
*/
