/* breakpoints */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.facet-component {
  box-sizing: border-box;
  background: #f5f5f5;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 30px;
  /* breakpoints */
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.facet-component label {
  background: transparent;
}

.facet-component input, .facet-component button {
  display: inline-block;
  box-sizing: border-box;
  background: #FFFFFF !important;
  border: 1px solid #d2d2d2;
  border-radius: 0 !important;
  color: #333;
  font-weight: normal;
  padding: 8px 2%;
  clear: both;
}

.facet-component input[type="submit"], .facet-component input[type="reset"], .facet-component input[type="button"], .facet-component button {
  color: #cc0000;
  background-color: #FFFFFF;
  border: solid 2px #cc0000;
  padding: 10px 15px;
}

.facet-component input[type="submit"]:hover, .facet-component input[type="reset"]:hover, .facet-component input[type="button"]:hover, .facet-component button:hover {
  color: #FFFFFF;
  background-color: #cc0000;
}

.facet-component input::-moz-focus-inner, .facet-component button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.facet-component input[type="text"] {
  font-size: 13px;
}

.facet-component input[type="text"], .facet-component input[type="email"], .facet-component input[type="password"], .facet-component textarea, .facet-component select {
  box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.1);
  color: #333;
  width: 100%;
  display: block;
}

.facet-component select {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  box-sizing: border-box;
  outline: none;
  cursor: pointer;
}

.facet-component .bottom-filter-button {
  float: right;
}

.facet-component .facet-heading {
  border-bottom: 3px solid #333;
  padding: 0 0 5px 0;
  margin: 0 0 5px 0;
  position: relative;
}

.facet-component .facet-heading .facet-title {
  display: inline-block;
  vertical-align: middle;
  color: #333;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 2px;
}

.facet-component .facet-heading .clear-filter {
  display: inline-block;
  vertical-align: middle;
  border-radius: 15px;
  text-align: center;
  width: 20px;
  line-height: 20px;
  cursor: pointer;
  position: absolute;
  right: 3px;
  top: 50%;
  padding-bottom: 2px;
  margin-top: -4px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background: #f5f5f5;
  color: transparent;
}

.facet-component .facet-heading .clear-filter::before {
  color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: -.125em;
  font-family: 'Font Awesome 5 Pro';
  content: "\f00d";
  font-size: 14px;
  position: relative;
  left: 4px;
}

.facet-component .facet-heading .clear-filter::before:hover {
  color: #000;
}

.facet-component .facet-heading .clear-filter:hover {
  background: #cc0000;
  text-decoration: none;
  color: transparent;
}

.facet-component .facet-heading .clear-filter.has-active-facet {
  background: #cccccc;
  color: transparent;
}

.facet-component .facet-heading .clear-filter.has-active-facet:hover {
  background: #cc0000;
  color: transparent;
}

.facet-single-selection-list .facet-dropdown {
  margin: 10px 0;
}

.facet-single-selection-list .facet-dropdown select {
  min-width: 100%;
}

.facet-single-selection-list .facet-value input[type="checkbox"] {
  display: none;
}

.facet-single-selection-list .facet-value label {
  color: #333;
}

.facet-single-selection-list .facet-value.active-facet label, .facet-single-selection-list .facet-value.active-facet .facet-count.highlighted, .facet-single-selection-list .facet-value.active-facet span {
  color: #89C6CC;
}

.facet-single-selection-list .bottom-remove-filter {
  float: left;
}

.facet-single-selection-list .bottom-filter-button {
  float: right;
}

.facet-dropdown {
  margin: 10px 0;
}

.facet-dropdown select {
  min-width: 100%;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #d2d2d2;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  position: relative;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  background-color: #FFFFFF;
  border-radius: 4px;
  margin-bottom: 5px;
}

.radius-filter {
  /* breakpoints */
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.radius-filter label {
  background: transparent;
}

.radius-filter input, .radius-filter button {
  display: inline-block;
  box-sizing: border-box;
  background: #FFFFFF !important;
  border: 1px solid #d2d2d2;
  border-radius: 0 !important;
  color: #333;
  font-weight: normal;
  padding: 8px 2%;
  clear: both;
}

.radius-filter input[type="submit"], .radius-filter input[type="reset"], .radius-filter input[type="button"], .radius-filter button {
  color: #cc0000;
  background-color: #FFFFFF;
  border: solid 2px #cc0000;
  padding: 10px 15px;
}

.radius-filter input[type="submit"]:hover, .radius-filter input[type="reset"]:hover, .radius-filter input[type="button"]:hover, .radius-filter button:hover {
  color: #FFFFFF;
  background-color: #cc0000;
}

.radius-filter input::-moz-focus-inner, .radius-filter button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.radius-filter input[type="text"] {
  font-size: 13px;
}

.radius-filter input[type="text"], .radius-filter input[type="email"], .radius-filter input[type="password"], .radius-filter textarea, .radius-filter select {
  box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.1);
  color: #333;
  width: 100%;
  display: block;
}

.radius-filter select {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  box-sizing: border-box;
  outline: none;
  cursor: pointer;
}

.radius-filter .radius-button.selected {
  color: #89C6CC;
  background: #FFFFFF;
}

.radius-filter ul {
  height: 30px;
}

.radius-filter ul li {
  display: block;
  border-width: 1px 1px 1px 0;
  border-style: solid;
  border-color: #d2d2d2;
  float: left;
  padding: 5px 5px;
  cursor: pointer;
}

.radius-filter ul li:first-child {
  border-width: 1px;
}

.radius-filter .bottom-remove-filter {
  margin-bottom: 5px;
}

.ui-slider {
  position: relative;
  width: 80%;
  margin: 10px auto;
  text-align: left;
}

.ui-slider .ui-widget-header {
  border: 1px solid #333;
  background: #cc0000;
  font-weight: bold;
}

.ui-slider .ui-widget-header a {
  color: #ffffff;
}

.slider-value {
  text-align: center;
}

/* Interaction states
----------------------------------*/
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  border: 1px solid #d2d2d2;
  background: #f5f5f5;
  font-weight: normal;
  color: #333;
}

.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
  color: #333;
  text-decoration: none;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
  border: 1px solid #d2d2d2;
  background: #dadada;
  font-weight: normal;
  color: #333;
}

.ui-state-hover a, .ui-state-hover a:hover, .ui-state-hover a:link, .ui-state-hover a:visited, .ui-state-focus a, .ui-state-focus a:hover, .ui-state-focus a:link, .ui-state-focus a:visited {
  color: #333;
  text-decoration: none;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
  border: 1px solid #d2d2d2;
  background: #dadada;
  font-weight: normal;
  color: #333;
}

.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
  color: #333;
  text-decoration: none;
}

.ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 1.2em;
  height: 1.2em;
  cursor: default;
  -ms-touch-action: none;
  touch-action: none;
}

.ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: .7em;
  display: block;
  border: 0;
  background-position: 0 0;
}

/* For IE8 - See #6727 */
.ui-slider.ui-state-disabled .ui-slider-handle, .ui-slider.ui-state-disabled .ui-slider-range {
  -webkit-filter: inherit;
  filter: inherit;
}

.ui-slider-horizontal {
  height: .8em;
}

.ui-slider-horizontal .ui-slider-handle {
  top: -.3em;
  margin-left: -.6em;
}

.ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 100%;
}

.ui-slider-horizontal .ui-slider-range-min {
  left: 0;
}

.ui-slider-horizontal .ui-slider-range-max {
  right: 0;
}

.ui-slider-vertical {
  width: .8em;
  height: 100px;
}

.ui-slider-vertical .ui-slider-handle {
  left: -.3em;
  margin-left: 0;
  margin-bottom: -.6em;
}

.ui-slider-vertical .ui-slider-range {
  left: 0;
  width: 100%;
}

.ui-slider-vertical .ui-slider-range-min {
  bottom: 0;
}

.ui-slider-vertical .ui-slider-range-max {
  top: 0;
}

/* breakpoints */
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.load-more {
  /* breakpoints */
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.load-more label {
  background: transparent;
}

.load-more input, .load-more button {
  display: inline-block;
  box-sizing: border-box;
  background: #FFFFFF !important;
  border: 1px solid #d2d2d2;
  border-radius: 0 !important;
  color: #333;
  font-weight: normal;
  padding: 8px 2%;
  clear: both;
}

.load-more input[type="submit"], .load-more input[type="reset"], .load-more input[type="button"], .load-more button {
  color: #cc0000;
  background-color: #FFFFFF;
  border: solid 2px #cc0000;
  padding: 10px 15px;
}

.load-more input[type="submit"]:hover, .load-more input[type="reset"]:hover, .load-more input[type="button"]:hover, .load-more button:hover {
  color: #FFFFFF;
  background-color: #cc0000;
}

.load-more input::-moz-focus-inner, .load-more button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.load-more input[type="text"] {
  font-size: 13px;
}

.load-more input[type="text"], .load-more input[type="email"], .load-more input[type="password"], .load-more textarea, .load-more select {
  box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.1);
  color: #333;
  width: 100%;
  display: block;
}

.load-more select {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  box-sizing: border-box;
  outline: none;
  cursor: pointer;
}

.load-more.btn-lg {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}

.load-more input[type="button"] {
  font-family: "Raleway", sans-serif;
  color: #cc0000;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  padding: 10px 15px;
  display: inline-block;
  background-color: #FFFFFF;
  border: solid 2px #cc0000;
  border-radius: 0;
}

.load-more input[type="button"]:hover, .load-more input[type="button"]:focus {
  color: #FFFFFF;
  background-color: #cc0000;
}

/* breakpoints */
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.location-filter {
  position: relative;
  padding: 5px 10px 15px 10px;
  margin: 0 0 20px 0;
  /* breakpoints */
  /* breakpoints */
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.location-filter label {
  background: transparent;
}

.location-filter input, .location-filter button {
  display: inline-block;
  box-sizing: border-box;
  background: #FFFFFF !important;
  border: 1px solid #d2d2d2;
  border-radius: 0 !important;
  color: #333;
  font-weight: normal;
  padding: 8px 2%;
  clear: both;
}

.location-filter input[type="submit"], .location-filter input[type="reset"], .location-filter input[type="button"], .location-filter button {
  color: #cc0000;
  background-color: #FFFFFF;
  border: solid 2px #cc0000;
  padding: 10px 15px;
}

.location-filter input[type="submit"]:hover, .location-filter input[type="reset"]:hover, .location-filter input[type="button"]:hover, .location-filter button:hover {
  color: #FFFFFF;
  background-color: #cc0000;
}

.location-filter input::-moz-focus-inner, .location-filter button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.location-filter input[type="text"] {
  font-size: 13px;
}

.location-filter input[type="text"], .location-filter input[type="email"], .location-filter input[type="password"], .location-filter textarea, .location-filter select {
  box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.1);
  color: #333;
  width: 100%;
  display: block;
}

.location-filter select {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  box-sizing: border-box;
  outline: none;
  cursor: pointer;
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.location-filter .twitter-typeahead {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  width: 100%;
}

.location-filter .tt-hint {
  color: #333;
}

.location-filter .tt-dropdown-menu {
  width: 250px;
  margin-top: 5px;
  background-color: #f5f5f5;
  border: 1px solid #d2d2d2;
  max-height: 300px;
  overflow-y: auto;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

.location-filter .tt-suggestion {
  padding: 4px 10px;
  color: #333;
  overflow: hidden;
}

.location-filter .tt-suggestion a {
  text-decoration: none;
}

.location-filter .tt-suggestion:last-child {
  border: none;
}

.location-filter .tt-suggestion .field-image {
  width: 100px;
  float: left;
  margin-right: 10px;
}

.location-filter .tt-suggestion .field-make {
  font-size: 15px;
  float: left;
  margin-right: 5px;
}

.location-filter .tt-suggestion .field-model {
  margin-left: 4px;
  font-size: 15px;
  font-weight: bold;
  width: 100%;
}

.location-filter .tt-suggestion .field-priceformatted {
  float: right;
  font-size: 15px;
  color: #89C6CC;
  margin-top: -20px;
}

.location-filter .tt-suggestion.tt-cursor {
  color: #89C6CC;
  background-color: #dadada;
  cursor: pointer;
}

.location-filter.loading-in-progress .tt-dropdown-menu {
  display: block !important;
  min-height: 50px;
  position: relative;
}

.location-filter.loading-in-progress .tt-dropdown-menu:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -20px;
  margin-left: -20px;
  height: 40px;
  width: 50px;
  display: block;
  background-image: url(data:image/svg+xml;charset=utf-8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMiAzMiIgd2lkdGg9IjMyIiBoZWlnaHQ9IjMyIiBmaWxsPSJibGFjayI+DQogIDxwYXRoICBvcGFjaXR5PSIuMjUiIGQ9Ik0xNiAwIEExNiAxNiAwIDAgMCAxNiAzMiBBMTYgMTYgMCAwIDAgMTYgMCBNMTYgNCBBMTIgMTIgMCAwIDEgMTYgMjggQTEyIDEyIDAgMCAxIDE2IDQiLz4NCiAgPHBhdGggZmlsbD0nIzFhODBiNicgZD0iTTE2IDAgQTE2IDE2IDAgMCAxIDMyIDE2IEwyOCAxNiBBMTIgMTIgMCAwIDAgMTYgNHoiPg0KICAgIDxhbmltYXRlVHJhbnNmb3JtIGF0dHJpYnV0ZU5hbWU9InRyYW5zZm9ybSIgdHlwZT0icm90YXRlIiBmcm9tPSIwIDE2IDE2IiB0bz0iMzYwIDE2IDE2IiBkdXI9IjAuOHMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAvPg0KICA8L3BhdGg+DQo8L3N2Zz4NCg==);
  background-position: center center;
  background-repeat: no-repeat;
  z-index: 11;
}

.location-filter.loading-in-progress .tt-dropdown-menu:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
  opacity: 0.8;
  z-index: 10;
}

.location-filter .component-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.location-filter .component-content > div, .location-filter .component-content > button, .location-filter .component-content > label, .location-filter .component-content > input, .location-filter .component-content > span {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}

.location-filter .component-content > label, .location-filter .component-content > button {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.location-filter .component-content > label {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  text-align: center;
}

.location-filter .component-content > input, .location-filter .component-content > span {
  -webkit-box-flex: 10;
  -ms-flex-positive: 10;
  flex-grow: 10;
  width: auto;
  margin: 0 5px;
}

.location-filter .tt-hint::-webkit-input-placeholder {
  color: transparent;
}

.location-filter .tt-hint::-moz-placeholder {
  color: transparent;
}

.page-selector {
  text-align: center;
  padding: 10px 0 0 0;
}

.page-selector .page-selector-list li {
  display: inline-block;
  vertical-align: middle;
}

.page-selector .page-selector-list li.inactive a {
  color: transparent;
  cursor: default;
}

.page-selector .page-selector-list li.active {
  background-color: #cc0000;
  color: #FFFFFF;
}

.page-selector a {
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
}

.page-selector .page-selector-item-first, .page-selector .page-selector-item-previous,
.page-selector .page-selector-item-last, .page-selector .page-selector-item-next, .page-selector .page-selector-item-link {
  margin-left: 5px;
  border: 1px solid #d2d2d2;
  border-radius: 4px;
  display: block;
  text-decoration: none;
  height: 28px;
  line-height: 22px;
  padding: 2px 9px;
  color: #cc0000;
}

.page-selector .page-selector-item-first a, .page-selector .page-selector-item-previous a,
.page-selector .page-selector-item-last a, .page-selector .page-selector-item-next a, .page-selector .page-selector-item-link a {
  color: #cc0000;
}

.page-selector .page-selector-item-first a, .page-selector .page-selector-item-previous a,
.page-selector .page-selector-item-last a, .page-selector .page-selector-item-next a {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: -.125em;
  font-family: 'Font Awesome 5 Pro';
  color: transparent;
  position: relative;
}

.page-selector .page-selector-item-first a::after, .page-selector .page-selector-item-previous a::after,
.page-selector .page-selector-item-last a::after, .page-selector .page-selector-item-next a::after {
  position: relative;
  top: -2px;
  color: #cc0000;
}

.page-selector .page-selector-item-first.active, .page-selector .page-selector-item-first:hover, .page-selector .page-selector-item-first:focus, .page-selector .page-selector-item-previous.active, .page-selector .page-selector-item-previous:hover, .page-selector .page-selector-item-previous:focus,
.page-selector .page-selector-item-last.active,
.page-selector .page-selector-item-last:hover,
.page-selector .page-selector-item-last:focus, .page-selector .page-selector-item-next.active, .page-selector .page-selector-item-next:hover, .page-selector .page-selector-item-next:focus, .page-selector .page-selector-item-link.active, .page-selector .page-selector-item-link:hover, .page-selector .page-selector-item-link:focus {
  background: #cc0000;
  color: #FFFFFF;
}

.page-selector .page-selector-item-first.active a, .page-selector .page-selector-item-first:hover a, .page-selector .page-selector-item-first:focus a, .page-selector .page-selector-item-previous.active a, .page-selector .page-selector-item-previous:hover a, .page-selector .page-selector-item-previous:focus a,
.page-selector .page-selector-item-last.active a,
.page-selector .page-selector-item-last:hover a,
.page-selector .page-selector-item-last:focus a, .page-selector .page-selector-item-next.active a, .page-selector .page-selector-item-next:hover a, .page-selector .page-selector-item-next:focus a, .page-selector .page-selector-item-link.active a, .page-selector .page-selector-item-link:hover a, .page-selector .page-selector-item-link:focus a {
  color: transparent;
}

.page-selector .page-selector-item-first.active a::after, .page-selector .page-selector-item-first:hover a::after, .page-selector .page-selector-item-first:focus a::after, .page-selector .page-selector-item-previous.active a::after, .page-selector .page-selector-item-previous:hover a::after, .page-selector .page-selector-item-previous:focus a::after,
.page-selector .page-selector-item-last.active a::after,
.page-selector .page-selector-item-last:hover a::after,
.page-selector .page-selector-item-last:focus a::after, .page-selector .page-selector-item-next.active a::after, .page-selector .page-selector-item-next:hover a::after, .page-selector .page-selector-item-next:focus a::after, .page-selector .page-selector-item-link.active a::after, .page-selector .page-selector-item-link:hover a::after, .page-selector .page-selector-item-link:focus a::after {
  color: #FFFFFF;
}

.page-selector .page-selector-item-first.inactive a, .page-selector .page-selector-item-previous.inactive a,
.page-selector .page-selector-item-last.inactive a, .page-selector .page-selector-item-next.inactive a, .page-selector .page-selector-item-link.inactive a {
  color: transparent;
}

.page-selector .page-selector-item-first.inactive a::after, .page-selector .page-selector-item-previous.inactive a::after,
.page-selector .page-selector-item-last.inactive a::after, .page-selector .page-selector-item-next.inactive a::after, .page-selector .page-selector-item-link.inactive a::after {
  color: #555;
}

.page-selector .page-selector-item-first.inactive:hover, .page-selector .page-selector-item-first.inactive:focus, .page-selector .page-selector-item-previous.inactive:hover, .page-selector .page-selector-item-previous.inactive:focus,
.page-selector .page-selector-item-last.inactive:hover,
.page-selector .page-selector-item-last.inactive:focus, .page-selector .page-selector-item-next.inactive:hover, .page-selector .page-selector-item-next.inactive:focus, .page-selector .page-selector-item-link.inactive:hover, .page-selector .page-selector-item-link.inactive:focus {
  background: transparent;
  color: transparent;
}

.page-selector .page-selector-item-first.inactive:hover a, .page-selector .page-selector-item-first.inactive:focus a, .page-selector .page-selector-item-previous.inactive:hover a, .page-selector .page-selector-item-previous.inactive:focus a,
.page-selector .page-selector-item-last.inactive:hover a,
.page-selector .page-selector-item-last.inactive:focus a, .page-selector .page-selector-item-next.inactive:hover a, .page-selector .page-selector-item-next.inactive:focus a, .page-selector .page-selector-item-link.inactive:hover a, .page-selector .page-selector-item-link.inactive:focus a {
  color: transparent;
}

.page-selector .page-selector-item-first.inactive:hover a::after, .page-selector .page-selector-item-first.inactive:focus a::after, .page-selector .page-selector-item-previous.inactive:hover a::after, .page-selector .page-selector-item-previous.inactive:focus a::after,
.page-selector .page-selector-item-last.inactive:hover a::after,
.page-selector .page-selector-item-last.inactive:focus a::after, .page-selector .page-selector-item-next.inactive:hover a::after, .page-selector .page-selector-item-next.inactive:focus a::after, .page-selector .page-selector-item-link.inactive:hover a::after, .page-selector .page-selector-item-link.inactive:focus a::after {
  color: #555;
}

.page-selector .page-selector-item-first a::after {
  content: "\f100";
}

.page-selector .page-selector-item-previous a::after {
  content: "\f104";
}

.page-selector .page-selector-item-last a::after {
  content: "\f101";
}

.page-selector .page-selector-item-next a::after {
  content: "\f105";
}

.page-size {
  /* breakpoints */
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.page-size label {
  background: transparent;
}

.page-size input, .page-size button {
  display: inline-block;
  box-sizing: border-box;
  background: #FFFFFF !important;
  border: 1px solid #d2d2d2;
  border-radius: 0 !important;
  color: #333;
  font-weight: normal;
  padding: 8px 2%;
  clear: both;
}

.page-size input[type="submit"], .page-size input[type="reset"], .page-size input[type="button"], .page-size button {
  color: #cc0000;
  background-color: #FFFFFF;
  border: solid 2px #cc0000;
  padding: 10px 15px;
}

.page-size input[type="submit"]:hover, .page-size input[type="reset"]:hover, .page-size input[type="button"]:hover, .page-size button:hover {
  color: #FFFFFF;
  background-color: #cc0000;
}

.page-size input::-moz-focus-inner, .page-size button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.page-size input[type="text"] {
  font-size: 13px;
}

.page-size input[type="text"], .page-size input[type="email"], .page-size input[type="password"], .page-size textarea, .page-size select {
  box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.1);
  color: #333;
  width: 100%;
  display: block;
}

.page-size select {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  box-sizing: border-box;
  outline: none;
  cursor: pointer;
}

.page-size label {
  margin-right: 5px;
}

.page-size select {
  max-width: 100px;
  width: auto;
}

.search-results-count .progress {
  display: none;
}

.search-results-count .results-count {
  display: none;
}

.on-page-editor .results-count {
  display: inline-block;
}

/* breakpoints */
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.variant-selector.component {
  margin: 30px 0 0 0;
}

.variant-selector .component-content > div {
  height: 30px;
  display: inline-block;
  width: 30px;
  margin: 2px;
  cursor: Pointer;
}

.variant-selector .horizontal {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: -.125em;
  font-family: 'Font Awesome 5 Pro';
}

.variant-selector .horizontal:before {
  content: "\f009";
  display: block;
  height: 100%;
  font-size: 30px;
  width: 100%;
  text-align: center;
}

.variant-selector .horizontal.active-variant {
  color: #15909c;
}

.variant-selector .vertical {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: -.125em;
  font-family: 'Font Awesome 5 Pro';
}

.variant-selector .vertical:before {
  content: "\f0c9";
  display: block;
  height: 100%;
  font-size: 30px;
  width: 100%;
  text-align: center;
}

.variant-selector .vertical.active-variant {
  color: #15909c;
}

.column-header-search .search-box {
  margin: 0;
  padding: 2px 10px 0 10px;
}

.search-box {
  /* breakpoints */
  /* breakpoints */
  position: relative;
  padding: 14px 0;
  box-sizing: border-box;
  /*this is for icon only and we dont need it
    @include respond-to(all-phone) {
        width: 54px;
        height: 70px;
        position: absolute;
        right: 56px;
    }

    @include respond-to(desktop) {
        padding: 16px 0;
    }
    @include respond-to(large) {
        padding: 18px 0;
    }*/
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.search-box label {
  background: transparent;
}

.search-box input, .search-box button {
  display: inline-block;
  box-sizing: border-box;
  background: #FFFFFF !important;
  border: 1px solid #d2d2d2;
  border-radius: 0 !important;
  color: #333;
  font-weight: normal;
  padding: 8px 2%;
  clear: both;
}

.search-box input[type="submit"], .search-box input[type="reset"], .search-box input[type="button"], .search-box button {
  color: #cc0000;
  background-color: #FFFFFF;
  border: solid 2px #cc0000;
  padding: 10px 15px;
}

.search-box input[type="submit"]:hover, .search-box input[type="reset"]:hover, .search-box input[type="button"]:hover, .search-box button:hover {
  color: #FFFFFF;
  background-color: #cc0000;
}

.search-box input::-moz-focus-inner, .search-box button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.search-box input[type="text"] {
  font-size: 13px;
}

.search-box input[type="text"], .search-box input[type="email"], .search-box input[type="password"], .search-box textarea, .search-box select {
  box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.1);
  color: #333;
  width: 100%;
  display: block;
}

.search-box select {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  box-sizing: border-box;
  outline: none;
  cursor: pointer;
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.search-box .twitter-typeahead {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  width: 100%;
}

.search-box .tt-hint {
  color: #333;
}

.search-box .tt-dropdown-menu {
  width: 250px;
  margin-top: 5px;
  background-color: #f5f5f5;
  border: 1px solid #d2d2d2;
  max-height: 300px;
  overflow-y: auto;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

.search-box .tt-suggestion {
  padding: 4px 10px;
  color: #333;
  overflow: hidden;
}

.search-box .tt-suggestion a {
  text-decoration: none;
}

.search-box .tt-suggestion:last-child {
  border: none;
}

.search-box .tt-suggestion .field-image {
  width: 100px;
  float: left;
  margin-right: 10px;
}

.search-box .tt-suggestion .field-make {
  font-size: 15px;
  float: left;
  margin-right: 5px;
}

.search-box .tt-suggestion .field-model {
  margin-left: 4px;
  font-size: 15px;
  font-weight: bold;
  width: 100%;
}

.search-box .tt-suggestion .field-priceformatted {
  float: right;
  font-size: 15px;
  color: #89C6CC;
  margin-top: -20px;
}

.search-box .tt-suggestion.tt-cursor {
  color: #89C6CC;
  background-color: #dadada;
  cursor: pointer;
}

.search-box.loading-in-progress .tt-dropdown-menu {
  display: block !important;
  min-height: 50px;
  position: relative;
}

.search-box.loading-in-progress .tt-dropdown-menu:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -20px;
  margin-left: -20px;
  height: 40px;
  width: 50px;
  display: block;
  background-image: url(data:image/svg+xml;charset=utf-8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMiAzMiIgd2lkdGg9IjMyIiBoZWlnaHQ9IjMyIiBmaWxsPSJibGFjayI+DQogIDxwYXRoICBvcGFjaXR5PSIuMjUiIGQ9Ik0xNiAwIEExNiAxNiAwIDAgMCAxNiAzMiBBMTYgMTYgMCAwIDAgMTYgMCBNMTYgNCBBMTIgMTIgMCAwIDEgMTYgMjggQTEyIDEyIDAgMCAxIDE2IDQiLz4NCiAgPHBhdGggZmlsbD0nIzFhODBiNicgZD0iTTE2IDAgQTE2IDE2IDAgMCAxIDMyIDE2IEwyOCAxNiBBMTIgMTIgMCAwIDAgMTYgNHoiPg0KICAgIDxhbmltYXRlVHJhbnNmb3JtIGF0dHJpYnV0ZU5hbWU9InRyYW5zZm9ybSIgdHlwZT0icm90YXRlIiBmcm9tPSIwIDE2IDE2IiB0bz0iMzYwIDE2IDE2IiBkdXI9IjAuOHMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAvPg0KICA8L3BhdGg+DQo8L3N2Zz4NCg==);
  background-position: center center;
  background-repeat: no-repeat;
  z-index: 11;
}

.search-box.loading-in-progress .tt-dropdown-menu:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
  opacity: 0.8;
  z-index: 10;
}

.search-box.hide-button .search-box-button {
  display: none;
}

.search-box .component-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search-box .component-content > label, .search-box .component-content > input, .search-box .component-content > button {
  display: inline-block;
}

.search-box .component-content > label, .search-box .component-content > button {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.search-box .component-content > input {
  width: auto;
  -webkit-box-flex: 10;
  -ms-flex-positive: 10;
  flex-grow: 10;
  margin: 0 5px;
}

.search-box .component-content > label {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  text-align: center;
}

.search-box .component-content > .twitter-typeahead {
  -webkit-box-flex: 10;
  -ms-flex-positive: 10;
  flex-grow: 10;
}

.search-box .search-box-input {
  position: relative;
}

.search-box .search-box-input.tt-hint {
  margin-top: 0;
}

.sort-results {
  /* breakpoints */
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.sort-results label {
  background: transparent;
}

.sort-results input, .sort-results button {
  display: inline-block;
  box-sizing: border-box;
  background: #FFFFFF !important;
  border: 1px solid #d2d2d2;
  border-radius: 0 !important;
  color: #333;
  font-weight: normal;
  padding: 8px 2%;
  clear: both;
}

.sort-results input[type="submit"], .sort-results input[type="reset"], .sort-results input[type="button"], .sort-results button {
  color: #cc0000;
  background-color: #FFFFFF;
  border: solid 2px #cc0000;
  padding: 10px 15px;
}

.sort-results input[type="submit"]:hover, .sort-results input[type="reset"]:hover, .sort-results input[type="button"]:hover, .sort-results button:hover {
  color: #FFFFFF;
  background-color: #cc0000;
}

.sort-results input::-moz-focus-inner, .sort-results button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.sort-results input[type="text"] {
  font-size: 13px;
}

.sort-results input[type="text"], .sort-results input[type="email"], .sort-results input[type="password"], .sort-results textarea, .sort-results select {
  box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.1);
  color: #333;
  width: 100%;
  display: block;
}

.sort-results select {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  box-sizing: border-box;
  outline: none;
  cursor: pointer;
}

.sort-results select {
  max-width: 100%;
  width: auto;
  display: inline-block;
}

.sort-results .facet-title {
  display: inline-block;
  margin-right: 5px;
}

/* breakpoints */
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

input[type="text"], input[type="password"], input[type="email"], textarea, input[type="file"] {
  box-sizing: border-box;
  border: 1px solid #d2d2d2;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  width: 100%;
  font-size: 13px;
  color: #747474;
  outline: none;
  height: auto;
  margin: 5px 0;
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  line-height: 1.42857143;
  background-color: #fff;
  background-image: none;
  border-radius: 0;
}

input[type="submit"], button, input[type="button"] {
  display: inline-block;
  padding: 10px 15px;
  margin-bottom: 0;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: #fff;
  background: -webkit-linear-gradient(legacy-direction(to bottom), #fff 0, #e0e0e0 100%);
  background: -webkit-linear-gradient(top, #fff 0, #e0e0e0 100%);
  background: linear-gradient(to bottom, #fff 0, #e0e0e0 100%);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  background-repeat: repeat-x;
  border: solid 2px #cc0000;
  border-radius: 0;
}

input[type="submit"]:hover, button:hover, input[type="button"]:hover {
  color: #FFFFFF;
  background-color: #cc0000;
  text-decoration: none;
}

input[type="file"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #d2d2d2;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  position: relative;
  z-index: 5;
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #FFFFFF;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button[type="submit"] {
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  border: 1px solid #d2d2d2;
  color: #747474;
  font-weight: normal;
  padding: 5px 20px;
  margin: 0 1px 0 5px;
  float: right;
  clear: both;
}

button[type="submit"]:hover {
  background: #f5f5f5;
}

.bottom-filter-button {
  float: right;
}

.bottom-filter-button .filterButton {
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  border: 1px solid #d2d2d2;
  color: #747474;
  font-weight: normal;
  padding: 5px 20px;
  margin: 0 1px 0 5px;
}

.bottom-filter-button .filterButton:hover {
  background: #f5f5f5;
}

.bottom-remove-filter {
  margin-top: 10px;
}

.bottom-remove-filter button {
  font-family: "Raleway", sans-serif;
  color: #cc0000;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  padding: 10px 15px;
  display: inline-block;
  background-color: #FFFFFF;
  border: solid 2px #cc0000;
  border-radius: 0;
}

.bottom-remove-filter button:hover, .bottom-remove-filter button:focus {
  color: #FFFFFF;
  background-color: #cc0000 !important;
}

.search-box.icon-only {
  padding: 0;
  width: auto;
  height: 69px;
  margin-left: -40px;
  float: right;
  z-index: 99;
}

@media only screen and (max-width: 767px) {
  .search-box.icon-only {
    /*padding:0;
        width:auto;*/
    height: auto;
    margin-left: 0;
    right: 40px;
  }
}

.search-box.icon-only button, .search-box.icon-only button[type="submit"] {
  border: none;
  color: transparent;
  padding: 5px;
  margin: 0;
  box-shadow: none;
}

.search-box.icon-only input[type="submit"], .search-box.icon-only input[type="reset"], .search-box.icon-only input[type="button"], .search-box.icon-only button {
  border: 0;
  padding: 5px;
}

.search-box.icon-only input[type="submit"]:hover, .search-box.icon-only input[type="reset"]:hover, .search-box.icon-only input[type="button"]:hover, .search-box.icon-only button:hover {
  background: transparent !important;
}

.search-box.icon-only .component-content > button {
  color: transparent;
  border: 0;
  background: transparent !important;
}

.search-box.icon-only .component-content > button::after {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: -.125em;
  font-family: 'Font Awesome 5 Pro';
  content: "\f002";
  font-weight: 400;
  color: #000;
  display: block;
  position: relative;
  margin-top: 0;
  top: 0;
  left: 0;
  right: 0;
}

@media only screen and (max-width: 767px) {
  .search-box.icon-only .component-content > button::after {
    font-size: 28px;
    margin-top: 0;
    display: block;
    position: relative;
    top: -8px;
  }
}

@media only screen and (min-width: 768px) {
  .search-box.icon-only .component-content > button::after {
    top: -3px;
  }
}

@media only screen and (min-width: 992px) {
  .search-box.icon-only .component-content > button::after {
    top: -1px;
  }
}

@media only screen and (min-width: 1400px) {
  .search-box.icon-only .component-content > button::after {
    font-size: 18px;
    top: -3px;
  }
}

.search-box.icon-only .component-content > button:hover::after {
  color: #cc0000;
}

/*AWS*/
.search-box-clear {
  padding: 0;
  margin: 7px 0;
}

@media only screen and (max-width: 767px) {
  .search-box-clear {
    width: 100%;
    height: auto;
    position: relative;
    right: auto;
  }
}

.search-box-clear .facet-heading {
  position: relative;
}

.search-box-clear .facet-heading .facet-title {
  color: #333;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 600;
}

.search-box-clear .clear-filter {
  padding: 0;
}

.search-box-clear .clear-filter a {
  font-size: 14px;
  color: #FFFFFF;
}

.search-box-clear .clear-filter a::before {
  vertical-align: bottom;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: -.125em;
  font-family: 'Font Awesome 5 Pro';
  content: "\f00d";
}

.search-box-clear .twitter-typeahead {
  margin: 0;
}

.search-box-clear input, .search-box-clear button {
  height: 34px;
  padding: 0 2%;
}

.search-box-clear .search-box-button,
.search-box-clear .search-box-button-with-redirect {
  line-height: 1;
  width: 34px;
  background-color: #cc0000 !important;
  color: transparent;
  padding: 0;
  border: 1px solid #cc0000;
  border-radius: 0;
  margin-top: 5px;
  margin-left: 0;
}

.search-box-clear .search-box-button:before,
.search-box-clear .search-box-button-with-redirect:before {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: -.125em;
  font-family: 'Font Awesome 5 Pro';
  content: "\f002";
  color: #FFFFFF;
  padding: 7px;
}

.search-box-clear .search-box-button:hover, .search-box-clear .search-box-button:focus, .search-box-clear .search-box-button:active,
.search-box-clear .search-box-button-with-redirect:hover,
.search-box-clear .search-box-button-with-redirect:focus,
.search-box-clear .search-box-button-with-redirect:active {
  background-color: #000 !important;
}
