/* breakpoints */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.flip {
  background: transparent;
  -webkit-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
  -ms-transform: perspective(1000px);
  -moz-transform: perspective(1000px);
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
}

.flip h2 {
  margin-bottom: 5px;
}

.flip .Side1, .flip .Side0, .flip .Side0_EDIT, .flip .Side1_EDIT {
  background: #FFFFFF;
  width: 96%;
  padding: 2%;
  clear: both;
}

.flip .Side1:before, .flip .Side1:after, .flip .Side0:before, .flip .Side0:after, .flip .Side0_EDIT:before, .flip .Side0_EDIT:after, .flip .Side1_EDIT:before, .flip .Side1_EDIT:after {
  content: "";
  display: table;
  clear: both;
}

.flip .Side1_EDIT {
  margin-top: 5px;
}

.flip .flipsides {
  word-wrap: break-word;
  position: relative;
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.flip .Side1, .flip .Side0 {
  border: 1px solid #d2d2d2;
  box-sizing: border-box;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition-property: transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: .5s;
  transition-duration: .5s;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  cursor: pointer;
  width: 100%;
}

.flip .Side0 {
  -webkit-transform: translateY(0deg);
  -ms-transform: translateY(0deg);
  transform: rotateY(0deg);
}

.flip .Side1 {
  -webkit-transform: translateY(180deg);
  -ms-transform: translateY(-180deg);
  transform: rotateY(180deg);
}

.flip.active .Side0 {
  -webkit-transform: translateY(180deg);
  -ms-transform: translateY(-180deg);
  transform: rotateY(180deg);
}

.flip.active .Side1 {
  -ms-transform: translateY(-360deg);
  -webkit-transform: translateY(360deg);
  transform: rotateY(360deg);
}

.flip.flip-expertise {
  text-align: center;
  min-height: 220px;
  margin-bottom: 50px;
}

.flip.flip-expertise .flipsides {
  min-height: 220px !important;
}

.flip.flip-expertise .field-heading {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
}

.flip.flip-expertise .Side1, .flip.flip-expertise .Side0, .flip.flip-expertise .Side0_EDIT, .flip.flip-expertise .Side1_EDIT {
  width: 100%;
  padding: 20px 15px;
}

.flip.flip-expertise .Side0, .flip.flip-expertise .Side0_EDIT {
  width: 100%;
  padding: 30px 15px;
}

.flip.flip-expertise .Side0, .flip.flip-expertise .Side1 {
  border: none;
  overflow: visible;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.35);
}

.flip.flip-expertise .Side0:before, .flip.flip-expertise .Side1:before {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: -.125em;
  font-family: 'Font Awesome 5 Pro';
  width: 46px;
  height: 46px;
  padding-top: 14px;
  margin-left: -23px;
  top: -22px;
  position: absolute;
  border-radius: 50%;
  box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.1);
}

@media only screen and (-ms-high-contrast: active) and (max-width: 991px), only screen and (-ms-high-contrast: none) and (max-width: 991px) {
  .flip.flip-expertise .Side0:before, .flip.flip-expertise .Side1:before {
    top: -21.5px;
  }
}

@media only screen and (-ms-high-contrast: active) and (min-width: 768px), only screen and (-ms-high-contrast: none) and (min-width: 768px) {
  .flip.flip-expertise .Side0:before, .flip.flip-expertise .Side1:before {
    margin-left: 38%;
  }
}

@media only screen and (-ms-high-contrast: active) and (min-width: 992px), only screen and (-ms-high-contrast: none) and (min-width: 992px) {
  .flip.flip-expertise .Side0:before, .flip.flip-expertise .Side1:before {
    margin-left: 39%;
  }
}

@media only screen and (-ms-high-contrast: active) and (max-width: 767px), only screen and (-ms-high-contrast: none) and (max-width: 767px) {
  .flip.flip-expertise .Side0:before, .flip.flip-expertise .Side1:before {
    margin-left: 43%;
  }
}

@media only screen and (-ms-high-contrast: active) and (max-width: 639px), only screen and (-ms-high-contrast: none) and (max-width: 639px) {
  .flip.flip-expertise .Side0:before, .flip.flip-expertise .Side1:before {
    margin-left: 40%;
  }
}

@media only screen and (-ms-high-contrast: active) and (max-width: 380px), only screen and (-ms-high-contrast: none) and (max-width: 380px) {
  .flip.flip-expertise .Side0:before, .flip.flip-expertise .Side1:before {
    margin-left: 33%;
  }
}

.flip.flip-expertise .Side0:before {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: -.125em;
  font-family: 'Font Awesome 5 Pro';
  content: "\f067";
  color: #cc0000;
  background-color: #fff;
}

.flip.flip-expertise .Side0 .field-heading {
  font-size: 20px;
  line-height: 24px;
  padding: 20px 0 10px;
  margin-bottom: 20px;
}

.flip.flip-expertise .Side0 .field-heading:after {
  content: "";
  background-color: #333;
  width: 100px;
  height: 4px;
  margin: 10px auto 0;
  display: block;
}

.flip.flip-expertise .Side0 .icon {
  color: #fff;
  font-size: 40px;
  background-color: #50d2c2;
  width: 60px;
  height: 60px;
  line-height: 1.3;
  margin: 0 auto;
}

.flip.flip-expertise .Side0 .icon .fa {
  margin-top: -10px;
}

.flip.flip-expertise .Side1 {
  color: #fff;
  font-size: 14px;
  background-color: #cc0000;
}

.flip.flip-expertise .Side1:before {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: -.125em;
  font-family: 'Font Awesome 5 Pro';
  content: "\f3e5";
  color: #fff;
  background-color: #cc0000;
}

.flip.flip-expertise .Side1 .field-heading {
  color: #fff;
  margin-bottom: 15px;
}

.flip.flip-expertise .Side1 .field-heading:after {
  content: "";
  background-color: #fff;
  width: 100px;
  height: 2px;
  margin: 10px auto 0;
  display: block;
}

.flip.flip-expertise .Side1 .field-content {
  color: #fff;
}

.flip .flip.flip-fade .Side0, .flip .flip.flip-fade .Side1 {
  -webkit-transition-property: opacity;
  transition-property: opacity;
}

.flip .flip.flip-fade .Side1 {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  opacity: 0;
}

.flip .flip.flip-fade.active .Side0 {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  opacity: 0;
}

.flip .flip.flip-fade.active .Side1 {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  opacity: 1;
}

.flip.flip-image {
  text-align: center;
  min-height: 200px;
  margin-bottom: 50px;
}

@media only screen and (min-width: 768px) {
  .flip.flip-image .flipsides {
    min-height: 263px !important;
  }
}

@media only screen and (min-width: 992px) {
  .flip.flip-image .flipsides {
    min-height: 283px !important;
  }
}

@media only screen and (min-width: 1200px) {
  .flip.flip-image .flipsides {
    min-height: 273px !important;
  }
}

.flip.flip-image .field-heading {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
}

.flip.flip-image .Side1, .flip.flip-image .Side0, .flip.flip-image .Side0_EDIT, .flip.flip-image .Side1_EDIT {
  width: 100%;
  padding: 15px;
}

.flip.flip-image .Side0, .flip.flip-image .Side1 {
  border: none;
  overflow: visible;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.35);
}

.flip.flip-image .Side0:before, .flip.flip-image .Side1:before {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: -.125em;
  font-family: 'Font Awesome 5 Pro';
  width: 46px;
  height: 22px;
  padding-top: 14px;
  margin-left: -23px;
  top: -21.5px;
  position: absolute;
  border-radius: 23px 23px 0 0;
  box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.1);
}

@media only screen and (-ms-high-contrast: active) and (max-width: 991px), only screen and (-ms-high-contrast: none) and (max-width: 991px) {
  .flip.flip-image .Side0:before, .flip.flip-image .Side1:before {
    top: -21.5px;
  }
}

@media only screen and (-ms-high-contrast: active) and (min-width: 768px), only screen and (-ms-high-contrast: none) and (min-width: 768px) {
  .flip.flip-image .Side0:before, .flip.flip-image .Side1:before {
    margin-left: 38%;
  }
}

@media only screen and (-ms-high-contrast: active) and (min-width: 992px), only screen and (-ms-high-contrast: none) and (min-width: 992px) {
  .flip.flip-image .Side0:before, .flip.flip-image .Side1:before {
    margin-left: 39%;
  }
}

@media only screen and (-ms-high-contrast: active) and (max-width: 767px), only screen and (-ms-high-contrast: none) and (max-width: 767px) {
  .flip.flip-image .Side0:before, .flip.flip-image .Side1:before {
    margin-left: 43%;
  }
}

@media only screen and (-ms-high-contrast: active) and (max-width: 639px), only screen and (-ms-high-contrast: none) and (max-width: 639px) {
  .flip.flip-image .Side0:before, .flip.flip-image .Side1:before {
    margin-left: 40%;
  }
}

@media only screen and (-ms-high-contrast: active) and (max-width: 380px), only screen and (-ms-high-contrast: none) and (max-width: 380px) {
  .flip.flip-image .Side0:before, .flip.flip-image .Side1:before {
    margin-left: 33%;
  }
}

.flip.flip-image .Side0 {
  background: rgba(255, 255, 255, 0.7);
}

.flip.flip-image .Side0:before {
  content: "\f067";
  font-weight: 900;
  color: #cc0000;
  background: rgba(255, 255, 255, 0.7);
}

.flip.flip-image .Side0 .slide-heading {
  color: #fff;
  font-size: 20px;
  line-height: 24px;
  max-width: 100%;
  padding: 15px 0;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  left: 15px;
  right: 15px;
  bottom: 15px;
  z-index: 1;
}

.flip.flip-image .Side0 .slide-heading .field-heading {
  color: #fff;
}

.flip.flip-image .Side0 .slide-content .component.content.col-xs-12 {
  padding-left: 0;
  padding-right: 0;
}

.flip.flip-image .Side0 .slide-content .field-content img {
  width: 100% !important;
  height: auto !important;
}

.flip.flip-image .Side1 {
  color: #fff;
  font-size: 14px;
  background-color: #cc0000;
}

.flip.flip-image .Side1:before {
  content: "\f3e5";
  color: #fff;
  background-color: #cc0000;
}

.flip.flip-image .Side1 .field-heading {
  color: #fff;
  padding-top: 10px;
  margin-bottom: 15px;
}

.flip.flip-image .Side1 .field-heading:after {
  content: "";
  background-color: #fff;
  width: 100px;
  height: 2px;
  margin: 10px auto 0;
  display: block;
}

.flip.flip-image .Side1 .field-content {
  color: #fff;
  vertical-align: baseline;
}

.flip.flip-image .Side1 .field-content a, .flip.flip-image .Side1 .field-content p, .flip.flip-image .Side1 .field-content h5, .flip.flip-image .Side1 .field-content h6 {
  color: #fff;
}

.flip.flip-image .Side1 .field-content a {
  font-weight: bold;
  vertical-align: baseline;
}

.flip.flip-image .Side1 .field-content a:hover {
  text-decoration: none;
}

.flip .flip.flip-slide-top .Side0, .flip .flip.flip-slide-top .Side1 {
  -webkit-transition-property: height, visibility, padding-top;
  transition-property: height, visibility, padding-top;
  -webkit-transition-duration: 1s, 1s, 1s;
  transition-duration: 1s, 1s, 1s;
  -webkit-transition-timing-function: linear, linear, linear;
  transition-timing-function: linear, linear, linear;
  box-sizing: border-box;
}

.flip .flip.flip-slide-top .Side1 {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  overflow: hidden;
  height: 0;
  visibility: hidden;
  padding-top: 0;
  padding-bottom: 0;
}

.flip .flip.flip-slide-top .Side1 .slide-heading {
  margin-top: 16px;
}

.flip .flip.flip-slide-top.active .Side0 {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
}

.flip .flip.flip-slide-top.active .Side1 {
  height: 100%;
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  visibility: visible;
  padding-top: 0;
  padding-bottom: 10px;
}

.flip .flip.flip-vertical .Side1 {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
}

.flip .flip.flip-vertical.active .Side0 {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
}

.flip .flip.flip-vertical.active .Side1 {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transform: rotateX(360deg);
  transform: rotateX(360deg);
}

/*
.no-csstransforms3d {
    .flip {
        .Side1 {
            display: none;
        }
        &.active {
            .Side0 {
                display: none;
            }
            .Side1 {
                display: block;
            }
        }
    }
}
*/
.on-page-editor .flipsides {
  height: auto;
}

.on-page-editor .flipsides .Side0, .on-page-editor .flipsides .Side1 {
  margin-bottom: 10px;
}
