/* breakpoints */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

#header {
  background-color: rgba(255, 255, 255, 0.9);
  width: 100%;
  position: fixed;
  margin: 0 auto;
  top: 0;
  z-index: 100;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width: 991px) {
  #header {
    height: 69px;
  }
}

#header .image {
  padding: 0;
  z-index: 10;
  position: absolute;
}

#header .image img {
  max-height: 89px;
  min-width: 202px;
  width: auto;
  position: relative;
}

@media only screen and (min-width: 768px) {
  #header .image img {
    max-height: 120px;
  }
}

@media only screen and (max-width: 991px) {
  #header .container {
    width: 100%;
  }
}

.preview #header, .on-page-editor #header {
  position: static;
}

.navigation {
  background: transparent;
  padding: 10px 0;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  float: right;
  /*
    @include respond-to(desktop){margin-top: 3px;}
    @include respond-to(large){margin-top: -1px;}*/
  /* breakpoints */
}

@media only screen and (min-width: 768px) {
  .navigation {
    margin-top: -1px;
  }
}

.navigation .rel-level1 > .navigation-title > a {
  color: #000;
  font-size: 14px;
  text-decoration: none;
  border-color: #333;
  border-style: solid;
  border-width: 0;
  padding-right: 0;
  margin-right: 0;
}

.navigation .rel-level1 > .navigation-title > a:hover {
  text-decoration: none;
}

@media only screen and (min-width: 992px) {
  .navigation .rel-level1 > .navigation-title > a {
    font-size: 16px;
  }
}

@media only screen and (min-width: 1200px) {
  .navigation .rel-level1 > .navigation-title > a {
    font-size: 18px;
  }
}

.lt-ie9 .navigation a, .lt-ie9 .navigation a span {
  color: #000;
}

.navigation a:focus, .navigation a:hover {
  color: #000;
}

.navigation li.submenu {
  margin-bottom: 0;
}

.navigation li > .navigation-title > a {
  padding: 3px 5px 3px 0;
  display: block;
}

.navigation li > ul a {
  font-size: 14px;
}

.navigation .submenu > ul {
  padding-left: 10px;
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.navigation.subnavigation nav, .navigation.subnavigation-landing nav {
  text-align: center;
  margin: 15px;
}

.navigation.subnavigation nav .level1 .icon-red, .navigation.subnavigation-landing nav .level1 .icon-red {
  color: #ffffff;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navigation.subnavigation nav .level1 .icon-red a, .navigation.subnavigation-landing nav .level1 .icon-red a {
  color: #ffffff;
}

.navigation.subnavigation nav .level1 > .navigation-title > a, .navigation.subnavigation-landing nav .level1 > .navigation-title > a {
  padding: 5px 15px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navigation.subnavigation nav .level1 > .navigation-title > a:hover, .navigation.subnavigation-landing nav .level1 > .navigation-title > a:hover {
  color: #cc0000;
}

.navigation.subnavigation nav .level1.active > .navigation-title > a, .navigation.subnavigation-landing nav .level1.active > .navigation-title > a {
  color: #cc0000;
  font-weight: 700;
}

@media only screen and (max-width: 767px) {
  .navigation.subnavigation nav .level1, .navigation.subnavigation-landing nav .level1 {
    text-align: left;
    padding: 10px;
  }
  .navigation.subnavigation nav .level1 .icon-red, .navigation.subnavigation-landing nav .level1 .icon-red {
    width: 30px;
    height: 30px;
    padding: 0;
    margin-right: 10px;
    float: left;
  }
  .navigation.subnavigation nav .level1 > .navigation > a, .navigation.subnavigation-landing nav .level1 > .navigation > a {
    font-size: 18px;
  }
}

@media only screen and (min-width: 768px) {
  .navigation.subnavigation nav nav, .navigation.subnavigation-landing nav nav, .navigation.subnavigation nav ul, .navigation.subnavigation-landing nav ul {
    text-align: center;
  }
  .navigation.subnavigation nav ul, .navigation.subnavigation-landing nav ul {
    width: auto;
    margin: 0 auto;
    display: inline-block;
  }
  .navigation.subnavigation nav .level1, .navigation.subnavigation-landing nav .level1 {
    float: left;
  }
  .navigation.subnavigation nav .level1 > .navigation > a, .navigation.subnavigation-landing nav .level1 > .navigation > a {
    padding: 0 15px 10px;
  }
  .navigation.subnavigation nav .level1 .icon-red, .navigation.subnavigation-landing nav .level1 .icon-red {
    padding: 13px;
    margin: 0 auto 10px auto;
  }
  .navigation.subnavigation nav .level1 .icon-red a, .navigation.subnavigation-landing nav .level1 .icon-red a {
    color: #ffffff;
    line-height: 26px;
    display: inline-block;
  }
  .navigation.subnavigation nav .level1 .icon-red:hover, .navigation.subnavigation-landing nav .level1 .icon-red:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
  }
  .navigation.subnavigation nav .level1 .icon-red .fa:before, .navigation.subnavigation-landing nav .level1 .icon-red .fa:before, .navigation.subnavigation nav .level1 .icon-red .fal:before, .navigation.subnavigation-landing nav .level1 .icon-red .fal:before {
    font-size: 24px;
    line-height: 24px;
  }
  .navigation.subnavigation nav .level1.active .icon-red, .navigation.subnavigation-landing nav .level1.active .icon-red {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
  }
  .navigation.subnavigation nav .level1:hover .icon-red, .navigation.subnavigation-landing nav .level1:hover .icon-red {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
  }
  .navigation.subnavigation nav .level1:hover > .navigation-title > a, .navigation.subnavigation-landing nav .level1:hover > .navigation-title > a {
    color: #cc0000;
  }
}

@media only screen and (min-width: 992px) {
  .navigation.subnavigation nav .level1 > .navigation-title > a, .navigation.subnavigation-landing nav .level1 > .navigation-title > a {
    padding: 5px 28px;
  }
}

.navigation.subnavigation-landing .nav {
  border: none;
}

.navigation.subnavigation-landing .nav ul {
  text-align: center;
  width: auto;
  margin: 0 auto;
}

.navigation.subnavigation-landing .nav .level1 {
  display: table;
}

.navigation.subnavigation-landing .nav .level1 .icon-red {
  width: 60px;
  display: table-cell;
}

.navigation.subnavigation-landing .nav .level1 .navigation-title {
  display: table-cell;
  vertical-align: middle;
}

@media only screen and (min-width: 768px) {
  .navigation.subnavigation-landing .nav .level1 {
    width: 25%;
  }
}

.navigation.navigation-fat a {
  text-decoration: none;
}

.navigation.navigation-fat nav > ul {
  list-style: none;
  overflow: hidden;
  margin-bottom: 0;
}

.navigation.navigation-fat .rel-level1 {
  margin: 15px;
  padding: 0;
  display: inline-block;
  vertical-align: top;
  text-transform: uppercase;
}

.navigation.navigation-fat .rel-level1.submenu ul a {
  position: relative;
}

.navigation.navigation-fat .rel-level1.submenu ul a:before {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: -.125em;
  font-family: 'Font Awesome 5 Pro';
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  content: "\f054";
  top: 50%;
  left: -9px;
  font-size: 10px;
}

.navigation.navigation-fat .rel-level1.active > .navigation-title > a {
  color: #000;
}

.navigation.navigation-fat .rel-level1 > .navigation-title > a {
  border-bottom: 0;
  padding: 5px 10px;
  display: block;
  width: auto;
}

.navigation.navigation-fat .rel-level1 > .navigation-title > a:hover {
  border-color: #1b809e;
  color: #000;
}

.navigation.navigation-fat .rel-level1 > ul {
  padding: 0;
}

.navigation.navigation-fat .rel-level2 {
  padding-left: 15px;
  display: block;
}

/* breakpoints */
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.navigation.navigation-main .component-content > nav {
  position: relative;
  float: right;
  right: 50px;
}

.navigation.navigation-main .component-content > nav ul:before, .navigation.navigation-main .component-content > nav ul:after {
  content: "";
  display: table;
  clear: both;
}

.navigation.navigation-main .rel-level1 {
  float: left;
}

.navigation.navigation-main .rel-level1.active > .navigation-title > a, .navigation.navigation-main .rel-level1.show > .navigation-title > a {
  border-color: #333;
  color: #000;
}

.navigation.navigation-main .rel-level1 > .navigation-title > a {
  border-width: 2px 0 0 0;
}

.navigation.navigation-main .rel-level1 > .navigation-title > a:hover {
  border-color: #333;
  color: #000;
}

.navigation.navigation-main .rel-level1.submenu > .navigation-title a {
  position: relative;
  padding-right: 0;
  /*&:after {
                    @include fa-icon();
                    font-size: 10px;
                    content: fa-content($fa-var-chevron-down);
                    position: absolute;
                    transform: translateY(-50%);
                    top: 50%;
                    right: 0;
                }*/
}

.navigation.navigation-main .rel-level1 > ul {
  overflow: hidden;
  display: none;
  z-index: 10;
  position: absolute;
  top: 100%;
  margin-left: 0;
  border-left: 1px solid #d2d2d2;
  border-bottom: 1px solid #d2d2d2;
  border-top: 0;
  margin-top: 11px;
  background-color: rgba(255, 255, 255, 0.9);
}

.navigation.navigation-main .rel-level1.show > a + ul {
  display: block !important;
}

.navigation.navigation-main .rel-level1.show > ul {
  display: block !important;
  min-width: 60px;
}

.navigation.navigation-main .rel-level1.active > .navigation-title > a:link, .navigation.navigation-main .rel-level1.active > .navigation-title > a:visited {
  color: #cc0000;
}

.navigation.navigation-main .rel-level1.active > span {
  display: block;
  padding: 10px 20px;
  color: #FFFFFF;
}

.navigation.navigation-main .rel-level1.submenu.active {
  border-color: #176f89;
}

.navigation.navigation-main .rel-level2:hover, .navigation.navigation-main .rel-level2:focus {
  -webkit-transition: background .2s ease-in;
  transition: background .2s ease-in;
  background: #f6f6f6;
}

.navigation.navigation-main .rel-level2 div > a {
  display: block;
  font-weight: normal;
  font-size: 14px;
  text-align: center;
}

.navigation.navigation-main .rel-level2 div > a:hover, .navigation.navigation-main .rel-level2 div > a:focus {
  color: #222;
}

.navigation.navigation-main .rel-level2.submenu {
  box-sizing: border-box;
}

.navigation.navigation-main .rel-level2.submenu.navigation-image {
  text-align: center;
}

.navigation.navigation-main .rel-level2.submenu.navigation-image > a, .navigation.navigation-main .rel-level2.submenu.navigation-image .field-navigationtext {
  text-align: left;
}

.navigation.navigation-main.navigation-main-horizontal .submenu > ul {
  padding-left: 0;
}

.navigation.navigation-main.navigation-main-horizontal .rel-level1.show > a + ul {
  display: -webkit-inline-box !important;
  display: -ms-inline-flexbox !important;
  display: inline-flex !important;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.navigation.navigation-main.navigation-main-horizontal .rel-level1.show > ul {
  display: -webkit-inline-box !important;
  display: -ms-inline-flexbox !important;
  display: inline-flex !important;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.navigation.navigation-main.navigation-main-horizontal .rel-level1 > ul {
  width: 100%;
  clear: both;
  left: 0;
}

.navigation.navigation-main.navigation-main-horizontal .rel-level2 {
  float: left;
  padding: 10px;
  border-right: 1px solid #d2d2d2;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.navigation.navigation-main.navigation-main-vertical .rel-level1 {
  padding: 8px 11px;
  text-transform: uppercase;
  font-size: 18px;
}

@media only screen and (min-width: 768px) {
  .navigation.navigation-main.navigation-main-vertical .rel-level1 {
    padding: 11px 8px;
  }
}

@media only screen and (min-width: 992px) {
  .navigation.navigation-main.navigation-main-vertical .rel-level1 {
    padding: 11px 15px;
  }
}

@media only screen and (min-width: 1200px) {
  .navigation.navigation-main.navigation-main-vertical .rel-level1 {
    padding: 11px 18px;
  }
}

@media only screen and (max-width: 767px) {
  .navigation.navigation-main.navigation-main-vertical .rel-level1 {
    font-size: 18px;
  }
}

.navigation.navigation-main.navigation-main-vertical .rel-level1.active > .navigation-title > a, .navigation.navigation-main.navigation-main-vertical .rel-level1.show > .navigation-title > a {
  color: #cc0000;
}

.navigation.navigation-main.navigation-main-vertical .rel-level1 > .navigation-title > a {
  border-width: 0;
  border-color: transparent;
}

.navigation.navigation-main.navigation-main-vertical .rel-level1 > .navigation-title > a:hover {
  color: #cc0000;
}

.navigation.navigation-main.navigation-main-vertical .rel-level1 > ul {
  padding-left: 0;
  margin-left: -15px;
  width: auto;
  left: auto;
  border-right: 1px solid #d2d2d2;
}

.navigation.navigation-main.navigation-main-vertical .rel-level2 {
  padding: 5px 15px;
}

.navigation.navigation-main.navigation-main-vertical .rel-level2:hover, .navigation.navigation-main.navigation-main-vertical .rel-level2:focus {
  background: transparent;
  color: #cc0000;
}

.navigation.navigation-main.navigation-main-vertical .rel-level2.active div > a {
  color: #cc0000;
  background: transparent;
}

.navigation.navigation-main.navigation-main-vertical .rel-level2 div > a {
  text-align: left;
  font-weight: 500;
}

.navigation.navigation-main.navigation-main-vertical .rel-level2 div > a:hover, .navigation.navigation-main.navigation-main-vertical .rel-level2 div > a:focus {
  color: #cc0000;
  text-decoration: none;
}

@media only screen and (min-width: 992px) {
  .home .navigation.navigation-main.navigation-main-vertical .rel-level1 {
    padding: 9.5px 15px;
  }
}

@media only screen and (min-width: 1200px) {
  .home .navigation.navigation-main.navigation-main-vertical .rel-level1 {
    padding: 8px 18px;
  }
}

/* breakpoints */
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.navigation-mobile {
  text-align: left;
  width: 100%;
  position: absolute;
  right: 0;
}

.navigation-mobile nav > ul {
  border: none;
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.3);
}

.navigation-mobile .rel-level1 {
  cursor: pointer;
  margin: 0;
  background-color: white;
  border-top: 1px solid #d2d2d2;
}

.navigation-mobile .rel-level1 > ul {
  padding-left: 25px;
  display: none;
}

.navigation-mobile .rel-level1 > .navigation-title a {
  font-size: 18px;
}

.navigation-mobile .rel-level1.submenu.active > .navigation-title:before {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transition: 0.6s;
  transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.navigation-mobile .rel-level1.submenu.active > ul {
  display: block;
}

.navigation-mobile .rel-level1.submenu > .navigation-title {
  position: relative;
}

.navigation-mobile .rel-level1.submenu > .navigation-title:before {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: -.125em;
  font-family: 'Font Awesome 5 Pro';
  content: \f078;
  display: block;
  position: absolute;
  right: 10px;
  font-size: 10px;
  top: 25px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
  -webkit-transition: 0.6s;
  transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.navigation-mobile .rel-level1 > .navigation-title {
  margin: 0;
}

.navigation-mobile .rel-level1 > .navigation-title:last-child {
  border-bottom: none;
}

.navigation-mobile .rel-level1 .navigation-title {
  padding: 10px;
}

.navigation-mobile .rel-level1 .navigation-title > a {
  text-decoration: none;
  display: inline;
}

.navigation-mobile .rel-level2 {
  display: list-item;
  position: relative;
}

.navigation-mobile .rel-level2 .navigation-title > a {
  font-weight: 500;
}

.navigation-mobile .rel-level2 .navigation-title > a:before {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: -.125em;
  font-family: 'Font Awesome 5 Pro';
  content: \f054;
  display: block;
  position: absolute;
  left: 0;
  font-size: 10px;
  top: 24px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.navigation-mobile .rel-level2 ul {
  display: none;
}

/* breakpoints */
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.navigation-sidebar {
  background-color: #f5f5f5;
  padding: 10px;
  margin-bottom: 30px;
}

.navigation-sidebar a {
  text-decoration: none;
}

.navigation-sidebar .rel-level1 > .navigation-title {
  margin-bottom: 0;
}

.navigation-sidebar .rel-level1 > .navigation-title > a {
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0 0 5px 0;
  margin: 0 10px 5px 10px;
  display: block;
  position: relative;
  z-index: 1;
  border-bottom: solid 4px #000;
}

.navigation-sidebar .rel-level1 > ul {
  margin-top: 5px;
}

.navigation-sidebar .rel-level2 {
  display: block;
}

.navigation-sidebar .rel-level2 > .navigation-title a {
  font-family: "Open Sans", Helvetica, Verdana, Tahoma, sans-serif;
  font-size: 16px;
}

.navigation-sidebar .rel-level2.active a, .navigation-sidebar .rel-level2.active a:hover {
  color: #cc0000;
}

.navigation-sidebar .rel-level2:hover a, .navigation-sidebar .rel-level2:active a, .navigation-sidebar .rel-level2:focus a {
  color: #cc0000;
}

.navigation.sitemap-navigation .level2 a {
  position: relative;
  padding-left: 10px;
}

.navigation.sitemap-navigation .level2 a:before {
  font-size: 14px;
  font-size: 1.4rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: -.125em;
  font-family: 'Font Awesome 5 Pro';
  -webkit-transform: translateY(-50%) scale(1, -1);
  -ms-transform: translateY(-50%) scale(1, -1);
  transform: translateY(-50%) scale(1, -1);
  position: absolute;
  content: "\f064";
  top: 50%;
  left: -8px;
}
