/* breakpoints */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.promo {
  border: 1px solid #d2d2d2;
  background: #FFFFFF;
  padding: 15px;
  overflow: hidden;
}

.promo .zg-height-fix .field-promoicon {
  margin-top: 100px;
}

.promo .field-promoicon {
  overflow: hidden;
  float: left;
  width: 100%;
}

.promo img {
  width: 100%;
  height: auto;
}

.promo .promo-link {
  margin-top: 5px;
  padding-bottom: 10px;
}

.promo.image-full-size img {
  margin-bottom: 10px;
}

.promo-experience {
  border: 0;
  background: none;
  padding: 15px;
  position: relative;
  top: 50px;
  overflow: visible;
  margin-bottom: 60px;
}

.promo-experience .promo-body {
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
  padding: 0 10px;
}

.promo-experience .promo-body .icon {
  background-color: #50d2c2;
  width: 100px;
  height: 100px;
  position: relative;
  top: -50px;
  margin: 0 auto -35px auto;
  box-shadow: 0 34px 30px rgba(0, 0, 0, 0.2);
  float: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.promo-experience .promo-body:hover .icon {
  top: -45px;
  box-shadow: 0 14px 20px rgba(0, 0, 0, 0.2);
}

.promo-experience .promo-body h2, .promo-experience .promo-body p {
  color: #fff;
}

.promo-experience .promo-body h2 {
  font-weight: 700;
  font-size: 54px;
  margin-bottom: 10px;
}

.promo-experience .promo-body p {
  padding-bottom: 20px;
}

@media only screen and (min-width: 768px) {
  .promo-experience .promo-body p {
    font-size: 18px;
    line-height: 24px;
    padding-bottom: 30px;
  }
}

@media only screen and (min-width: 992px) {
  .promo-experience .promo-body .icon {
    width: 138px;
    height: 138px;
    top: -65px;
  }
  .promo-experience .promo-body:hover .icon {
    top: -45px;
  }
  .promo-experience .promo-body h2 {
    font-size: 60px;
  }
  .promo-experience .promo-body p {
    font-size: 26px;
    line-height: 34px;
  }
}

@media only screen and (min-width: 1200px) {
  .promo-experience .promo-body p {
    font-size: 30px;
    line-height: 38px;
  }
}

.featured-resource {
  padding: 0;
  border: 0;
  margin: 0 auto 30px;
  max-width: 480px;
  float: none;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3);
}

.featured-resource .field-promoicon {
  float: none;
}

.featured-resource .field-promotext {
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: bold;
  padding: 8px 15px;
  text-align: center;
  text-transform: uppercase;
  background: #66cccc;
}

.featured-resource .field-promolink {
  padding: 8px 15px;
  text-align: center;
}

.featured-resource .field-promolink a {
  color: #cc0000;
  font-size: 20px;
  line-height: 24px;
}

@media only screen and (min-width: 768px) {
  .featured-resource {
    height: 305px;
  }
  .featured-resource .field-promoicon {
    height: 165px;
  }
  .featured-resource .field-promolink {
    height: 92px;
  }
}

@media only screen and (min-width: 992px) {
  .featured-resource {
    height: 305px;
    margin: 0;
  }
  .featured-resource .field-promoicon {
    height: 140px;
  }
  .featured-resource .field-promolink {
    height: 92px;
  }
}

@media only screen and (min-width: 1200px) {
  .featured-resource {
    height: 315px;
    margin: 0;
  }
  .featured-resource .field-promoicon {
    height: 176px;
  }
  .featured-resource .field-promolink {
    height: 92px;
  }
}

/* breakpoints */
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.promo-icontop {
  text-align: center;
  background-color: #f5f5f5;
  border: none;
  margin: 50px auto 30px auto;
  overflow: visible;
  padding: 15px 15px 30px;
}

.promo-icontop .icon-green {
  font-size: 40px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  margin: 0 auto -20px auto;
  position: relative;
  top: -40px;
}

.promo-icontop .icon-green .fa, .promo-icontop .icon-green .fal {
  margin-top: -8px;
}

.promo-icontop small {
  font-size: 14px;
}

@media only screen and (max-width: 767px) {
  .promo-icontop .field-promoservicestext2 {
    padding: 0 30px;
  }
}

.promo-icontop h1:after, .promo-icontop h2:after, .promo-icontop h3:after, .promo-icontop h4:after, .promo-icontop h5:after {
  content: "";
  font-weight: 600;
  background-color: #333;
  width: 100px;
  height: 4px;
  margin-top: 10px;
  display: block;
}

.promo-icontop.position-center h1:after, .promo-icontop.position-center h2:after, .promo-icontop.position-center h3:after, .promo-icontop.position-center h4:after, .promo-icontop.position-center h5:after {
  margin-left: auto;
  margin-right: auto;
}

/* breakpoints */
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.promo-service {
  background-color: transparent;
  padding: 0 15px 60px 15px;
  border: 0;
}

@media only screen and (max-width: 991px) {
  .promo-service {
    padding: 0 0 60px 0;
  }
}

@media only screen and (max-width: 991px) {
  .promo-service:before, .promo-service:after {
    content: "";
    display: block;
    border-bottom: solid 30px #fff;
    width: 50%;
    height: 30px;
    position: absolute;
    top: 0;
  }
  .promo-service:before {
    border-right: solid 30px transparent;
  }
  .promo-service:after {
    border-left: solid 30px transparent;
    right: 0;
  }
}

.promo-service .promo-head, .promo-service .promo-body {
  clear: both;
  width: 100%;
}

@media only screen and (max-width: 991px) {
  .promo-service .promo-head, .promo-service .promo-body {
    padding: 0 60px;
  }
}

@media only screen and (max-width: 380px) {
  .promo-service .promo-head, .promo-service .promo-body {
    padding: 0 15px;
  }
}

.promo-service .promo-head {
  display: table;
  position: relative;
  padding-top: 60px;
  margin-bottom: 15px;
}

.promo-service .promo-head .promo-title, .promo-service .promo-head .promo-icon {
  width: auto;
  display: table-cell;
  vertical-align: middle;
  float: none;
}

.promo-service .promo-head .promo-title {
  font-weight: 700;
  padding: 0 0 20px 15px;
  vertical-align: middle;
  position: relative;
}

.promo-service .promo-head .promo-title:after {
  content: "";
  width: 100px;
  height: 4px;
  background-color: #333;
  display: block;
  position: absolute;
  margin-top: 16px;
}

.promo-service .promo-head .promo-title a, .promo-service .promo-head .promo-title p > a {
  display: inline-block;
}

.promo-service .promo-head .promo-title a:hover, .promo-service .promo-head .promo-title p > a:hover {
  color: #cc0000;
  text-decoration: none;
}

.promo-service .promo-head .promo-title a:focus, .promo-service .promo-head .promo-title p > a:focus {
  text-decoration: none;
}

.promo-service .promo-head .promo-title a:after, .promo-service .promo-head .promo-title p > a:after {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: -.125em;
  font-family: 'Font Awesome 5 Pro';
  font-weight: 600;
  font-size: 80%;
  content: "\f061";
  padding-left: 10px;
  width: 34px;
  height: 28px;
  top: -5px;
  position: relative;
}

.promo-service .promo-head .promo-icon {
  width: 80px;
}

.promo-service .promo-head .promo-icon img {
  width: 80px;
  height: 80px;
}

.promo-service .promo-body a.link-arrow {
  margin-top: 10px;
  display: inline-block;
}

@media only screen and (min-width: 768px) {
  .promo-service {
    padding-bottom: 60px;
  }
  .promo-service .promo-head .promo-icon {
    text-align: right;
    width: 33%;
  }
  .promo-service .promo-head .promo-icon img {
    width: 100px;
    height: 100px;
  }
  .promo-service .promo-head .promo-title {
    width: 67%;
  }
}

@media only screen and (min-width: 1200px) {
  .promo-service {
    padding-bottom: 80px;
  }
  .promo-service .promo-head {
    padding-top: 80px;
  }
}

.promo-service .promo-body a {
  color: #cc0000;
  text-decoration: underline;
}

.promo-service .promo-body a:hover, .promo-service .promo-body a:active, .promo-service .promo-body a:focus {
  color: #cc0000;
  text-decoration: none;
}

.promo-service .promo-body table, .promo-service .promo-body .table-stacked {
  background: transparent;
  border: none;
}

.promo-service .promo-body table th, .promo-service .promo-body table td, .promo-service .promo-body .table-stacked th, .promo-service .promo-body .table-stacked td {
  width: 100%;
  float: left;
}

.promo-service .promo-body table th, .promo-service .promo-body .table-stacked th {
  font-weight: 700;
}

@media only screen and (max-width: 767px) {
  .promo-service .promo-body table th div, .promo-service .promo-body .table-stacked th div {
    margin-top: 10px;
  }
}

.promo-service .promo-body table td, .promo-service .promo-body .table-stacked td {
  border: none;
}

@media only screen and (max-width: 767px) {
  .promo-service .promo-body table td div, .promo-service .promo-body .table-stacked td div {
    margin-bottom: 15px;
  }
}

.promo-service .promo-body table tr:nth-child(1) th, .promo-service .promo-body .table-stacked tr:nth-child(1) th {
  text-align: left;
}

.promo-service .promo-body table tr:nth-child(1) th::after, .promo-service .promo-body .table-stacked tr:nth-child(1) th::after {
  content: none;
}

.promo-service .promo-body table tr:nth-child(1) th h5, .promo-service .promo-body .table-stacked tr:nth-child(1) th h5 {
  margin-left: 10px;
}

@media only screen and (max-width: 767px) {
  .promo-service .promo-body table tr:nth-child(1) th h5, .promo-service .promo-body .table-stacked tr:nth-child(1) th h5 {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .promo-service .promo-body table tr, .promo-service .promo-body .table-stacked tr {
    padding: 0;
  }
  .promo-service .promo-body table th, .promo-service .promo-body table td, .promo-service .promo-body .table-stacked th, .promo-service .promo-body .table-stacked td {
    padding: 5px 0;
    float: none;
  }
  .promo-service .promo-body table th, .promo-service .promo-body .table-stacked th {
    text-align: right;
    font-weight: 700;
    width: 33%;
    padding-right: 15px;
    position: relative;
  }
  .promo-service .promo-body table th:after, .promo-service .promo-body .table-stacked th:after {
    content: "";
    background-color: #999;
    width: 1px;
    position: absolute;
    top: 5px;
    bottom: 5px;
    right: 0;
  }
  .promo-service .promo-body table th.link:after, .promo-service .promo-body .table-stacked th.link:after {
    content: none;
    background-color: transparent;
    width: 0;
  }
  .promo-service .promo-body table td, .promo-service .promo-body .table-stacked td {
    width: 67%;
    padding-left: 15px;
  }
}

@media only screen and (max-width: 991px) {
  .background-gray .promo-service:before, .background-gray .promo-service:after {
    border-bottom: solid 30px #f5f5f5;
  }
}

.snippet {
  padding: 0;
}

@media only screen and (min-width: 992px) {
  .snippet.implementation .promo-service .promo-head {
    padding-top: 20px;
  }
}

@media only screen and (min-width: 1200px) {
  .snippet.implementation .promo-service .promo-head {
    padding-top: 60px;
  }
}

@media only screen and (min-width: 992px) {
  .snippet.implementation .promo-service .promo-head .promo-title {
    font-size: 28px;
  }
}

@media only screen and (min-width: 1200px) {
  .snippet.implementation .promo-service .promo-head .promo-title {
    font-size: 36px;
  }
}

.promo-work {
  background: none;
  padding: 15px;
  text-align: center;
  position: relative;
  border: none;
  border-top: solid 1px #fff;
}

@media only screen and (min-width: 768px) {
  .promo-work {
    padding: 15px 15px 0 0;
  }
}

.promo-work .component-content, .promo-work .field-promoworkbackground {
  position: relative;
}

.promo-work .promo-body, .promo-work .promo-hover {
  width: 100%;
  position: absolute;
}

.promo-work .promo-body {
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  bottom: 0;
}

.promo-work .promo-body {
  text-align: center;
  padding: 20px;
  top: 0;
}

.promo-work .promo-body .promo-icon, .promo-work .promo-body .field-promoicon {
  width: auto;
  max-width: 320px;
  margin: 0 auto 10px;
  float: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.promo-work .promo-body .promo-icon img, .promo-work .promo-body .field-promoicon img {
  width: 100%;
  height: auto;
  max-width: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.promo-work .promo-body .field-promotext {
  font-family: "Raleway", sans-serif;
  color: #50d2c2;
  font-size: 20px;
  opacity: 1;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 0 30px;
  line-height: 1.5;
}

@media only screen and (min-width: 992px) {
  .promo-work .promo-body .field-promotext {
    padding: 0 15px;
    line-height: 1.2;
  }
}

@media only screen and (min-width: 1200px) {
  .promo-work .promo-body .field-promotext {
    padding: 0 30px;
    line-height: 1.5;
  }
}

@media only screen and (max-width: 380px) {
  .promo-work .promo-body .field-promotext {
    padding: 0 10px;
    line-height: 1;
  }
}

.promo-work .promo-hover {
  padding: 15px;
  background-color: #50d2c2;
  bottom: -100%;
  color: #FFFFFF;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media only screen and (max-width: 380px) {
  .promo-work .promo-hover {
    padding: 10px 15px;
  }
}

.promo-work .promo-hover .hover-left, .promo-work .promo-hover .hover-right {
  display: table-cell;
  vertical-align: middle;
}

.promo-work .promo-hover .hover-left {
  text-align: right;
}

.promo-work .promo-hover .hover-right {
  text-align: left;
  padding-left: 20px;
}

.promo-work .promo-hover .hover-text {
  padding-bottom: 10px;
  line-height: 1;
}

.promo-work .promo-hover .text-large {
  font-family: "Raleway", sans-serif;
  font-size: 44px;
  line-height: 44px;
  margin-bottom: 5px;
  white-space: nowrap;
}

.promo-work .promo-hover .text-large.arrow-up:before, .promo-work .promo-hover .text-large.arrow-down:before {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: -.125em;
  font-family: 'Font Awesome 5 Pro';
  position: relative;
  top: -5px;
  margin-right: 5px;
  margin-left: -5px;
}

.promo-work .promo-hover .text-large.arrow-up:before {
  content: "\f062";
}

.promo-work .promo-hover .text-large.arrow-down:before {
  content: "\f063";
}

.promo-work .promo-hover .hover-link > a {
  font-family: "Raleway", sans-serif;
  color: #FFFFFF;
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px;
  border: 2px solid #FFFFFF;
  display: block;
  clear: both;
}

.promo-work .promo-hover .hover-link > a:after {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: -.125em;
  font-family: 'Font Awesome 5 Pro';
  content: "\f061";
  margin-left: 5px;
}

.promo-work .promo-hover .hover-link > a:hover {
  color: #50d2c2;
  background-color: #fff;
}

.promo-work:hover .promo-body .field-promoicon, .promo-work:focus .promo-body .field-promoicon, .promo-work.focus .promo-body .field-promoicon {
  padding: 0 15px 30px 15px;
  margin-top: -5px;
}

.promo-work:hover .promo-body .field-promoicon img, .promo-work:focus .promo-body .field-promoicon img, .promo-work.focus .promo-body .field-promoicon img {
  width: 50%;
}

.promo-work:hover .promo-body .field-promotext, .promo-work:focus .promo-body .field-promotext, .promo-work.focus .promo-body .field-promotext {
  opacity: 0;
}

.promo-work:hover .promo-hover, .promo-work:focus .promo-hover, .promo-work.focus .promo-hover {
  bottom: 0;
}

.promo-work:focus-within .promo-body .field-promoicon {
  padding: 0 15px 30px 15px;
  margin-top: -5px;
}

.promo-work:focus-within .promo-body .field-promoicon img {
  width: 50%;
}

.promo-work:focus-within .promo-body .field-promotext {
  opacity: 0;
}

.promo-work:focus-within .promo-hover {
  bottom: 0;
}

@media only screen and (max-width: 991px) {
  .promo-work .field-promotext {
    font-size: 18px;
  }
  .promo-work .hover-text > a {
    font-size: 14px;
  }
  .promo-work .hover-link > a {
    padding: 15px 10px;
  }
  .promo-work .promo-hover {
    padding: 20px;
  }
}

@media only screen and (min-width: 768px) {
  .promo-work {
    border-right: solid 1px #fff;
    /*.col-xs-6 & {
            margin-bottom: 30px;
        }

        .col-sm-6 & {
            margin-bottom: 30px;
        }*/
  }
  .promo-work.col-sm-6.col-md-4:nth-child(odd) {
    border-left: solid 1px #fff;
  }
  .promo-work.col-sm-6:nth-last-child(-n+2) {
    border-bottom: solid 1px #fff;
  }
  .promo-work .promo-hover {
    padding: 15px;
  }
}

@media only screen and (min-width: 992px) {
  .promo-work.col-sm-6.col-md-4:nth-child(odd) {
    border-left: none;
  }
  .promo-work.col-sm-6:nth-child(odd) {
    border-left: none;
  }
  .promo-work.col-md-4:nth-child(3n+1) {
    border-left: solid 1px #fff;
  }
  .promo-work.col-md-4:nth-last-child(-n+3) {
    border-bottom: solid 1px #fff;
  }
  .promo-work .promo-body {
    text-align: center;
    padding: 30px;
  }
  .promo-work .promo-hover .text-large {
    font-size: 48px;
    line-height: 48px;
  }
  .promo-work .promo-hover .text-large:before {
    font-size: 32px;
  }
  .promo-work .promo-hover .hover-text {
    font-size: 16px;
  }
  .promo-work .promo-hover .hover-link > a {
    font-size: 18px;
    padding: 20px;
  }
}

@media only screen and (min-width: 1200px) {
  .promo-work {
    /*.col-sm-6 & {
            .promo-hover {
                .hover-text {
                    font-size: $font-normal;
                }
                .text-large {
                    font-size: 56px;
                    line-height: 56px;

                    &:before {
                        font-size: 32px;
                    }
                }
            }
        }*/
  }
  .promo-work .promo-hover {
    padding: 20px;
  }
  .promo-work .promo-hover .text-large {
    font-size: 64px;
    line-height: 64px;
  }
  .promo-work .promo-hover .text-large:before {
    font-size: 36px;
  }
  .promo-work .promo-hover .hover-text {
    font-size: 18px;
  }
  .promo-work .promo-hover .hover-link > a {
    font-size: 18px;
    padding: 20px;
  }
}

.promo.absolute-bottom-link {
  position: relative;
}

.promo.absolute-bottom-link .promo-link {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

/* breakpoints */
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.promo.promo-hero {
  position: relative;
  text-align: center;
}

.promo.promo-hero.promo-hero-half {
  float: left;
  width: 50%;
}

@media only screen and (max-width: 991px) {
  .promo.promo-hero.promo-hero-half {
    float: none;
    width: 100%;
  }
}

.promo.promo-hero .field-promotext {
  display: inline-block;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  padding: 20px;
  color: #FFFFFF;
  background: rgba(0, 0, 0, 0.5);
}

.promo.promo-hero .field-promotext > a {
  color: inherit;
  text-decoration: none;
}

@media only screen and (max-width: 991px) {
  .promo.promo-hero .field-promotext {
    width: 100%;
    margin: 0;
  }
  .promo.promo-hero .field-promotext h1 {
    font-size: 24px;
    font-size: 2.4rem;
  }
  .promo.promo-hero .field-promotext h2, .promo.promo-hero .field-promotext h3, .promo.promo-hero .field-promotext h4 {
    font-size: 20px;
    font-size: 2rem;
  }
}

/* breakpoints */
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.promo-shadow {
  max-width: 960px;
  padding: 0;
  border-top-width: 3px;
  border-top-color: #333;
  border-style: solid;
  overflow: visible;
  position: relative;
}

.promo-shadow.promo {
  float: left;
}

.promo-shadow > .component-content {
  padding: 15px;
  margin: 0 0 30px 0;
}

@media only screen and (max-width: 991px) {
  .promo-shadow > .component-content {
    margin: 0 10px 30px 10px;
  }
}

.promo-shadow > .component-content:before, .promo-shadow > .component-content:after {
  opacity: 0.7;
  box-shadow: 0 17px 10px rgba(0, 0, 0, 0.7);
  position: absolute;
  z-index: -1;
  height: 20%;
  max-height: 100px;
  max-width: 460px;
  width: 47%;
  content: "";
  bottom: 10px;
}

.promo-shadow > .component-content:before {
  left: 2%;
  -webkit-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}

.promo-shadow > .component-content:after {
  right: 2%;
  -webkit-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
}
