/* breakpoints */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.container {
  padding: 0;
}

.container:before, .container:after {
  content: "";
  display: table;
  clear: both;
}

.container .component-content:before, .container .component-content:after {
  content: "";
  display: table;
  clear: both;
}

.container.cover-background {
  background-size: cover;
}

.container.cover-background .component-content {
  background-size: cover;
}

.container.contain-background {
  background-size: contain;
}

.container.contain-background .component-content {
  background-size: contain;
}

.container.background-dark-blue {
  background-color: #0f1b2f;
}

#content .container:first-child:after {
  content: "";
}

#content .container:first-child:after:before, #content .container:first-child:after:after {
  content: "";
  display: table;
  clear: both;
}

.angle-content-left, .angle-content-right {
  max-width: 1800px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: right bottom;
  overflow: hidden;
}

.angle-content-left .image, .angle-content-right .image {
  padding: 0;
  margin-bottom: -30px;
}

.angle-content-left .image a, .angle-content-right .image a {
  vertical-align: middle;
}

@media only screen and (min-width: 768px) {
  .angle-content-left, .angle-content-right {
    background-size: cover;
  }
}

@media only screen and (min-width: 992px) {
  .angle-content-left, .angle-content-right {
    max-height: 600px;
  }
  .angle-content-left .image, .angle-content-right .image {
    margin-bottom: 0;
  }
  .angle-content-left .image .component-content, .angle-content-right .image .component-content {
    overflow: hidden;
    -webkit-transform: skewX(-15deg) skewY(0deg);
    -ms-transform: skewX(-15deg) skewY(0deg);
    transform: skewX(-15deg) skewY(0deg);
  }
  .angle-content-left .image .component-content img, .angle-content-right .image .component-content img {
    -webkit-transform: skewX(15deg) skewY(0deg);
    -ms-transform: skewX(15deg) skewY(0deg);
    transform: skewX(15deg) skewY(0deg);
    height: 100%;
  }
}

@media only screen and (min-width: 992px) {
  .angle-content-left .image .component-content {
    margin-left: 81px;
    margin-right: -81px;
    position: relative;
    box-shadow: -15px 20px 30px rgba(0, 0, 0, 0.15);
  }
  .angle-content-left .image .component-content img {
    margin-left: -81px !important;
    width: auto;
    max-width: 220%;
    height: 100%;
    max-height: 600px;
  }
  .angle-content-right .image .component-content {
    margin-left: -81px;
    margin-right: 81px;
    box-shadow: -15px 20px 30px rgba(0, 0, 0, 0.15);
  }
  .angle-content-right .image .component-content img {
    margin-right: -81px !important;
    width: auto;
    max-width: 220%;
    height: 100%;
    max-height: 600px;
  }
}

.platform-angle, .platform-angle-gray {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-size: cover;
}

.platform-angle {
  background: #fff url(/aws/-/media/Project/AWS/Images/backgrounds/platform-angle-white.jpg) right bottom no-repeat;
  background-position: center bottom;
  background-size: cover;
}

.platform-angle-gray {
  background: #f5f5f5 url(/aws/-/media/Project/AWS/Images/backgrounds/platform-angle-gray.jpg) right top no-repeat;
  background-position: center top;
  background-size: cover;
}

@media only screen and (min-width: 768px) {
  .platform-angle, .platform-angle-gray {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media only screen and (max-width: 991px) {
  .platform-angle {
    background: #f5f5f5 url(/aws/-/media/Project/AWS/Images/backgrounds/background-white.jpg) left top no-repeat;
  }
  .platform-content-gray {
    background: #f5f5f5 url(/aws/-/media/Project/AWS/Images/backgrounds/background-gray.jpg) right top no-repeat;
  }
  .platform-content {
    text-align: center;
    background-size: cover;
  }
  .platform-content .title-underline h4:after {
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (min-width: 992px) {
  .platform-angle, .platform-angle-gray {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .platform-content {
    text-align: left;
  }
  .platform-angle .column-splitter, .platform-angle-gray .column-splitter {
    margin-left: auto;
    margin-right: auto;
  }
  .platform-angle .column-splitter .img-thumbnail, .platform-angle-gray .column-splitter .img-thumbnail {
    margin-bottom: 50px;
  }
}

@media only screen and (min-width: 1200px) {
  .platform-angle .column-splitter .column-splitter {
    padding-left: 100px;
  }
  .platform-angle-gray .column-splitter .column-splitter {
    padding-right: 100px;
  }
}

/* breakpoints */
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.container-gradient-background-red-arrow {
  background: #cc0000;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #cc0000, #840000);
  /* For Safari 5.1 to 6.0 */
  /* For Opera 11.1 to 12.0 */
  /* For Firefox 3.6 to 15 */
  background: -webkit-linear-gradient(top left, #cc0000, #840000);
  background: linear-gradient(to bottom right, #cc0000, #840000);
  /* Standard syntax */
}

.container-gradient-background-red-arrow::before {
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 30px solid #FFF;
  margin: 0 auto;
}

.home .container-gradient-background-red-arrow::before {
  border-top: 30px solid #f5f5f5;
}

.background-gray + .container-gradient-background-red-arrow::before {
  border-top: 30px solid #f5f5f5;
}

/* breakpoints */
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.container-gradient-background-teal-arrow {
  background-color: #0e142a;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #067385, #0e142a);
  /* For Safari 5.1 to 6.0 */
  /* For Opera 11.1 to 12.0 */
  /* For Firefox 3.6 to 15 */
  background: -webkit-linear-gradient(top left, #067385, #0e142a);
  background: linear-gradient(to bottom right, #067385, #0e142a);
  /* Standard syntax */
}

.container-gradient-background-teal-arrow::before {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 50px solid #FFF;
  margin: 0 auto;
}

/* breakpoints */
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.container-gradient-background-teal {
  background: #cc0000;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #067385, #0e142a);
  /* For Safari 5.1 to 6.0 */
  /* For Opera 11.1 to 12.0 */
  /* For Firefox 3.6 to 15 */
  background: -webkit-linear-gradient(top left, #067385, #0e142a);
  background: linear-gradient(to bottom right, #067385, #0e142a);
  /* Standard syntax */
}

/* breakpoints */
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.container-gray-background {
  background-color: #f5f5f5;
}

.container-gray-background .container {
  margin-top: 160px;
  margin-bottom: 160px;
}

.fade-black-to-bottom {
  position: relative;
  width: 100%;
  height: 100%;
}

.fade-black-to-bottom .field-image:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /*background-image: linear-gradient(rgba(0,60,96,0.7),rgba(0,60,96,0.7));
    /*opacity: .6; */
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
}

/* breakpoints */
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.library-wrapper img {
  width: 100%;
  height: auto;
}

@media only screen and (min-width: 768px) {
  .library-wrapper .row.column-splitter .col-sm-4:nth-of-type(1) {
    padding-left: 0;
  }
}

@media only screen and (max-width: 767px) {
  .library-wrapper .row.column-splitter .col-sm-4 [class*="col-"] {
    padding-left: 0;
    padding-right: 0;
  }
  .library-wrapper .row.column-splitter .col-sm-4:nth-of-type(1) {
    margin-bottom: 15px;
  }
}

.library-wrapper .facet-component {
  background: transparent;
  padding: 0;
  margin: 10px 0;
}

.library-wrapper .facet-component .facet-heading {
  border-bottom: 0;
  padding: 0;
  margin: 0;
}

.library-wrapper .facet-component .facet-heading .facet-title {
  text-transform: none;
  margin-bottom: 10px;
}

.library-wrapper .facet-component.facet-dropdown select {
  border-radius: 0;
}

.library-wrapper .search-results-count {
  padding: 0;
  font-size: 14px;
}

.library-wrapper .divider {
  padding-left: 0;
}

.library-wrapper .divider hr {
  border-top: 1px solid #d2d2d2;
}

@media only screen and (max-width: 767px) {
  .library-wrapper .facet-title {
    font-size: 14px !important;
  }
  .library-wrapper .divider {
    padding-right: 0;
  }
}

@media only screen and (min-width: 992px) {
  .search-wrapper {
    padding: 0;
  }
  .search-wrapper.col-xs-12 {
    padding: 0;
  }
}

@media only screen and (max-width: 767px) {
  .search-wrapper.col-lg-3 {
    margin-top: 60px;
  }
}

.search-wrapper a {
  color: #cc0000;
}

.search-wrapper .highlighted {
  background-color: yellow;
}

.search-wrapper .divider,
.search-wrapper .search-results-count,
.search-wrapper .sort-results,
.search-wrapper .page-size,
.search-wrapper .search-results {
  padding: 0;
}

.search-wrapper .page-size select {
  border-radius: 0;
}

.search-wrapper .search-results-count {
  line-height: 34px;
}

@media only screen and (max-width: 767px) {
  .search-wrapper .search-results-count {
    margin-bottom: 15px;
  }
}

.search-wrapper .sort-results label {
  position: relative;
  top: 2px;
}

.search-wrapper .search-results li {
  margin-bottom: 15px;
}

.search-wrapper .search-results .page a, .search-wrapper .search-results .field-title a, .search-wrapper .search-results .field-linkexternal a {
  color: #cc0000;
  font-weight: 700;
  font-size: 18px;
}

.search-wrapper .search-results .page a:hover, .search-wrapper .search-results .page a:active, .search-wrapper .search-results .page a:focus, .search-wrapper .search-results .field-title a:hover, .search-wrapper .search-results .field-title a:active, .search-wrapper .search-results .field-title a:focus, .search-wrapper .search-results .field-linkexternal a:hover, .search-wrapper .search-results .field-linkexternal a:active, .search-wrapper .search-results .field-linkexternal a:focus {
  color: #000;
}

.search-wrapper .search-results .url, .search-wrapper .search-results .field-publisheddate {
  font-size: 14px;
  color: #000;
}

.search-wrapper .search-results .url a, .search-wrapper .search-results .field-publisheddate a {
  color: #000;
}

/* breakpoints */
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.title-row-box {
  border: 1px solid #d2d2d2;
  box-sizing: border-box;
  width: 100%;
  height: 87px;
  margin: 0;
  padding: 0;
  background: #f5f5f5;
}

.title-row-box > .component-content {
  max-width: 960px;
  margin: 0 auto !important;
}

.title-row-box > .component-content .title {
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  margin: 23px 0 0 0;
  padding: 0;
}

.title-row-box > .component-content .title h1 {
  font-size: 22px;
  font-size: 2.2rem;
  border: none;
}

@media only screen and (max-width: 991px) {
  .title-row-box > .component-content .title {
    margin: 23px 0 0 20px;
  }
}

.title-row-box > .component-content .rich-text {
  margin: 0;
}

.title-row-box > .component-content .rich-text h1, .title-row-box > .component-content .rich-text h2, .title-row-box > .component-content .rich-text h3, .title-row-box > .component-content .rich-text h4 {
  margin: 0;
  padding: 0;
}

.title-row-box > .component-content .breadcrumb {
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  font-size: 14px;
  font-size: 1.4rem;
  margin: 23px 0 0 0;
  padding: 0;
  float: right;
  clear: both;
}

@media only screen and (min-width: 768px) {
  .title-row-box > .component-content .breadcrumb {
    margin: 23px 20px 0 0;
  }
}

@media only screen and (max-width: 380px) {
  .title-row-box > .component-content .breadcrumb {
    display: none;
  }
}

@media only screen and (max-width: 991px) {
  .title-row-box .alpha {
    vertical-align: middle;
    box-sizing: border-box;
    width: auto !important;
    float: left;
  }
  .title-row-box .omega {
    vertical-align: middle;
    box-sizing: border-box;
    width: auto !important;
    float: right;
  }
}

/* breakpoints */
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.title-section {
  background: #cc0000 url(/aws/-/media/Project/AWS/Images/backgrounds/section-title.jpg) right top no-repeat;
  background-size: cover;
}

.title-section h1, .title-section h2, .title-section h3, .title-section h4,
.title-section .rich-text h1, .title-section .rich-text h2, .title-section .rich-text h3, .title-section .rich-text h4 {
  color: #fff;
  text-align: center;
  margin: 40px 0;
}

.border-top {
  border-top: 1px solid #d2d2d2;
}

.border-bottom {
  border-bottom: 1px solid #d2d2d2;
}

.trending-wrapper {
  background: rgba(60, 68, 88, 0.6);
  position: relative;
  top: 69px;
  z-index: 9;
}

.trending-wrapper .list-inline.trending {
  margin: 15px 0;
  text-align: right;
}

.trending-wrapper .list-inline.trending > .component-content {
  float: right;
}

.trending-wrapper .list-inline.trending > .component-content h3 {
  float: left;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 600;
  margin: 0;
  padding: 10px;
}

.trending-wrapper .list-inline.trending > .component-content ul {
  float: right;
  position: relative;
  z-index: 10;
}

.trending-wrapper .list-inline.trending > .component-content ul li {
  padding-left: 20px;
}

.trending-wrapper .list-inline.trending > .component-content ul li a {
  font-size: 16px;
}

.trending-wrapper .list-inline.trending > .component-content ul li a:before {
  content: none;
}
