/* breakpoints */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.title {
  background: transparent;
}

.title.indent-top {
  margin-top: 30px;
}

.title.indent-top h1, .title.indent-top h2, .title.indent-top h3, .title.indent-top h4, .title.indent-top h5, .title.indent-top h6 {
  margin-top: 0;
}

.title.indent-bottom {
  margin-bottom: 30px;
}

.title.indent-bottom h1, .title.indent-bottom h2, .title.indent-bottom h3, .title.indent-bottom h4, .title.indent-bottom h5, .title.indent-bottom h6 {
  margin-bottom: 0;
}

.title h1, .title .field-title a {
  margin-bottom: 15px;
  color: #333;
  line-height: 48px;
  padding-bottom: 10px;
  display: block;
}

.title h1.title-contact, .title .field-title a.title-contact {
  color: #FFFFFF;
  margin-top: 55px;
  margin-bottom: 45px;
  padding-bottom: 0;
  border-bottom: 0;
  font-weight: 400;
}

.title.title-page-header {
  text-align: center;
  position: absolute;
  top: 40px;
  z-index: 9;
}

@media only screen and (min-width: 768px) {
  .title.title-page-header {
    top: 140px;
  }
}

@media only screen and (min-width: 992px) {
  .title.title-page-header {
    top: 160px;
  }
}

.title.title-page-header h1, .title.title-page-header h2, .title.title-page-header h3, .title.title-page-header h4, .title.title-page-header h5, .title.title-page-header h6 {
  position: relative;
  color: #FFFFFF;
}

.title.title-page-header h1 {
  margin-top: 10px;
}

@media only screen and (max-width: 639px) {
  .title.title-page-header {
    max-height: 140px;
    overflow: hidden;
  }
  .title.title-page-header h1 {
    font-size: 30px;
    line-height: 34px;
  }
}

.title.title-introduction {
  margin-top: 30px;
}

.title.title-introduction h1, .title.title-introduction h2, .title.title-introduction h3, .title.title-introduction h4, .title.title-introduction h5, .title.title-introduction h6 {
  margin-top: 0;
  margin-bottom: 0;
}

.title .field-title a {
  text-decoration: none;
  cursor: pointer;
}

.title .field-title a:hover {
  color: #cc0000;
}

.title .title-tagline {
  color: #fff;
  margin: 40px 0;
}

.title.title-our-work h1 {
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 45px;
}

@media only screen and (min-width: 992px) {
  .title.title-partners {
    margin: 60px auto;
  }
}

.title.title-partners .component-content h2, .title.title-partners .component-content h3 {
  font-weight: 700;
  color: #333333;
  padding-bottom: 10px;
  width: 50%;
}

.title.title-partners .component-content h2:after, .title.title-partners .component-content h3:after {
  content: "";
  font-weight: 600;
  background-color: #333;
  width: 100px;
  height: 4px;
  margin-top: 10px;
  display: block;
  margin-top: 15px;
}

@media only screen and (max-width: 991px) {
  .title.title-partners .component-content h2, .title.title-partners .component-content h3 {
    width: 100%;
    text-align: center;
  }
  .title.title-partners .component-content h2:after, .title.title-partners .component-content h3:after {
    content: "";
    font-weight: 600;
    background-color: #333;
    width: 100px;
    height: 4px;
    margin-top: 10px;
    display: block;
    margin: 15px auto;
  }
}

@media only screen and (max-width: 991px) {
  .title.title-solutions {
    margin-top: 60px;
  }
}

@media only screen and (max-width: 767px) {
  .title.title-solutions {
    margin-top: 0;
  }
}
