/* breakpoints */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.link {
  background: transparent;
}

.link a {
  font-size: 16px;
  color: #333;
  text-decoration: underline;
}

.link a:hover {
  color: #cc0000;
}

.link .button a, .link.btn-back a, .link.btn-next a {
  font-family: "Raleway", sans-serif;
  color: #cc0000;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  padding: 10px 15px;
  display: inline-block;
  background-color: #FFFFFF;
  border: solid 2px #cc0000;
  border-radius: 0;
}

.link .button a:hover, .link .button a:focus, .link.btn-back a:hover, .link.btn-back a:focus, .link.btn-next a:hover, .link.btn-next a:focus {
  color: #FFFFFF;
  background-color: #cc0000;
}

.link .button.btn-inverse, .link.btn-back.btn-inverse, .link.btn-next.btn-inverse {
  background-color: #700000;
  border-color: #700000;
  color: #cc0000;
}

.link .button.btn-inverse:hover, .link.btn-back.btn-inverse:hover, .link.btn-next.btn-inverse:hover {
  background-color: #cc0000;
  color: #FFFFFF;
}

.link.btn-lg .button a {
  font-size: 18px;
  text-transform: uppercase;
  padding: 15px 18px;
}

.link.link-inline {
  width: auto;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 15px;
}

.link.btn-block.col-xs-12 {
  padding-left: 0;
  padding-right: 0;
}

.link.btn-back a:before, .link.btn-back a:after, .link.btn-next a:before, .link.btn-next a:after {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: -.125em;
  font-family: 'Font Awesome 5 Pro';
  margin-top: 3px;
  display: block;
  position: relative;
}

.link.btn-back {
  float: left;
}

.link.btn-back a:before {
  content: "\f177";
  float: left;
  margin-right: 8px;
}

.link.btn-back.btn-block a {
  width: 100%;
  text-align: center;
}

.link.btn-back.btn-block a:before {
  float: none;
  display: inline-block;
}

.link.btn-next {
  float: right;
}

.link.btn-next a:after {
  content: "\f178";
  float: right;
  margin-left: 8px;
}

.link.indent-top {
  margin-top: 30px;
}

.link-arrow {
  padding-right: 20px;
}

.link-arrow:after {
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: -.125em;
  font-family: 'Font Awesome 5 Pro';
  content: "\f061";
  padding-left: 5px;
}

.searchOverlay, #search-launch {
  padding: 0;
  width: 50px;
  height: 68px;
  margin-left: -40px;
  float: right;
  z-index: 99;
  -webkit-transition: height 0.4s ease-in, padding 0.4s ease-in;
  transition: height 0.4s ease-in, padding 0.4s ease-in;
}

@media only screen and (max-width: 767px) {
  .searchOverlay, #search-launch {
    margin-left: 0;
    right: 56px;
    position: absolute;
  }
}

.searchOverlay a, #search-launch a {
  text-align: center;
  text-decoration: none;
  width: 50px;
  height: 68px;
  padding: 18px 10px;
  display: block;
  -webkit-transition: height 0.4s ease-in, padding 0.4s ease-in;
  transition: height 0.4s ease-in, padding 0.4s ease-in;
}

.searchOverlay a:after, #search-launch a:after {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: -.125em;
  font-family: 'Font Awesome 5 Pro';
  content: "\f002";
  line-height: 30px;
  font-weight: 400;
  color: #000;
  display: block;
  position: relative;
}

@media only screen and (max-width: 767px) {
  .searchOverlay a:after, #search-launch a:after {
    font-size: 28px;
  }
}

@media only screen and (min-width: 1400px) {
  .searchOverlay a:after, #search-launch a:after {
    font-size: 18px;
  }
}

.searchOverlay a:hover:after, #search-launch a:hover:after {
  color: #cc0000;
}
