/* breakpoints */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.content, .rich-text {
  background: transparent;
  color: #333;
  border: none;
  line-height: 1.5;
  /* breakpoints */
  /*AwS 
- not using the specific classes here (i.e. button-*) but instead the standard bootstrap prefixing (.btn-*) to avoid confusion
- see .btn below
*/
  /* breakpoints */
  /* breakpoints */
  /*i dont think we need this were using variants/page-content/blog.scss
.author-image, .author, .article-date {
    float: left;
}*/
  /* breakpoints */
  /* breakpoints */
  /* breakpoints */
}

.content *, .rich-text * {
  max-width: 100%;
}

.content a, .rich-text a {
  color: #cc0000;
  text-decoration: underline;
}

.content a:hover, .content a:active, .content a:focus, .rich-text a:hover, .rich-text a:active, .rich-text a:focus {
  color: #cc0000;
  text-decoration: none;
}

.content.rich-text-contact, .rich-text.rich-text-contact {
  color: #FFFFFF;
  font-size: 18px;
  margin-left: -15px;
  padding-right: 60px;
}

.content.rich-text-contact p, .rich-text.rich-text-contact p {
  margin-top: 0;
  margin-bottom: 30px;
}

.content.rich-text-contact .btn:last-of-type, .rich-text.rich-text-contact .btn:last-of-type {
  margin-top: 15px;
}

@media only screen and (max-width: 767px) {
  .content.rich-text-contact .btn, .rich-text.rich-text-contact .btn {
    margin-top: 15px;
  }
  .content.rich-text-contact .btn:last-of-type, .rich-text.rich-text-contact .btn:last-of-type {
    margin-bottom: 60px;
  }
}

@media only screen and (max-width: 991px) {
  .content.rich-text-contact, .rich-text.rich-text-contact {
    margin-left: auto;
    padding-right: 15px;
  }
}

.content.rich-text-contact span.hidden-xs, .rich-text.rich-text-contact span.hidden-xs {
  font-family: "Open Sans", Helvetica, Verdana, Tahoma, sans-serif;
  vertical-align: baseline;
}

.content.content-page-header, .rich-text.content-page-header {
  z-index: 1;
}

.content.content-page-header[class*="col-"], .rich-text.content-page-header[class*="col-"] {
  padding-left: 0;
  padding-right: 0;
}

.content.content-page-header img, .rich-text.content-page-header img {
  width: 100%;
  height: 100%;
  min-height: 300px;
  -o-object-fit: cover;
  object-fit: cover;
}

@media only screen and (max-width: 767px) {
  .content.content-page-header img, .rich-text.content-page-header img {
    min-height: 240px;
  }
}

.content.content-page-header:after, .rich-text.content-page-header:after {
  content: "";
  display: block;
  width: 100%;
  min-height: 300px;
  position: absolute;
  top: 0;
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
}

@media only screen and (max-width: 767px) {
  .content.content-page-header:after, .rich-text.content-page-header:after {
    min-height: 180px;
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.content .link .field-title, .content .link .field-linktext, .content .media-link .field-title, .content .media-link .field-linktext, .content .file-list .field-title, .content .file-list .field-linktext, .rich-text .link .field-title, .rich-text .link .field-linktext, .rich-text .media-link .field-title, .rich-text .media-link .field-linktext, .rich-text .file-list .field-title, .rich-text .file-list .field-linktext {
  display: inline-block;
  line-height: 21px;
}

.content .link span, .content .media-link span, .content .file-list span, .rich-text .link span, .rich-text .media-link span, .rich-text .file-list span {
  font-size: 12px;
  font-size: 1.2rem;
}

.content .link a, .content .media-link a, .content .file-list a, .rich-text .link a, .rich-text .media-link a, .rich-text .file-list a {
  text-decoration: none;
}

.content .pdf, .content .xls, .content .xslx, .content .pptx, .content .ppt, .content .docx, .content .doc, .content .bmp, .content .png, .content .jpg, .content .jpeg, .content .psd, .content .gif, .content .avi, .content .mp4, .content .wmv, .content .mov, .content .mp3, .content .wma, .content .txt, .content .zip, .rich-text .pdf, .rich-text .xls, .rich-text .xslx, .rich-text .pptx, .rich-text .ppt, .rich-text .docx, .rich-text .doc, .rich-text .bmp, .rich-text .png, .rich-text .jpg, .rich-text .jpeg, .rich-text .psd, .rich-text .gif, .rich-text .avi, .rich-text .mp4, .rich-text .wmv, .rich-text .mov, .rich-text .mp3, .rich-text .wma, .rich-text .txt, .rich-text .zip {
  display: inline-block;
  box-sizing: border-box;
  font-weight: normal;
  width: 15px;
  height: 21px;
  margin: 0;
  padding: 0;
  position: relative;
}

.content .pdf:before, .content .xls:before, .content .xslx:before, .content .pptx:before, .content .ppt:before, .content .docx:before, .content .doc:before, .content .bmp:before, .content .png:before, .content .jpg:before, .content .jpeg:before, .content .psd:before, .content .gif:before, .content .avi:before, .content .mp4:before, .content .wmv:before, .content .mov:before, .content .mp3:before, .content .wma:before, .content .txt:before, .content .zip:before, .rich-text .pdf:before, .rich-text .xls:before, .rich-text .xslx:before, .rich-text .pptx:before, .rich-text .ppt:before, .rich-text .docx:before, .rich-text .doc:before, .rich-text .bmp:before, .rich-text .png:before, .rich-text .jpg:before, .rich-text .jpeg:before, .rich-text .psd:before, .rich-text .gif:before, .rich-text .avi:before, .rich-text .mp4:before, .rich-text .wmv:before, .rich-text .mov:before, .rich-text .mp3:before, .rich-text .wma:before, .rich-text .txt:before, .rich-text .zip:before {
  font-size: 16px;
  font-size: 1.6rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: -.125em;
  font-family: 'Font Awesome 5 Pro';
  position: absolute;
  display: block;
  top: 0;
  margin: 0;
  padding: 0;
}

.content .pdf:before, .rich-text .pdf:before {
  content: "\f1c1";
}

.content .xlsx:before, .content .xls:before, .rich-text .xlsx:before, .rich-text .xls:before {
  content: "\f1c3";
}

.content .pptx:before, .content .ppt:before, .rich-text .pptx:before, .rich-text .ppt:before {
  content: "\f1c4";
}

.content .docx:before, .content .doc:before, .rich-text .docx:before, .rich-text .doc:before {
  content: "\f1c2";
}

.content .bmp:before, .content .png:before, .content .jpg:before, .content .jpeg:before, .content .psd:before, .content .gif:before, .rich-text .bmp:before, .rich-text .png:before, .rich-text .jpg:before, .rich-text .jpeg:before, .rich-text .psd:before, .rich-text .gif:before {
  content: "\f1c5";
}

.content .avi:before, .content .mp4:before, .content .wmv:before, .content .mov:before, .rich-text .avi:before, .rich-text .mp4:before, .rich-text .wmv:before, .rich-text .mov:before {
  content: "\f1c8";
}

.content .mp3:before, .content .wma:before, .rich-text .mp3:before, .rich-text .wma:before {
  content: "\f1c7";
}

.content .txt:before, .rich-text .txt:before {
  content: "\f15c";
}

.content .zip:before, .rich-text .zip:before {
  content: "\f1c6";
}

.content h1, .content h2, .content h3, .content h4, .content h5, .content h6, .rich-text h1, .rich-text h2, .rich-text h3, .rich-text h4, .rich-text h5, .rich-text h6 {
  color: #333;
}

.content h1, .content h2, .rich-text h1, .rich-text h2 {
  margin-bottom: 30px;
}

.content h3, .content h4, .content p, .rich-text h3, .rich-text h4, .rich-text p {
  margin-bottom: 20px;
}

.content h5, .content h6, .rich-text h5, .rich-text h6 {
  margin-bottom: 15px;
}

.content strong, .rich-text strong {
  font-weight: 700;
}

.content ul, .content ol, .rich-text ul, .rich-text ol {
  padding-bottom: 5px;
  padding-top: 5px;
  margin-left: 15px;
  margin-bottom: 20px;
}

.content li, .rich-text li {
  font-size: 16px;
  margin-left: 15px;
}

.content ul li, .rich-text ul li {
  list-style: disc;
  list-style-position: outside;
}

.content ol li, .rich-text ol li {
  list-style: decimal;
  list-style-position: outside;
}

.content a, .rich-text a {
  color: #cc0000;
  text-decoration: underline;
  font-size: 1em;
}

.content a:hover, .rich-text a:hover {
  color: #cc0000;
  text-decoration: none;
}

.content table, .rich-text table {
  height: auto !important;
  border: 2px solid #d2d2d2;
}

.content table, .content table tr, .content table th, .content table td, .rich-text table, .rich-text table tr, .rich-text table th, .rich-text table td {
  border: solid 2px #d2d2d2;
  background: #FFFFFF;
  border-collapse: collapse;
  vertical-align: middle;
}

.content table tr, .content table th, .content table td, .rich-text table tr, .rich-text table th, .rich-text table td {
  padding: 5px;
}

.content table caption, .rich-text table caption {
  background-color: #f5f5f5;
  overflow: hidden;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  margin-left: 0;
}

.content table tr, .rich-text table tr {
  border: none;
}

.content table th, .content table td, .rich-text table th, .rich-text table td {
  border-width: 2px 0 0 2px;
}

.content table th, .rich-text table th {
  background-color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 7px;
}

.content table th:first-child, .rich-text table th:first-child {
  border-left: 0;
}

.content table td:first-child, .rich-text table td:first-child {
  border-left: 0;
}

.content .button-default, .content .default, .rich-text .button-default, .rich-text .default {
  border: 1px solid #d2d2d2;
  font-size: 12px;
  font-size: 1.2rem;
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  margin: 5px 0;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  background: #f6f6f6;
  color: #333;
  font-weight: bold;
}

.content .button-default:hover, .content .default:hover, .rich-text .button-default:hover, .rich-text .default:hover {
  color: #333;
  background: #f5f5f5;
}

.content .button-success, .content .success, .rich-text .button-success, .rich-text .success {
  font-size: 12px;
  font-size: 1.2rem;
  border: 1px solid #d2d2d2;
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  margin: 5px 0;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  background: #a0ce4e;
  color: #FFFFFF;
  font-weight: bold;
}

.content .button-success:hover, .content .success:hover, .rich-text .button-success:hover, .rich-text .success:hover {
  color: #FFFFFF;
  background: #92be43;
}

.content .button-warning, .content .warning, .rich-text .button-warning, .rich-text .warning {
  font-size: 12px;
  font-size: 1.2rem;
  border: 1px solid #d2d2d2;
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  margin: 5px 0;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  background: #cc0000;
  color: #FFFFFF;
  font-weight: bold;
}

.content .button-warning:hover, .content .warning:hover, .rich-text .button-warning:hover, .rich-text .warning:hover {
  color: #FFFFFF;
  background: #cc0000;
}

.content .btn, .rich-text .btn {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  padding: 15px;
  display: inline-block;
  background-color: #FFFFFF;
  border: solid 2px #cc0000;
  border-radius: 0;
  color: #cc0000;
}

.content .btn.btn-lg, .rich-text .btn.btn-lg {
  font-size: 18px;
  padding: 15px 18px;
}

.content .btn-default, .rich-text .btn-default {
  background-color: #FFFFFF;
  border: solid 2px #cc0000;
  color: #cc0000;
}

.content .btn-default:hover, .content .btn-default:focus, .rich-text .btn-default:hover, .rich-text .btn-default:focus {
  color: #FFFFFF;
  background-color: #cc0000;
}

.content .btn-inverse, .rich-text .btn-inverse {
  background-color: #700000;
  border-color: #700000;
  color: #cc0000;
}

.content .btn-inverse:hover, .content .btn-inverse:active, .content .btn-inverse:focus, .rich-text .btn-inverse:hover, .rich-text .btn-inverse:active, .rich-text .btn-inverse:focus {
  background-color: #cc0000;
  border-color: #cc0000;
  color: #FFFFFF;
}

.content .btn-info, .rich-text .btn-info {
  color: #424242;
  background: transparent;
  border: 2px solid #424242;
  font-size: 18px;
  text-transform: uppercase;
}

.content .btn-info:hover, .content .btn-info:active, .content .btn-info:focus, .rich-text .btn-info:hover, .rich-text .btn-info:active, .rich-text .btn-info:focus {
  background: #424242;
  color: #FFFFFF;
}

.content.rich-text-service, .rich-text.rich-text-service {
  margin-left: -15px;
  margin-right: -15px;
}

.content.rich-text-service ul, .rich-text.rich-text-service ul {
  list-style-type: none;
  margin-left: -15px;
}

.content.rich-text-service ul li, .rich-text.rich-text-service ul li {
  list-style: none;
  float: left;
  display: block;
  color: #333333;
}

.content.rich-text-service ul li:first-of-type, .rich-text.rich-text-service ul li:first-of-type {
  font-weight: 700;
}

.content.rich-text-service ul li:first-of-type::after, .rich-text.rich-text-service ul li:first-of-type::after {
  content: '|';
  margin-left: 5px;
  margin-right: 5px;
}

.content.rich-text-service table, .content.rich-text-service tbody, .content.rich-text-service th, .content.rich-text-service tr, .content.rich-text-service td, .rich-text.rich-text-service table, .rich-text.rich-text-service tbody, .rich-text.rich-text-service th, .rich-text.rich-text-service tr, .rich-text.rich-text-service td {
  border: 0;
  background: transparent;
}

.content.rich-text-service table, .rich-text.rich-text-service table {
  font-size: 16px;
  color: #333333;
}

.content.rich-text-service table th, .rich-text.rich-text-service table th {
  font-weight: 700;
  font-size: 24px;
}

.content.rich-text-service table td:first-child, .rich-text.rich-text-service table td:first-child {
  font-weight: 700;
  text-align: right;
  vertical-align: top;
  width: 55%;
}

.content.rich-text-service table td:first-child::after, .rich-text.rich-text-service table td:first-child::after {
  content: '|';
  margin-left: 5px;
  margin-right: 5px;
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.content.sidenav-head, .rich-text.sidenav-head {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  background-color: #f5f5f5;
  padding-top: 15px;
}

.content.sidenav-head h5, .rich-text.sidenav-head h5 {
  font-size: 20px;
  padding-bottom: 5px;
  margin-bottom: 0;
  border-bottom: 3px solid #333;
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.content blockquote, .rich-text blockquote {
  color: #cc0000;
  font-size: 24px;
  padding: 10px;
  margin-bottom: 30px;
  border-left: solid 4px #ddd;
}

.content blockquote.pull-left, .rich-text blockquote.pull-left {
  border-left: none;
  border-right: solid 4px #ddd;
  padding-left: 0;
  margin-right: 30px;
}

@media only screen and (min-width: 1200px) {
  .content blockquote.pull-left, .rich-text blockquote.pull-left {
    margin-left: -15px;
  }
}

@media only screen and (min-width: 1400px) {
  .content blockquote.pull-left, .rich-text blockquote.pull-left {
    margin-left: -5%;
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.content.label-green, .content .label-green, .content.label-black, .content .label-black, .rich-text.label-green, .rich-text .label-green, .rich-text.label-black, .rich-text .label-black {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  width: auto;
  padding: 10px;
  margin-bottom: 20px;
  position: relative;
  display: inline-block;
  width: auto;
}

.content.label-green:after, .content .label-green:after, .content.label-black:after, .content .label-black:after, .rich-text.label-green:after, .rich-text .label-green:after, .rich-text.label-black:after, .rich-text .label-black:after {
  content: "";
  border-right: 10px solid transparent;
  width: 10px;
  height: 10px;
  position: absolute;
  bottom: -10px;
  left: 0;
  right: auto;
  display: inline-block;
}

.content.label-green, .content .label-green, .rich-text.label-green, .rich-text .label-green {
  background-color: #50d2c2;
}

.content.label-green:after, .content .label-green:after, .rich-text.label-green:after, .rich-text .label-green:after {
  border-top: 10px solid #50d2c2;
}

.content.label-black, .content .label-black, .rich-text.label-black, .rich-text .label-black {
  background-color: #000;
}

.content.label-black:after, .content .label-black:after, .rich-text.label-black:after, .rich-text .label-black:after {
  border-top: 10px solid #000;
}

.content .list-table, .rich-text .list-table {
  display: block;
  width: 100%;
}

.content .list-table li, .rich-text .list-table li {
  display: block;
}

.content .list-table .cell-head, .rich-text .list-table .cell-head {
  font-weight: 700;
  display: block;
}

@media only screen and (min-width: 768px) {
  .content .list-table, .rich-text .list-table {
    display: table;
  }
  .content .list-table li, .rich-text .list-table li {
    width: 80%;
    display: table-cell;
  }
  .content .list-table .cell-head, .rich-text .list-table .cell-head {
    width: 20%;
    display: table-cell;
    border-right: solid 1px #999;
  }
}

.content .rich-text-lists ul, .content .field-featurelist ul, .rich-text .rich-text-lists ul, .rich-text .field-featurelist ul {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.content .rich-text-lists ul li, .content .field-featurelist ul li, .rich-text .rich-text-lists ul li, .rich-text .field-featurelist ul li {
  font-size: 13px;
  font-size: 1.3rem;
  position: relative;
  line-height: 21px;
  list-style: none;
  margin: 0;
  padding: 5px 0 5px 25px;
}

.content .rich-text-lists ul li:before, .content .field-featurelist ul li:before, .rich-text .rich-text-lists ul li:before, .rich-text .field-featurelist ul li:before {
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
  font-size: 1.2rem;
  font-family: 'Font Awesome 5 Pro', sans-serif;
  position: absolute;
  top: 3px;
  left: 0;
  color: #333;
  text-align: center;
  content: "\f00c";
  width: 20px;
  margin: 0 5px 0 0;
  padding: 0;
}

.content .field-featurelist ul li:before, .rich-text .field-featurelist ul li:before {
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
  font-size: 1.2rem;
  font-family: 'Font Awesome 5 Pro', sans-serif;
  position: absolute;
  top: 3px;
  left: 0;
  color: #333;
  text-align: center;
  content: "\f046";
  width: 20px;
  margin: 0 5px 0 0;
  padding: 0;
}

.content .media-link.file-type-icon-media-link, .rich-text .media-link.file-type-icon-media-link {
  float: left;
}

.content .media-link.file-type-icon-media-link .field-filetypeicon, .rich-text .media-link.file-type-icon-media-link .field-filetypeicon {
  text-align: center;
}

.content .table-stacked, .rich-text .table-stacked {
  width: 100%;
}

@media only screen and (max-width: 767px) {
  .content .table-stacked, .rich-text .table-stacked {
    display: block;
  }
  .content .table-stacked tr, .content .table-stacked td, .content .table-stacked th, .rich-text .table-stacked tr, .rich-text .table-stacked td, .rich-text .table-stacked th {
    display: block;
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.content .text-reverse, .content .text-reverse *, .rich-text .text-reverse, .rich-text .text-reverse * {
  color: #ffffff;
  border-color: #ffffff;
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.content.title-underline h1:after, .content.title-underline h2:after, .content.title-underline h3:after, .content.title-underline h4:after, .content.title-underline h5:after, .rich-text.title-underline h1:after, .rich-text.title-underline h2:after, .rich-text.title-underline h3:after, .rich-text.title-underline h4:after, .rich-text.title-underline h5:after {
  content: "";
  font-weight: 600;
  background-color: #333;
  width: 100px;
  height: 4px;
  margin-top: 10px;
  display: block;
}

.content.title-underline.position-center h1:after, .content.title-underline.position-center h2:after, .content.title-underline.position-center h3:after, .content.title-underline.position-center h4:after, .content.title-underline.position-center h5:after, .rich-text.title-underline.position-center h1:after, .rich-text.title-underline.position-center h2:after, .rich-text.title-underline.position-center h3:after, .rich-text.title-underline.position-center h4:after, .rich-text.title-underline.position-center h5:after {
  margin-left: auto;
  margin-right: auto;
}

.content.aws-slide-home, .rich-text.aws-slide-home {
  padding: 0;
}

.content.aws-slide-home .component-content .slide-image img, .rich-text.aws-slide-home .component-content .slide-image img {
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 380px) {
  .content.aws-slide-home .component-content .slide-image img, .rich-text.aws-slide-home .component-content .slide-image img {
    width: 140%;
    max-width: 140%;
    margin-left: -20% !important;
  }
}

.content.aws-slide-home .component-content .container.slide-caption, .rich-text.aws-slide-home .component-content .container.slide-caption {
  text-align: left;
  padding: 0 15px;
  margin: 0 auto;
  position: absolute;
  top: 15%;
  left: 0;
  right: 0;
}

@media only screen and (max-width: 767px) {
  .content.aws-slide-home .component-content .container.slide-caption .field-slidetext, .content.aws-slide-home .component-content .container.slide-caption .field-slidelink, .rich-text.aws-slide-home .component-content .container.slide-caption .field-slidetext, .rich-text.aws-slide-home .component-content .container.slide-caption .field-slidelink {
    text-align: center;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 768px) {
  .content.aws-slide-home .component-content .container.slide-caption, .rich-text.aws-slide-home .component-content .container.slide-caption {
    top: 30%;
  }
  .content.aws-slide-home .component-content .container.slide-caption .field-slidetext, .rich-text.aws-slide-home .component-content .container.slide-caption .field-slidetext {
    width: 60%;
  }
}

@media only screen and (min-width: 992px) {
  .content.aws-slide-home .component-content .container.slide-caption, .rich-text.aws-slide-home .component-content .container.slide-caption {
    top: 35%;
  }
}

@media only screen and (min-width: 1200px) {
  .content.aws-slide-home .component-content .container.slide-caption .field-slidetext, .rich-text.aws-slide-home .component-content .container.slide-caption .field-slidetext {
    width: 50%;
  }
}

@media only screen and (min-width: 1400px) {
  .content.aws-slide-home .component-content .container.slide-caption .field-slidetext, .rich-text.aws-slide-home .component-content .container.slide-caption .field-slidetext {
    width: 40%;
  }
}

.content.aws-slide-home .component-content .container.slide-caption h1, .rich-text.aws-slide-home .component-content .container.slide-caption h1 {
  color: #cc0000;
  font-weight: 500;
  margin-bottom: 10px;
}

@media only screen and (min-width: 768px) {
  .content.aws-slide-home .component-content .container.slide-caption h1, .rich-text.aws-slide-home .component-content .container.slide-caption h1 {
    font-size: 34px;
  }
}

@media only screen and (min-width: 1200px) {
  .content.aws-slide-home .component-content .container.slide-caption h1, .rich-text.aws-slide-home .component-content .container.slide-caption h1 {
    font-size: 48px;
  }
}

@media only screen and (max-width: 767px) {
  .content.aws-slide-home .component-content .container.slide-caption h1, .rich-text.aws-slide-home .component-content .container.slide-caption h1 {
    font-size: 32px;
  }
}

@media only screen and (max-width: 380px) {
  .content.aws-slide-home .component-content .container.slide-caption h1, .rich-text.aws-slide-home .component-content .container.slide-caption h1 {
    font-size: 24px;
  }
}

.content.aws-slide-home .component-content .container.slide-caption p, .rich-text.aws-slide-home .component-content .container.slide-caption p {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 500;
}

@media only screen and (min-width: 768px) {
  .content.aws-slide-home .component-content .container.slide-caption p, .rich-text.aws-slide-home .component-content .container.slide-caption p {
    font-size: 24px;
  }
}

@media only screen and (min-width: 1200px) {
  .content.aws-slide-home .component-content .container.slide-caption p, .rich-text.aws-slide-home .component-content .container.slide-caption p {
    font-size: 36px;
  }
}

@media only screen and (max-width: 639px) {
  .content.aws-slide-home .component-content .container.slide-caption p, .rich-text.aws-slide-home .component-content .container.slide-caption p {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .content.aws-slide-home .component-content .container.slide-caption .btn, .rich-text.aws-slide-home .component-content .container.slide-caption .btn {
    padding: 7px;
    font-size: 16px;
  }
}

@media only screen and (min-width: 768px) {
  .content.aws-slide-home.position-right .container.slide-caption *, .rich-text.aws-slide-home.position-right .container.slide-caption * {
    text-align: left !important;
  }
  .content.aws-slide-home.position-right .container.slide-caption * .position-right, .rich-text.aws-slide-home.position-right .container.slide-caption * .position-right {
    text-align: right !important;
  }
  .content.aws-slide-home.position-right .container.slide-caption .field-slidetext, .content.aws-slide-home.position-right .container.slide-caption .field-slidelink, .rich-text.aws-slide-home.position-right .container.slide-caption .field-slidetext, .rich-text.aws-slide-home.position-right .container.slide-caption .field-slidelink {
    margin-left: 40%;
  }
}

@media only screen and (min-width: 1200px) {
  .content.aws-slide-home.position-right .container.slide-caption .field-slidetext, .content.aws-slide-home.position-right .container.slide-caption .field-slidelink, .rich-text.aws-slide-home.position-right .container.slide-caption .field-slidetext, .rich-text.aws-slide-home.position-right .container.slide-caption .field-slidelink {
    margin-left: 50%;
  }
}

@media only screen and (min-width: 1400px) {
  .content.aws-slide-home.position-right .container.slide-caption .field-slidetext, .content.aws-slide-home.position-right .container.slide-caption .field-slidelink, .rich-text.aws-slide-home.position-right .container.slide-caption .field-slidetext, .rich-text.aws-slide-home.position-right .container.slide-caption .field-slidelink {
    margin-left: 60%;
  }
}

@media only screen and (max-width: 767px) {
  .content.aws-slide-home.position-right .container.slide-caption, .content.aws-slide-home.position-right .container.field-slidelink, .content.aws-slide-home.position-left .container.slide-caption, .content.aws-slide-home.position-left .container.field-slidelink, .rich-text.aws-slide-home.position-right .container.slide-caption, .rich-text.aws-slide-home.position-right .container.field-slidelink, .rich-text.aws-slide-home.position-left .container.slide-caption, .rich-text.aws-slide-home.position-left .container.field-slidelink {
    margin: 0 auto;
  }
  .content.aws-slide-home.position-right .container.slide-caption, .content.aws-slide-home.position-right .container.slide-caption *, .content.aws-slide-home.position-right .container.field-slidelink, .content.aws-slide-home.position-left .container.slide-caption, .content.aws-slide-home.position-left .container.slide-caption *, .content.aws-slide-home.position-left .container.field-slidelink, .rich-text.aws-slide-home.position-right .container.slide-caption, .rich-text.aws-slide-home.position-right .container.slide-caption *, .rich-text.aws-slide-home.position-right .container.field-slidelink, .rich-text.aws-slide-home.position-left .container.slide-caption, .rich-text.aws-slide-home.position-left .container.slide-caption *, .rich-text.aws-slide-home.position-left .container.field-slidelink {
    text-align: center !important;
  }
}

.content.aws-slide-home.position-center .container.slide-caption .field-slidetext, .content.aws-slide-home.position-center .container.slide-caption .field-slidelink, .rich-text.aws-slide-home.position-center .container.slide-caption .field-slidetext, .rich-text.aws-slide-home.position-center .container.slide-caption .field-slidelink {
  margin: 0 auto;
}

.content.aws-slide-home.text-reverse .component-content .container.slide-caption *, .rich-text.aws-slide-home.text-reverse .component-content .container.slide-caption * {
  color: #FFFFFF;
}

.content.aws-slide-home.text-reverse .component-content .container.slide-caption * h1, .rich-text.aws-slide-home.text-reverse .component-content .container.slide-caption * h1 {
  color: #FFFFFF;
}

.content.aws-slide-home.text-reverse .component-content .container.slide-caption * .btn-info, .rich-text.aws-slide-home.text-reverse .component-content .container.slide-caption * .btn-info {
  border-color: #FFFFFF;
  background: transparent;
  color: #FFFFFF;
}

.content.aws-slide-home.text-reverse .component-content .container.slide-caption * .btn-info:hover, .content.aws-slide-home.text-reverse .component-content .container.slide-caption * .btn-info:active, .content.aws-slide-home.text-reverse .component-content .container.slide-caption * .btn-info:focus, .rich-text.aws-slide-home.text-reverse .component-content .container.slide-caption * .btn-info:hover, .rich-text.aws-slide-home.text-reverse .component-content .container.slide-caption * .btn-info:active, .rich-text.aws-slide-home.text-reverse .component-content .container.slide-caption * .btn-info:focus {
  background: #FFFFFF;
  color: #424242;
}

.content.aws-slide-home.text-reverse .component-content .container.slide-caption * .btn-default, .rich-text.aws-slide-home.text-reverse .component-content .container.slide-caption * .btn-default {
  color: #cc0000;
}

.content.aws-slide, .rich-text.aws-slide {
  background-color: #0e142a;
  /* For browsers that do not support gradients */
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #067385 0%, #0e142a 50%);
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-linear-gradient(315deg, #067385 0%, #0e142a 50%);
  background: linear-gradient(135deg, #067385 0%, #0e142a 50%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#067385', endColorstr='#0e142a',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  position: relative;
}

@media only screen and (max-width: 991px) {
  .content.aws-slide .container.caption, .rich-text.aws-slide .container.caption {
    width: 100%;
    padding: 30px;
  }
}

.content.aws-slide .slide-image img, .rich-text.aws-slide .slide-image img {
  width: 100%;
  height: auto;
}

.content.aws-slide .caption, .rich-text.aws-slide .caption {
  color: #fff;
  text-align: left;
  padding: 40px 15px;
  position: static;
}

.content.aws-slide .caption .field-slidetext, .rich-text.aws-slide .caption .field-slidetext {
  max-width: 100%;
}

@media only screen and (min-width: 992px) {
  .content.aws-slide .caption .field-slidetext, .rich-text.aws-slide .caption .field-slidetext {
    max-width: 50%;
  }
}

@media only screen and (min-width: 1200px) {
  .content.aws-slide .caption .field-slidetext, .rich-text.aws-slide .caption .field-slidetext {
    max-width: 30%;
  }
}

.content.aws-slide .caption .field-slidetext h2, .rich-text.aws-slide .caption .field-slidetext h2 {
  color: #fff;
  font-weight: 600;
}

.content.aws-slide .caption .field-slidetext h2:after, .rich-text.aws-slide .caption .field-slidetext h2:after {
  content: "";
  font-weight: 600;
  background-color: #333;
  width: 100px;
  height: 4px;
  margin-top: 10px;
  display: block;
  background-color: #fff;
  margin-top: 20px;
}

.content.aws-slide .caption .link-arrow a, .rich-text.aws-slide .caption .link-arrow a {
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
}

.content.aws-slide .caption .link-arrow a:after, .rich-text.aws-slide .caption .link-arrow a:after {
  color: #fff;
  font-size: 16px;
}

@media only screen and (max-width: 991px) {
  .content.aws-slide .caption, .rich-text.aws-slide .caption {
    background-color: #0e142a;
    /* For browsers that do not support gradients */
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #067385 0%, #0e142a 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: -webkit-linear-gradient(315deg, #067385 0%, #0e142a 100%);
    background: linear-gradient(135deg, #067385 0%, #0e142a 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#067385', endColorstr='#0e142a',GradientType=1 );
    /* IE6-9 fallback on horizontal gradient */
  }
}

@media only screen and (min-width: 992px) {
  .content.aws-slide, .rich-text.aws-slide {
    height: 460px;
    overflow: hidden;
    /*050218 added a container class to the rendering variant to contain the caption content and eliminate need for widths, large paddings */
  }
  .content.aws-slide .slide-image, .rich-text.aws-slide .slide-image {
    text-align: left;
    width: 50%;
    height: 460px;
    text-align: left;
    overflow: hidden;
    -webkit-transform: skewX(-15deg) skewY(0deg);
    -ms-transform: skewX(-15deg) skewY(0deg);
    transform: skewX(-15deg) skewY(0deg);
    margin-right: -65px;
    position: absolute;
    right: 0;
  }
  .content.aws-slide .slide-image img, .rich-text.aws-slide .slide-image img {
    -webkit-transform: skewX(15deg) skewY(0deg);
    -ms-transform: skewX(15deg) skewY(0deg);
    transform: skewX(15deg) skewY(0deg);
    height: 100%;
    width: auto;
    max-width: initial;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .content.aws-slide .caption, .rich-text.aws-slide .caption {
    font-size: 18px;
    /*padding-top: 80px;
            padding-bottom: 80px;
            padding-right: 500px;
            width: 970px;
            min-height: 460px;*/
    margin: 0 auto;
    position: relative;
    z-index: 9;
  }
  .content.aws-slide .caption p, .rich-text.aws-slide .caption p {
    margin-bottom: 15px;
  }
}

@media only screen and (min-width: 1200px) {
  .content.aws-slide, .rich-text.aws-slide {
    height: 510px;
    /*.caption {
            width: 1170px;
            min-height: 510px;
            padding-right: 780px;
        }*/
  }
  .content.aws-slide .slide-image, .rich-text.aws-slide .slide-image {
    width: 66.666666%;
    height: 510px;
    margin-right: -75px;
    bottom: 0;
    z-index: 10;
  }
  .content.aws-slide .slide-image img, .rich-text.aws-slide .slide-image img {
    width: 108%;
    height: auto;
    left: -110px;
    bottom: -18px;
  }
}

@media only screen and (min-width: 1400px) {
  .content.aws-slide .slide-image, .rich-text.aws-slide .slide-image {
    margin-right: -140px;
  }
  .content.aws-slide .slide-image img, .rich-text.aws-slide .slide-image img {
    width: 104%;
    left: -140px;
    bottom: -40px;
  }
}

.content.blog-article .author-image, .content.blog-article .author, .content.blog-article .article-date, .rich-text.blog-article .author-image, .rich-text.blog-article .author, .rich-text.blog-article .article-date {
  float: left;
  display: block;
}

.content.blog-article .author-image, .rich-text.blog-article .author-image {
  width: 54px;
  height: 54px;
  margin-right: 10px;
  /*margin-bottom: 15px;*/
  border-radius: 50%;
}

.content.blog-article .author-image img, .rich-text.blog-article .author-image img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.content.blog-article .author, .content.blog-article .article-date, .rich-text.blog-article .author, .rich-text.blog-article .article-date {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 30px;
}

.content.blog-article .article-date:before, .rich-text.blog-article .article-date:before {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: -.125em;
  font-family: 'Font Awesome 5 Pro';
  color: #555;
  content: "\f073";
  font-size: 24px;
  padding-right: 8px;
  float: left;
}

.content.blog-article .blog-content, .rich-text.blog-article .blog-content {
  padding-top: 20px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  display: block;
  clear: both;
  border-bottom: 1px solid #d2d2d2;
}

.content.blog-article .blog-content a, .rich-text.blog-article .blog-content a {
  color: #cc0000;
  vertical-align: baseline;
  text-decoration: underline;
}

.content.blog-article .blog-content a:hover, .content.blog-article .blog-content a:active, .content.blog-article .blog-content a:focus, .rich-text.blog-article .blog-content a:hover, .rich-text.blog-article .blog-content a:active, .rich-text.blog-article .blog-content a:focus {
  color: #cc0000;
  text-decoration: none;
}

.content.blog-article .blog-content img, .rich-text.blog-article .blog-content img {
  margin-bottom: 20px;
}

@media only screen and (max-width: 991px) {
  .content.blog-article .blog-content img, .rich-text.blog-article .blog-content img {
    width: 100%;
    height: auto;
  }
}

.content.blog-article .blog-content h2, .content.blog-article .blog-content h3, .content.blog-article .blog-content h4, .content.blog-article .blog-content h5, .content.blog-article .blog-content h6, .rich-text.blog-article .blog-content h2, .rich-text.blog-article .blog-content h3, .rich-text.blog-article .blog-content h4, .rich-text.blog-article .blog-content h5, .rich-text.blog-article .blog-content h6 {
  font-weight: 700;
}

.content.blog-article .blog-content h2, .rich-text.blog-article .blog-content h2 {
  font-size: 36px;
  margin-top: 30px;
  /*target the parent p
            p & {
                margin-bottom:0;
            }*/
}

.content.blog-article .blog-content h3, .rich-text.blog-article .blog-content h3 {
  font-size: 30px;
}

.content.blog-article .blog-content h4, .rich-text.blog-article .blog-content h4 {
  font-size: 24px;
}

.content.blog-article .blog-content h5, .rich-text.blog-article .blog-content h5 {
  font-size: 20px;
}

.content.blog-article .blog-content h6, .rich-text.blog-article .blog-content h6 {
  font-size: 16px;
}

@media only screen and (max-width: 991px) {
  .content.blog-article .blog-content h2, .rich-text.blog-article .blog-content h2 {
    font-size: 34px;
  }
}

@media only screen and (max-width: 767px) {
  .content.blog-article .blog-content h2, .rich-text.blog-article .blog-content h2 {
    font-size: 34px;
  }
  .content.blog-article .blog-content h3, .rich-text.blog-article .blog-content h3 {
    font-size: 28px;
  }
  .content.blog-article .blog-content h4, .rich-text.blog-article .blog-content h4 {
    font-size: 22px;
  }
  .content.blog-article .blog-content h5, .rich-text.blog-article .blog-content h5 {
    font-size: 20px;
  }
  .content.blog-article .blog-content h6, .rich-text.blog-article .blog-content h6 {
    font-size: 16px;
  }
}

.content.blog-article .tag-list, .rich-text.blog-article .tag-list {
  float: left;
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
}

.content.blog-article .tag-list .component-content:before, .rich-text.blog-article .tag-list .component-content:before {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: -.125em;
  font-family: 'Font Awesome 5 Pro';
  color: #555;
  content: "\f02c";
  font-size: 24px;
  padding-right: 8px;
  float: left;
}

.content.blog-article .tag-list span.field-title > a, .rich-text.blog-article .tag-list span.field-title > a {
  color: #333;
  background: transparent;
  border-radius: 0;
  display: inline-block;
  height: 24px;
  line-height: 24px;
  padding: 0 10px 0 18px;
  margin-right: 0;
}

.content.blog-article .tag-list span.field-title > a:before, .rich-text.blog-article .tag-list span.field-title > a:before {
  background: #555;
  left: 0;
}

.content.blog-article .tag-list span.field-title > a:after, .rich-text.blog-article .tag-list span.field-title > a:after {
  content: none;
  background: transparent;
  border-left: none;
}

.content.blog-article .tag-list span.field-title:first-child > a, .rich-text.blog-article .tag-list span.field-title:first-child > a {
  padding: 0 10px 0 0;
}

.content.blog-article .tag-list span.field-title:first-child > a:before, .rich-text.blog-article .tag-list span.field-title:first-child > a:before {
  content: none;
}

.content.content-page-icon .title-icon, .rich-text.content-page-icon .title-icon {
  color: #fff;
  text-align: center;
  background-color: #50d2c2;
  width: 80px;
  height: 80px;
  font-size: 50px;
  margin: -40px auto 15px;
  position: relative;
  border-radius: 50%;
  z-index: 1;
  display: table;
  vertical-align: middle;
}

.content.content-page-icon .title-icon .fa, .content.content-page-icon .title-icon .fal, .rich-text.content-page-icon .title-icon .fa, .rich-text.content-page-icon .title-icon .fal {
  vertical-align: middle;
}

.content.content-page-icon .title-icon a, .rich-text.content-page-icon .title-icon a {
  color: #fff;
  text-align: center;
  border-radius: 50%;
  display: table-row;
  text-decoration: none;
}

.content.content-page-icon .title-icon a span, .rich-text.content-page-icon .title-icon a span {
  display: table-cell;
}

@media only screen and (min-width: 768px) {
  .content.content-page-icon .title-icon, .rich-text.content-page-icon .title-icon {
    width: 100px;
    height: 100px;
    font-size: 60px;
    margin: -50px auto 15px;
  }
}

@media only screen and (min-width: 992px) {
  .content.content-page-icon .title-icon, .rich-text.content-page-icon .title-icon {
    width: 120px;
    height: 120px;
    font-size: 80px;
    margin: -60px auto 15px;
  }
}
