@charset "UTF-8";
/* breakpoints */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.overlay, .search-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  display: none;
  text-align: center;
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
}

.overlay.component, .search-overlay.component {
  margin: 0;
}

.overlay > .component-content, .search-overlay > .component-content {
  border-radius: 5px;
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  background: rgba(14, 20, 42, 0.86);
  padding: 0 0 25px;
  margin: 100px auto auto auto;
  max-width: 90%;
  left: 0;
  right: 0;
  overflow: hidden;
}

.overlay > .component-content .component, .search-overlay > .component-content .component {
  margin: 0;
  margin-top: -10px;
}

.overlay > .component-content .component.image img, .search-overlay > .component-content .component.image img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.overlay .overlay-inner, .search-overlay .overlay-inner {
  min-width: 25px;
  max-height: inherit;
  height: inherit;
  overflow: auto;
}

.overlay .overlay-inner.overlay-percent, .search-overlay .overlay-inner.overlay-percent {
  max-height: 100%;
  height: auto;
}

.overlay .overlay-inner #InnerCenter, .search-overlay .overlay-inner #InnerCenter {
  width: auto;
  height: auto;
}

.overlay .overlay-inner .rich-text, .search-overlay .overlay-inner .rich-text {
  color: #fff;
}

.overlay .overlay-inner .rich-text h6, .search-overlay .overlay-inner .rich-text h6 {
  color: #fff;
  margin-bottom: 2px;
}

.overlay .overlay-inner .rich-text ul, .search-overlay .overlay-inner .rich-text ul {
  padding: 0;
  margin: 0 0 20px 0.9em;
}

.overlay .overlay-inner .rich-text ul.list-inline, .search-overlay .overlay-inner .rich-text ul.list-inline {
  margin-left: 0;
}

.overlay .overlay-inner .rich-text ul.list-inline li, .search-overlay .overlay-inner .rich-text ul.list-inline li {
  margin: 0;
}

.overlay .overlay-inner .rich-text li, .search-overlay .overlay-inner .rich-text li {
  padding: 0;
  margin: 0 0 0 2px;
}

@media only screen and (max-width: 991px) {
  .overlay .overlay-inner .rich-text, .search-overlay .overlay-inner .rich-text {
    margin-top: 30px;
    padding: 0 15px 15px;
  }
}

.overlay .overlay-inner:focus, .search-overlay .overlay-inner:focus {
  border: 1px solid #cccccc;
}

.overlay .overlay-close, .search-overlay .overlay-close {
  color: #fff;
  cursor: pointer;
  font-size: 30px;
  position: absolute;
  top: -10px;
  right: 25px;
  z-index: 1;
}

.overlay .overlay-close-link:focus, .search-overlay .overlay-close-link:focus {
  color: #cccccc;
  outline: none;
}

.overlay .overlay-close-link:hover, .search-overlay .overlay-close-link:hover {
  color: #cccccc;
}

.overlay .overlay-close-link, .search-overlay .overlay-close-link {
  text-decoration: none;
  color: #fff;
  font-size: 50px;
  font-weight: 700;
  position: relative;
  top: 0;
  left: 0;
}

.overlay > .component-content .modal-title, .search-overlay > .component-content .modal-title {
  color: #fff;
  text-align: left;
  background: rgba(14, 20, 42, 0.7);
  padding: 15px 30px;
  margin: 0 0 40px 0;
  position: relative;
}

.overlay > .component-content .modal-title h2, .overlay > .component-content .modal-title h3, .overlay > .component-content .modal-title h4, .search-overlay > .component-content .modal-title h2, .search-overlay > .component-content .modal-title h3, .search-overlay > .component-content .modal-title h4 {
  color: #fff;
  font-weight: 600;
  text-align: left;
  padding: 0;
  margin-bottom: 0;
}

.overlay .button, .search-overlay .button {
  margin-bottom: 30px;
}

/* this css class is used on overlay page */
.overlay-page {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(../Images/overlay-bg.png);
  z-index: 9999;
  text-align: center;
  width: 100%;
  margin: 0;
}

.overlay-page > .component-content {
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  *display: inline;
  background-color: #E6E6E6;
  border-radius: 5px;
  position: relative;
  padding: 10px 10px 25px;
  margin: 100px 60px 60px;
  max-width: 90%;
  background: rgba(14, 20, 42, 0.86);
}

.overlay-page > .component-content .component {
  margin: 0;
}

.overlay-page > .component-content .component.image img {
  width: 100%;
}

.overlay-page .overlay-inner {
  min-width: 25px;
  height: inherit;
  max-height: inherit;
  min-height: 135px;
  overflow: auto;
}

.overlay-page .overlay-inner.overlay-percent {
  max-height: 100%;
  height: auto;
}

.overlay-page .overlay-inner.overlay-percent.edit {
  max-height: inherit;
}

.overlay-page .overlay-inner:focus {
  border: 1px solid #cccccc;
}

.overlay-page .overlay-close {
  bottom: 8px;
  color: #000;
  cursor: pointer;
  font-size: 30px;
  position: absolute;
  right: -5px;
  bottom: -15px;
}

.overlay-page .overlay-close-link:focus {
  color: #fff;
}

.overlay-page .overlay-close-link:hover {
  color: #cccccc;
}

.overlay-page .overlay-close-link {
  text-decoration: none;
}

#wrapper.overlay-page {
  margin-bottom: -80px;
}

body.preview .overlay-page {
  position: fixed;
}

.overlay-page .main {
  width: 100%;
}

.on-page-editor .overlay .overlay-inner {
  margin: auto;
}

.on-page-editor .overlay .overlay-inner .rich-text {
  color: #fff;
}

.on-page-editor .overlay .overlay-inner .btn-default {
  color: #fff;
  border-color: #fff;
}

.on-page-editor .overlay-page {
  z-index: 9000;
}

#wrapper {
  opacity: 1;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

#wrapper.wrap-hide {
  opacity: 0;
  -ms-transform: scale(0.8, 0.8);
  -webkit-transform: scale(0.8, 0.8);
  transform: scale(0.8, 0.8);
}

#searchWrap {
  display: none;
}

.search-overlay {
  position: fixed;
  top: auto;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  text-align: center;
  width: 100%;
  opacity: 0;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.search-overlay > .component-content {
  border-radius: 0;
  background: transparent;
  width: 100%;
  height: 100%;
  height: 100vh;
  padding: 0;
  margin: auto;
  max-width: 100%;
}

.search-overlay > .component-content .overlay-close {
  padding: 0 5px;
  opacity: 0;
  -ms-transform: scale(0, 0) translate(0, -50px);
  -webkit-transform: scale(0, 0) translate(0, -50px);
  transform: scale(0, 0) translate(0, -50px);
  -webkit-transition: all 0.6s ease-in;
  transition: all 0.6s ease-in;
  -webkit-transition-timing-function: cubic-bezier(0.6, 1, 0.4, 1);
  transition-timing-function: cubic-bezier(0.6, 1, 0.4, 1);
}

.search-overlay > .component-content .overlay-close.show {
  opacity: 1;
  -ms-transform: scale(1, 1) translate(0, 0);
  -webkit-transform: scale(1, 1) translate(0, 0);
  transform: scale(1, 1) translate(0, 0);
  -webkit-transition: all 0.6s ease-in;
  transition: all 0.6s ease-in;
  -webkit-transition-timing-function: cubic-bezier(0.6, 1, 0.4, 1);
  transition-timing-function: cubic-bezier(0.6, 1, 0.4, 1);
}

.search-overlay > .component-content .component {
  margin: 0;
}

.search-overlay > .component-content .overlay-inner .search-box {
  color: #dce6e6;
  background-color: #0e142a;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #067385, #0e142a);
  /* For Safari 5.1 to 6.0 */
  /* For Opera 11.1 to 12.0 */
  /* For Firefox 3.6 to 15 */
  background: -webkit-linear-gradient(top left, #067385, #0e142a);
  background: linear-gradient(to bottom right, #067385, #0e142a);
  /* Standard syntax */
  width: 100%;
  height: 50%;
  height: 50vh;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  opacity: 0;
  -ms-transform: translate(0, -100%);
  -webkit-transform: translate(0, -100%);
  transform: translate(0, -100%);
  -webkit-transition: all 0.6s ease-in;
  transition: all 0.6s ease-in;
  -webkit-transition-timing-function: cubic-bezier(0.4, 1, 0.2, 1);
  transition-timing-function: cubic-bezier(0.4, 1, 0.2, 1);
}

.search-overlay > .component-content .overlay-inner .search-box .facet-heading, .search-overlay > .component-content .overlay-inner .search-box > label {
  display: none;
}

.search-overlay > .component-content .overlay-inner .search-box .facet-heading label, .search-overlay > .component-content .overlay-inner .search-box .facet-heading .clear-filter, .search-overlay > .component-content .overlay-inner .search-box > label label, .search-overlay > .component-content .overlay-inner .search-box > label .clear-filter {
  display: none;
}

.search-overlay > .component-content .overlay-inner .search-box .component-content {
  width: 75%;
  max-width: 900px;
  margin: 0 auto;
  border-bottom: solid 4px #c5cedc;
}

.search-overlay > .component-content .overlay-inner .search-box input[type="text"], .search-overlay > .component-content .overlay-inner .search-box .search-box-input {
  color: #fff;
  font-size: 18px;
  background-color: transparent !important;
  width: auto;
  height: auto;
  padding: 10px 0;
  border: none;
  box-shadow: none;
}

.search-overlay > .component-content .overlay-inner .search-box .search-box-button-with-redirect {
  color: #c5cedc;
  font-size: 0;
  text-align: right;
  background: transparent !important;
  border: none;
  width: auto;
  height: auto;
  padding: 0;
  margin: 0 1px 0 5px;
  box-shadow: none;
}

.search-overlay > .component-content .overlay-inner .search-box .search-box-button-with-redirect:before {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: -.125em;
  font-family: 'Font Awesome 5 Pro';
  content: "\f002";
  color: #FFFFFF;
  font-size: 24px;
}

.search-overlay > .component-content .overlay-inner .search-box .search-box-button-with-redirect:hover {
  color: #fff;
}

.search-overlay > .component-content .overlay-inner .rich-text {
  color: #c5cedc;
  background-color: #0e142a;
  width: 100%;
  height: 50%;
  height: 50vh;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 50%;
  opacity: 0;
  -ms-transform: translate(0, 100%);
  -webkit-transform: translate(0, 100%);
  transform: translate(0, 100%);
  -webkit-transition: all 0.6s ease-in;
  transition: all 0.6s ease-in;
  -webkit-transition-timing-function: cubic-bezier(0.4, 1, 0.2, 1);
  transition-timing-function: cubic-bezier(0.4, 1, 0.2, 1);
}

.search-overlay > .component-content .overlay-inner .rich-text .component-content {
  width: 75%;
  max-width: 900px;
  margin: 0 auto;
}

.search-overlay > .component-content .overlay-inner .rich-text .component-content ul.list-inline li a {
  color: #c5cedc;
  text-decoration: none;
  padding-left: 10px;
}

.search-overlay > .component-content .overlay-inner .rich-text .component-content ul.list-inline li a:hover {
  color: #fff;
}

.search-overlay > .component-content .overlay-inner .rich-text .component-content ul.list-inline li a:before {
  content: "•";
  font-size: 1.2em;
  vertical-align: middle;
  left: -7px;
  position: relative;
}

.search-overlay > .component-content .overlay-inner .rich-text .component-content ul.list-inline li:first-child {
  padding-left: 0;
}

.search-overlay > .component-content .overlay-inner .rich-text .component-content ul.list-inline li:first-child a {
  padding-left: 0;
}

.search-overlay > .component-content .overlay-inner .rich-text .component-content ul.list-inline li:first-child a:before {
  content: none;
}

.search-overlay > .component-content .overlay-inner .rich-text .component-content h3 {
  color: #fff;
  color: #c5cedc;
}

.search-overlay > .component-content .overlay-inner.content-open .search-box, .search-overlay > .component-content .overlay-inner.content-open .rich-text {
  opacity: 1;
  -ms-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.search-overlay.search-open {
  top: 0;
  opacity: 1;
  height: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  visibility: visible;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

.search-overlay.search-open > .component-content .overlay-inner .search-box {
  opacity: 1;
}

.search-overlay.search-open > .component-content .overlay-inner .rich-text {
  opacity: 1;
}

@media only screen and (max-width: 767px) {
  .search-overlay > .component-content .overlay-close {
    right: 10px;
  }
  .search-overlay > .component-content .overlay-inner .search-box {
    height: 30%;
    height: 30vh;
  }
  .search-overlay > .component-content .overlay-inner .search-box .component-content {
    width: 85%;
    margin-top: 15px;
  }
  .search-overlay > .component-content .overlay-inner .rich-text {
    height: 70%;
    height: 70vh;
    top: 30%;
  }
  .search-overlay > .component-content .overlay-inner .rich-text .component-content {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .search-overlay > .component-content .overlay-inner .search-box input[type="text"], .search-overlay > .component-content .overlay-inner .search-box .search-box-input {
    font-size: 24px;
  }
  .search-overlay > .component-content .overlay-inner .search-box .search-box-button-with-redirect:before {
    font-size: 36px;
  }
  .search-overlay > .component-content .overlay-inner .rich-text li, .search-overlay > .component-content .overlay-inner .rich-text li a {
    font-size: 18px;
  }
}

@media only screen and (min-width: 992px) {
  .search-overlay > .component-content .overlay-inner .search-box input[type="text"], .search-overlay > .component-content .overlay-inner .search-box .search-box-input {
    font-size: 32px;
  }
}
