@import "../../abstracts/vars";
@import "../../base/fontawesome/mixins";
@import "../../base/fontawesome/variables";
.page-selector {
    text-align: center;
    padding: 10px 0 0 0;

    .page-selector-list {
        li {
            display: inline-block;
            vertical-align: middle;

            &.inactive {
                a {
                    //color: $text-disabled;
                    color:transparent;
                    cursor: default;
                }
            } 
            &.active {
                background-color:$text-red;
                color:$text-white;
            }
        }
    }

    a {
        text-decoration: none;
        font-weight: bold;
        font-size: $font-normal;
    }

    .page-selector-item-first, .page-selector-item-previous, 
    .page-selector-item-last, .page-selector-item-next, .page-selector-item-link {
        margin-left: 5px;
        @include border-basic();
        border-radius:4px;
        display: block;
        text-decoration: none;
        height: 28px;
        line-height: 22px;  
        padding: 2px 9px;
        color:$text-red;
        a {color:$text-red}
    }

    .page-selector-item-first a, .page-selector-item-previous a, 
    .page-selector-item-last a, .page-selector-item-next a {
        @include fa-icon();
        //visibility: hidden;
        color:transparent;
        position: relative;
        &::after {
            //visibility:visible;
            position:relative;
            top:-2px;
            color:$text-red;
        }
    } 

    .page-selector-item-first, .page-selector-item-previous, 
    .page-selector-item-last, .page-selector-item-next, .page-selector-item-link {
        &.active, &:hover, &:focus {
            background: $search-pagination-hover-bg;
            color: $search-pagination-hover-color;
            a {
                //color: $search-pagination-hover-color;
                color:transparent;
                &::after {
                    color:$text-white;
                }
            }
        }
        &.inactive {
            a {
                color:transparent;
                &::after {
                    color:$text-gray;
                }
            }
            &:hover, &:focus {
                background:transparent;
                //color: $text-disabled;
                color:transparent;
                a {
                    color:transparent;
                    &::after {
                        color:$text-gray;
                    }
                }
            }
        }
    }
    
    .page-selector-item-first {
        a {
            &::after {
                content: fa-content($fa-var-angle-double-left);
            }
        }
    }
    .page-selector-item-previous {
        a {
            &::after {
                content: fa-content($fa-var-angle-left);
            }
        }
    }
    .page-selector-item-last {
        a {
            &::after {
                content: fa-content($fa-var-angle-double-right);
            }
        }
    }
    .page-selector-item-next {
        a {
            &::after {
                content: fa-content($fa-var-angle-right);
            }
        }
    }
}