.column-header-search {
    .search-box {
        margin: 0;
        //padding: 2px 10px 0 10px;
        padding: 0 13px;
    }
}
.search-box {
    @import "../reset/inputs";
    @import "../typehead/typehead";
    position: relative;
    padding: 14px 0;
    box-sizing: border-box;

    @include respond-to(all-phone) {
        width: 54px;
        height: 70px;
        position: absolute;
        right: 56px;
    }

    @include respond-to(desktop) {
        padding: 16px 0;
    }
    @include respond-to(large) {
        padding: 18px 0;
    }
    &.hide-button {
        .search-box-button {
            display: none;
        }
    }
    //AWS
    input[type="submit"], input[type="reset"], input[type="button"], button {
        border: 0;
        padding: 5px;

        &:hover {
            background:transparent !important;
        }
    }
    &.icon-only {
        width: 40px;
        height: 69px;
        margin-left: -40px;
        float: right;
        z-index:99;

        button, button[type="submit"] {
            border: none;
            color: transparent;
            padding: 5px;
            margin: 0;
            box-shadow: none;
        }
    }

    .component-content {
        display: flex;

        > label, > input, > button {
            display: inline-block;
        }

        > label, > button {
            flex-grow: 1;
        }
        //AWS - needs to only apply to the #header
        > button {
            color: transparent;
            border: 0;
            background: transparent !important;
        }

        > button::after {
            //position: relative;
            //top: -2px;
            //font-family: Font Awesome 5 Pro;
            //font-size: 1.2em;
            font-size: 16px;
            @include fa-icon();
            content: fa-content($fa-var-search);
            font-weight:400;
            color: #000;
            ///AWS
            position: absolute;
            margin-top: -9px; /*-12px*/
            top: 50%;
            left: 0;
            right: 0;

            @include respond-to(all-phone) {
                font-size: 28px;
                margin-top: -22px;
            }
            @include respond-to(large) {
                font-size: 18px;
            }
        }

        > button:hover::after {
            color: #cc0000;
        }
        //
        > input {
            width: auto;
            flex-grow: 10;
            margin: 0 5px;
        }

        > label {
            align-self: center;
            text-align: center;
        }

        > .twitter-typeahead {
            flex-grow: 10;
            margin: 0 5px;
        }
    }

    .search-box-input {
        position: relative;

        &.tt-hint {
            margin-top: 0;
        }
    }
}