@import "abstracts/mixins";
@import "abstracts/vars";

.load-more {
    @import "../reset/inputs";

    //AWS
    &.btn-lg {
        padding: 10px 16px;
        font-size: 18px;
        line-height: 1.3333333;
        border-radius: 6px;
    }
    input[type="button"] {
        @include raleway-font-stack();
        color: $text-red;
        font-size: $font-normal;
        font-weight: 700;
        text-decoration: none;
        padding: 10px 15px;
        display: inline-block;
        background-color: $bg-white;
        border: solid 2px $text-red;
        border-radius: 0;

        &:hover, &:focus {
            color: $text-white;
            background-color: $bg-red;
        }
    }
}
